<template>
  <aside>
    <ul class="list">
      <li>CATEGORIE</li>
      <li v-for="(category,index) in categories" :key="index" @click="chooseCategory(category.id)">
        {{category.name}}
        <ul class="sub-list" v-if="category.children.length > 0">
          <li v-for="(subcategory,index_sub) in category.children" :key="index_sub" @click.stop="chooseCategory(subcategory.id)">- {{subcategory.name}}</li>
        </ul>
      </li>
    </ul>
  </aside>
</template>

<script>
  export default {
    name: 'CategorySidebar',
    data(){
      return{
        choosed_category: null,
      }
    },
    props:{
      categories : Array,
      blog: Boolean
    },
    methods: {
      chooseCategory (val) {
        this.choosed_category = val
        if(this.blog)
          this.$emit('choosed_category',this.choosed_category)
        else{
          this.$store.dispatch('setChoosedCategory',{category:this.choosed_category})
          this.$router.push('/blog')
        }


      },
    },

  }
</script>

<style scoped>
  .list{
    border: none;
    list-style: none;
    margin: 0;
    padding: 22px 0 28px 0 ;
    background: #fff;
    font-family: 'FiraSans-Regular';
  }
  .list li{
    padding: 12px 0 0;
    padding-left: 38px;
    font-size: 16px;
    line-height: 24px;
    color:#333333;
  }
  .list>li:first-child{
    background: #1b467b;
    padding: 18px 0 18px 38px;
    color: white;
  }
  .sub-list{
    padding: 0;
    list-style: none;
  }
  .sub-list li{
    padding: 5px;
    padding-left: 20px;
  }
</style>
