<template>
    <div class="footerMenu">
        <footer id="footer" class="footer">
            <div class="container">
                <div class="footer-row-first">
                    <div class="footer-elem list">
                    Copyright@ Spotlessitalia.com | Sany Group Srl | <br>P.iva 09441590966  REA MI-2090558 | <a href="mailto:Sanygroupsrl@lamiapec.it">Sanygroupsrl@lamiapec.it</a>
                    </div>
                  <subscribe-component :is-personal-area="false"></subscribe-component>
                    <div class="footer-elem social">
                <ul>
                    <li class="hidden"><a href="#" target="_blank" class="tw"></a></li>
                    <li class="hidden"><a href="#" target="_blank" class="sk"></a></li>
                    <li><a href="https://www.facebook.com/SpotlessIt" target="_blank" class="fc"></a></li>
                    <li class="hidden"><a href="#" target="_blank" class="gl"></a></li>
                    <li class="hidden"><a href="#" target="_blank" class="tm"></a></li>
                </ul>
                    </div>
                    <div class="footer-elem payment">
						<img src="../../assets/images/pay-cards.png">
                    </div>
                </div>
                <div class="footer-row-second">
                    <div class="list">
                        <ul>
                            <li><router-link to="privacy">Privacy</router-link></li>
                            <li><router-link to="conditions"> Condizioni Generali</router-link></li>
                            <li><router-link to="contact-us"> Contattaci</router-link></li>
                            <!--<li><a href="#">Temps</a></li>-->
                            <!--<li><a href="#">Cansellation Policy</a></li>-->
                        </ul>
                    </div>
                    <div class="copyrights">Viale Monte Ceneri, 36, Milano - Numero di telefono
                        &nbsp;<a href="tel:+393500602222">+393500602222</a> &nbsp;| E-mail&nbsp; <a href="mailto:info@spotlessitalia.com">info@spotlessitalia.com</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>

  import SubscribeComponent from '../SubscribeComponent'

  export default {
    name: 'footerMenu',
    data () {
      return {}
    },
    components:{
      SubscribeComponent
    }
  }
</script>
