<template>
    <div class="headerMenu">
        <header id="header" class="header navbar-fixed-top">
            <div class="container header-container">
                <div class="logo">
                    <router-link :to="{name: 'Home'}" href="#"><img src="../../assets/images/Spotless3.png"></router-link>
                </div>
                <nav class="navbar navbar-default header-nav">
                    <div class="navbar-header">
                        <button id="nav-icon3" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse nav" id="bs-example-navbar-collapse-1">
                        <div>
                            <ul class="list">
                                <!--<li>-->
                                    <!--<router-link :to="{name: 'Subscriptions'}">-->
                                        <!--Abbonamenti-->
                                    <!--</router-link>-->
                                <!--</li>-->
                                <li>
                                    <router-link :to="{name: 'faq'}">
                                        Info
                                    </router-link>
                                </li>
                                <!--<li>-->
                                    <!--<router-link :to="{name: 'tariffs'}">-->
                                        <!--Tariffe-->
                                    <!--</router-link>-->
                                <!--</li>-->
                                <li>
                                    <router-link :to="{name: 'newEmployee'}">
                                        Lavora con noi
                                    </router-link>
                                </li>
                                <!--<li>-->
                                    <!--<router-link :to="{name: 'employees'}">-->
                                        <!--Nostri addetti-->
                                    <!--</router-link>-->
                                <!--</li>-->
                                <li v-if="user" class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <span v-if="user.name">{{ user.name }}</span>
                                        <span v-if="!user.name">{{ user.firm_name }}</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <router-link :to="{name: 'PersonalArea'}" v-if="user" class="dropdown-toggle">
                                                Area personale
                                            </router-link>
                                        </li>
                                        <li>
                                            <a href="#" @click="logOut">Log out</a>
                                        </li>
                                    </ul>
                                </li>
                                <li v-if="!user" class="login-logout-btn">
                                    <router-link :to="{name: 'Login'}" class="btn btn-default btn-accedi logoutbtn">
                                        ACCEDI / REGISTRATI
                                    </router-link>
                                </li>
                                <li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</template>

<script>
  export default {
    name: 'headerMenu',
    data () {
      return {}
    },
    computed: {
      user () {
          return this.$store.getters.getUser || null
      }
    },
    methods: {
      logOut () {
        this.$auth.deleteToken()
        this.$store.dispatch('logOutUser', () => {
          this.$router.push({name: 'Home'})
        })
      }
    },
    beforeCreate () {
      this.$store.dispatch('getCurrentUser')
    }
  }
</script>
<style scoped lang="sass">
    @import "../../assets/css/service.css"
    @import "../../assets/css/flatpickr.min.css"
    @import "../../assets/css/custom.css"
</style>
