<template>
    <transition name="slide-fade"
    v-on:after-enter="afterEnter">
        <section class='section-title' v-if="realtyTypeId !== 2" key="house">
                <div class='title-img' id='demo'>
                </div>
        </section>
        <section class='section-title' v-else="" key="office">
            <div class="title-img office-image">
            </div>
        </section>
    </transition>
</template>
<script>
  import bgCompare from '../../assets/js/bgCompare'

  export default {
    name: 'mainSlider',
    data () {
      return {}
    },
    computed: {
      firstImage () {
        return this.$store.getters.getFirstImage
      },
      secondImage () {
        return this.$store.getters.getSecondImage
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      }
    },
    mounted () {
      this.initSlider()
    },
    methods: {
      afterEnter () {
        if (this.realtyTypeId === 1) {
          this.initSlider()
        }
      },
      initSlider () {
        bgCompare({
          beforeImage: this.firstImage,
          afterImage: this.secondImage,
          bgSize: 'cover',
          targetId: 'demo',
          handleTheme: 'dark-theme',
          sliderPos: '48%'
        })
        this.$el.querySelector('#dark-theme').addEventListener('mousedown', this.mouseDown)
        this.$el.querySelector('#dark-theme').addEventListener('mouseup', this.mouseUp)
      },
      mouseDown () {
        this.$emit('mousedown')
      },
      mouseUp () {
        this.$emit('mouseup')
      }
    },
    beforeCreate () {
      if (this.realtyTypeId === null) {
        this.$store.dispatch('setRealtyTypeId', 1)
      }
    }
  }
</script>
<style scoped lang='sass'>
    @import '../../assets/css/bgCompare.css'
</style>
