<template>
  <div>
    <h2>{{subscription.title}}</h2>
    <p>tariffa oraria</p>
    <p class="subscription-price">{{getTarif != first_price ? (hours * getTarif + abonementPrice).toFixed(2) : first_price.toFixed(2)}} €</p>
    <select name="" id="" v-model="tarif"
            style="display: block;
              width: 213px;
              padding: 5px;
              margin: 0 auto;">
      <option v-for="(current,index) in subscription.frequency" :value="[current.price,current.count]" selected>{{current.frequency}}</option>
    </select>
    <img src="../../assets/images/subscription-img.png" alt="subscription-img"
         class="img-responsive">

    <button @click="chooseSubscription(subscription)" type="button" class="btn btn-default" style="margin-bottom: 10px;">Scegli</button>
    <p style="text-transform: none;" v-if="subscription.id===4">Nessun addebito anticipato, paghi solo dopo il servizio, puoi cancellare l'abbonamento in qualsiasi momento, anche dopo un solo servizio, modifica e cancellazione gratuite fino a 24h prima. </p>
    <p style="text-transform: none;" v-else>Nessun addebito anticipato, paghi solo dopo il servizio, puoi cancellare l'abbonamento in qualsiasi momento, anche dopo un solo servizio, detergenti di qualità inclusi, tariffa migliore, modifica e cancellazione gratuite fino a 24h prima.</p>
  </div>

</template>

<script>
  import priceService from '../../api/priceService'

  export default {
    name: 'selectComponent',
    data(){
      return {
        tarif:[],
        first_price:0
      }
    },
    props:{
      subscription:Object
    },
    mounted(){
      priceService.calculatePriceFromMeters(this.$store.getters.getMeters, this.$store.getters.getRealtyTypeId).then(response => {
        this.first_price = response.data.data.price + this.abonementPrice
      })
      this.tarif = [this.subscription.frequency[0].price,this.subscription.frequency[0].count]
      this.tarif = [this.subscription.frequency[0].price,this.subscription.frequency[0].count]
      //this.first_price = this.$store.getters.getPrice
    },
    computed:{
      price () {
        return this.$store.getters.getPrice
      },
      hours () {
        return this.$store.getters.getFlatHours
      },
      getTarif(){
        if(this.subscription.frequency[0].price == 1 && this.subscription.frequency[0].count == 1){
          return this.first_price
        }
        else{
          return parseFloat(this.tarif[0])
        }
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      calcSingleClean(){
        this.$store.dispatch('setFlatMeters',this.$store.getters.getMeters)
      },
      checkedAddServiceObj(){
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      abonementPrice(){
       let add_price_bathrooms = this.bathroom * 8
        return  add_price_bathrooms + this.allAddServicePrice
      },
      allAddServicePrice(){
        let add_price_services = 0
        for (let key in this.checkedAddServiceObj){
          add_price_services += this.checkedAddServiceObj[key].price
        }
        let clear_kit_price = this.clearKit.length > 0 ? 5 : 0
        return  add_price_services + clear_kit_price
      },
      getFrequency(){
        return parseFloat(this.tarif[1])
      },
      bathroom(){
        return this.$store.getters.getBathroom || 0
      },
    },
    methods:{
      chooseSubscription (subscription) {
        if(this.getTarif != this.first_price){
          this.$store.dispatch('setFlatPrice',this.hours * this.getTarif + (this.bathroom * 8))
        }
        else {
          this.$store.dispatch('setFlatPrice',this.first_price - this.allAddServicePrice)
        }
        this.$store.dispatch('setSubscription', subscription)
        this.$store.dispatch('setFrequency', this.getFrequency === null ? 1 : this.getFrequency)
        this.choosenSubscriptionId = subscription.id
        localStorage.setItem('subscription', JSON.stringify(subscription))
      },

    }
  }
</script>

<style scoped>
  .subscription-card h2 {
    color: #02447e;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .subscription-card button{
    position: inherit;
  }
</style>
