<template>
    <section class="third-tab" style="margin: 0 auto; width: 100%">
        <form v-if="user">
            <fieldset class="form-registration">
                <div class="lg-form-inline">
                    <label>Indirizzo del luogo di pulizia</label>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-7 reg-info">
                            <input type="text" title="text" placeholder="Via" v-model="user.address">
                            <div class="alert alert-danger" v-for="err of errors.address">
                                {{ err }}
                            </div>
                        </div>
                        <div class="col-sm-4 reg-info">
                            <input type="text" title="text" class="form-group-elem" placeholder="Numero civico" v-model="user.house_number">
                            <div class="alert alert-danger" v-for="err of errors.house_number">
                                {{ err }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-7 reg-info">
                            <select class="form-control" title="type" v-if="cities" v-model="user.city_id" required>
                                <option rel="icon-temperature" v-for="city of cities" :value="city.id">
                                    {{ city.title }}
                                </option>
                            </select>
                            <div class="alert alert-danger" v-for="err of errors.city_id">
                                {{ err }}
                            </div>
                        </div>
                        <div class="col-sm-4 reg-info">
                            <select class="form-control" title="type" v-if="provinces" v-model="user.province_id">
                                <option rel="icon-temperature" v-for="province of provinces" :value="province.id">
                                    {{ province.title }}
                                </option>
                            </select>
                            <div class="alert alert-danger" v-for="err of errors.province_id">
                                {{ err }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-5 reg-info">
                            <input type="text" title="text" class="form-group-elem" placeholder="CAP" v-model="user.post_index">
                            <div class="alert alert-danger" v-for="err of errors.post_index">
                                {{ err }}
                            </div>
                        </div>
                        <div class="col-sm-3 reg-info">
                            <input type="text" title="text" class="form-group-elem" placeholder="Citofono" v-model="user.domofon">
                        </div>
                        <div class="col-sm-3 reg-info">
                            <input type="text" title="text" placeholder="Etichetta" v-model="user.domofon_text">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 15px">
                    <button id="editBtnId" type="button" class="btn btn-default" @click="submitUser">SALVA</button>
                </div>
            </fieldset>
        </form>
    </section>
</template>
<script>
  import axios from 'axios'
  import {host} from '../../config'
  import Vue from 'vue'
  import $ from 'jquery'
  export default {
    name: 'editUserAddress',
    data () {
      return {
        errors: []
      }
    },
    methods: {
      submitUser () {
        axios.post(host + '/api/user-address', this.user, {
          headers: {
            'Authorization': 'Bearer ' + Vue.auth.getToken(),
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
          .then(response => {
            this.$store.dispatch('setUser', response.data.data)
            $('#modal-edit-user-address').modal('hide')
          })
          .catch(error => {
            this.error = error.response.data.errors
          })
      }
    },
    beforeCreate () {
      this.$store.dispatch('getCities', () => {
      })
      this.$store.dispatch('getProvinces', () => {
      })
    },
    computed: {
      user () {
        if (!this.$store.getters.getUser) {
          return null
        }
        return Object.assign({}, this.$store.getters.getUser)
      },
      cities () {
        return this.$store.getters.allCities
      },
      provinces () {
        return this.$store.getters.allProvinces
      }
    }
  }
</script>
