<template>
    <div>
    <div class="modal fade order-modal order-modal-2" id="modal-edit-order" tabindex="-1" role="dialog" aria-labelledby="edit-order" v-if="order">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../../assets/images/close-modal-btn.png" alt="close-modal-btn"></button>
                    <h4 class="modal-title text-left" id="edit-order">Dettagli dell'ordine</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 order-label">
                                    <p>Data:</p>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <div v-show="!edit_date" class="modal-edit-field">
                                        <span class="calendar-output">{{ orderDate(order.clean_format_date) }}</span>
                                        <button @click="edit_date = !edit_date" class="pull-right edit-btn"><img src="../../assets/images/edit-btn.png" alt=""></button>
                                    </div>
                                    <div v-show="edit_date" class="modal-edit-field modal-edit-field-transparent">
                                        <input class="flatpickr flatpickr-input" type="text"
                                               placeholder="Data" data-min-date="today" @change="changeDate">
                                        <button class="pull-right edit-btn" @click="edit_date = !edit_date">Salva</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 order-label">
                                    <p>Orario:</p>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <div class="modal-edit-field" v-if="!edit_time">
                                        <span class="time-output">{{ order.clean_format_time }}</span>
                                        <button @click="edit_time = !edit_time" class="pull-right edit-btn"><img src="../../assets/images/edit-btn.png" alt=""></button>
                                    </div>
                                    <div v-else="" class="modal-edit-field modal-edit-field-transparent">
                                        <el-time-select
                                                size="mini"
                                                :clearable="false"
                                                v-model="order.clean_format_time"
                                                :picker-options="{
                                                      start: '06:00',
                                                      step: '00:30',
                                                      end: '23:00'
                                                    }"
                                                placeholder="ORARI"
                                        ></el-time-select>
                                        <button @click="edit_time = !edit_time" class="pull-right edit-btn">Salva</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="order-time-area-wrapper">
                                <div class="row" v-if="order.hours">
                                    <div class="col-sm-6">
                                        <p>Orario:<span>{{ order.hours.toString().split('.')[0] }} h {{ (60 * ('0.' + order.hours.toString().split('.')[1])) || 0 }} min</span></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Metri:<span>{{ order.meters }} m<sup>2</sup></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Indirizzo:</p>
                        </div>
                        <div class="col-md-9">
                            <div class="modal-edit-field" v-if="!edit_address">
                                <span >{{ order.address }}</span>

                                <button @click="edit_address = !edit_address" class="pull-right edit-btn"><img src="../../assets/images/edit-btn.png" alt=""></button>
                            </div>
                            <div  v-else="" class="modal-edit-field modal-edit-field-transparent">
                                <input class="form-control" type="text" v-model="order.address">
                                <button @click="edit_address = !edit_address" class="pull-right edit-btn">Salva</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Servizi extra:</p>
                        </div>
                        <div class="col-md-9" v-if="order.add_services">
                            <div class="checkboxes-wrapper">
                                <div class="cntr" v-if="order.realty_type_id === service.realty_type_id" v-for="service of orderViewModel.addServices">
                                    <label class="label-cbx">
                                        <input type="checkbox" :value="service.id" v-model="order.add_services" class="invisible">
                                        <div class="checkbox">
                                            <svg width="21px" height="21px" viewBox="0 0 20 20">
                                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                <polyline points="4 11 8 15 16 6"></polyline>
                                            </svg>
                                        </div>
                                        <span>{{ service.title }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Superfici:</p>
                        </div>
                        <div class="col-md-9" v-if="order.add_surfaces">
                            <div class="checkboxes-wrapper">
                                <div class="cntr" v-for="surface of orderViewModel.surfaces">
                                    <label class="label-cbx">
                                        <input v-model="order.add_surfaces" :value="surface.id" type="checkbox" class="invisible">
                                        <div class="checkbox">
                                            <svg width="21px" height="21px" viewBox="0 0 20 20">
                                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                <polyline points="4 11 8 15 16 6"></polyline>
                                            </svg>
                                        </div>
                                        <span>{{ surface.title }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Anziani, animali, bambini:</p>
                        </div>
                        <div class="col-md-9" v-if="order.sub_conditions">
                            <div class="checkboxes-wrapper">
                                <div class="cntr" v-for="condition of orderViewModel.conditions">
                                    <label class="label-cbx">
                                        <input type="checkbox" :value="condition.id" v-model="order.sub_conditions" class="invisible">
                                        <div class="checkbox">
                                            <svg width="21px" height="21px" viewBox="0 0 20 20">
                                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                <polyline points="4 11 8 15 16 6"></polyline>
                                            </svg>
                                        </div>
                                        <span>{{ condition.title }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 order-label">
                            <p>Kit detersivi:</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="cntr">
                                <label for="cbx-20" class="label-cbx">
                                    <input v-model="order.buy_clear_kit" id="cbx-20" type="checkbox" class="invisible">
                                    <div class="checkbox pull-left">
                                        <svg width="21px" height="21px" viewBox="0 0 20 20">
                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                            <polyline points="4 11 8 15 16 6"></polyline>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Addetto di pulizia:</p>
                        </div>
                        <div class="col-md-5">
                            <div v-if="!wait">
                                <div class="modal-edit-field" v-if="!edit_cleaner">
                                    <span v-if="order.cleaner">{{ order.cleaner.name || '' }} {{ order.cleaner.surname || ''}}</span>
                                    <span v-else="">Non cleaner</span>
                                    <button @click="toggleEditCleaners" class="pull-right edit-btn"><img src="../../assets/images/edit-btn.png" alt=""></button>
                                </div>
                                <div class="modal-edit-field modal-edit-field-transparent"  v-else="">
                                    <div v-if="cleaners.length > 0">
                                        <select v-model="order.cleaner_id" class="form-control">
                                            <option v-for="cleaner of cleaners" :value="cleaner.id">{{ cleaner.name }}</option>
                                        </select>
                                    </div>
                                    <span v-else="" class="addetto-span">Non abbiamo nessun addetto libero per ora</span>
                                    <button class="pull-right edit-btn"  @click="toggleEditCleaners">Salva</button>
                                </div>
                            </div>
                            <vue-simple-spinner v-else=""></vue-simple-spinner>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Dove lasci le chiavi:</p>
                        </div>
                        <div class="col-md-5">
                            <select v-model="order.secret_place_id" class="form-control">
                                <option v-for="place of secretPlaces" :value="place.id">{{ place.title }}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 order-label">
                            <p>Commento:</p>
                        </div>
                        <div class="col-md-9">
                            <textarea v-model="order.comment" name="" id="" cols="" rows="10"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 order-modal-2-btn-wrapper">
                            <button class="btn order-btn order-alt3-btn order-lg-btn" @click="deleteOrder()">Cancella ordine</button>
                            <button class="btn order-btn order-alt2-btn order-lg-btn" @click="submitOrder()">Salva</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="false">
        <div>
            <b>Se cambi i dettagli della tua prenotazione è possibile che l’addetto di pulizia sarà sostituito</b>
            <table class="table-responsive table table-bordered table-bordered-price">
                <tr>
                    <th>DATA</th>
                    <td>
                        <div class="data-time-elem">
                            <input placeholder="Data"
                                   type="date"
                                   v-model="order.clean_format_date">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>ORA DI INIZIO</th>
                    <td>
                        <div class="data-time-elem data-time-elem1">
                            <input id="HouseFlatId"
                                   placeholder="ORARI"
                                   type="time"
                                   v-model="order.clean_format_time">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Città</th>
                    <td>
                        <select v-model="order.city_id">
                            <option v-for="city of cities" :value="city.id">
                                {{ city.title }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Tipo immobiliare</th>
                    <td>
                        <select v-model="order.realty_type_id">
                            <option v-for="type of realtyTypes" :value="type.id">
                                {{ type.title }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>METRI</th>
                    <td>
                        <input type="text" v-model="order.meters">
                    </td>
                </tr>
                <tr>
                    <th>EXTRA SERVIZI</th>
                    <td>
                        <select v-if="order.add_services" v-model="order.add_services" multiple>
                            <option v-if="order.realty_type_id === service.realty_type_id" v-for="service of orderViewModel.addServices" :value="service.id">
                                {{ service.title }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>SUPERFICIE</th>
                    <td>
                        <select v-if="order.add_surfaces" v-model="order.add_surfaces" multiple>
                            <option v-for="surface of orderViewModel.surfaces" :value="surface.id">
                                {{ surface.title }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>PERSONE ANZIANE, ANIMALI, BAMBINI</th>
                    <td>
                        <select v-if="order.sub_conditions" v-model="order.sub_conditions" multiple>
                            <option v-for="condition of orderViewModel.conditions" :value="condition.id">
                                {{ condition.title }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>DETERSIVI</th>
                    <td>
                        <input type="checkbox" style="width: auto; opacity: 1" v-model="order.buy_clear_kit">
                    </td>
                </tr>
                <tr>
                    <th>COMMENTO</th>
                    <td>
                        <textarea cols="30" rows="10" v-model="order.comment"></textarea>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <button id="editBtnId" type="button" class="btn btn-default" >Salva</button>
                </div>
                <div class="col-xs-12 col-md-6">
                    <button style="border-radius: 4px" id="deleteBtnId" type="button" class="btn btn-danger">Cancella ordine</button>
                </div>
            </div>
        </div>
        <span v-if="false">Gentile utente, è possibile modificare la prenotazione solamente 48 ore prima del servizio di pulizia</span>
    </div>
    </div>
</template>
<script>
  import axios from 'axios'
  import {host} from '../../config'
  import Vue from 'vue'
  import $ from 'jquery'
  import * as types from './../../store/mutation-types'
  import orderService from '../../api/orderService'
  import moment from 'moment'
  import secretService from '../../api/SecretService'
  import vueSimpleSpinner from 'vue-simple-spinner'
  import _ from 'lodash'
  import userService from '../../api/userService'
  export default {
    name: 'edit-order',
    components: {
      vueSimpleSpinner
    },
    data () {
      return {
        edit_address: false,
        edit_cleaner: false,
        edit_date: false,
        edit_time: false,
        wait: false,
        cleaners: null,
        value1: '',
        date: ''
      }
    },
    beforeCreate () {
      this.$store.dispatch('getOrderViewModel', () => {})
      this.$store.dispatch('getInsurances')
      this.$store.dispatch('getCities')
      this.$store.dispatch('getRealtyTypes')
      secretService.getAll().then(response => {
        this.secretPlaces = response.data
      })
    },
    mounted () {
      $('#modal-edit-order').on('hidden.bs.modal', () => {
        this.edit_cleaner = false
        this.edit_address = false
        this.edit_date = false
      })
    },
    computed: {
      invoiceNumber () {
        return this.$store.getters.getInvoiceNumber
      },
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      insurances () {
        return this.$store.getters.getInsurances
      },
      cities () {
        return this.$store.getters.allCities
      },
      realtyTypes () {
        return this.$store.getters.getRealtyTypes
      },
      order () {
        let order = this.$store.getters.order

        return order
      },
      time: {
        get () {
          let time = this.value1
          if (time === '' && this.order.clean_format_time) {
            console.log(time)
            time = this.order.clean_format_time
          }
          return time
        },
        set (value) {
          this.value1 = value
        }
      }
    },
    methods: {
      orderDate(date){
        return moment(date,'DD.MM.YYYY').format('DD/MM/YYYY')
      },
      changeDate () {
        this.order.clean_format_date = event.target.value
      },
      commitEdit () {
        axios.post(host + '/api/change-order/' + this.order.id, this.order, {
          headers: {
            'Authorization': 'Bearer ' + Vue.auth.getToken(),
            'X-Requested-With': 'XMLHttpRequest'
          }
        }).then(response => {
          this.$store.dispatch('setOrders', response.data.data)
          $('#modal-edit-order').modal('hide')
        })
      },
      submitOrder () {
        let baseOrder = this.$store.getters.getOrders.find((item) => {
          return item.id === this.order.id
        })
        axios.post(host + '/api/eval-order/' + this.order.id, this.order, {
          headers: {
            'Authorization': 'Bearer ' + Vue.auth.getToken(),
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
          .then(response => {
            $('#modal-edit-order').modal('hide')

            if (response.data.amount > 0) {
              this.order.price = response.data.amount
              this.order.hours = response.data.hours

              this.$store.dispatch('setEditedOrder', {
                base_order: baseOrder,
                changed_order: this.order
              })
              this.$router.push({
                name: 'AddPay'
              })
            } else {
              this.commitEdit()
            }
          })
          .catch(error => {
            this.error = error.response.data.errors
          })
      },
      deleteOrder () {
        $('#modal-edit-order').modal('hide')
        orderService.changeStatus(this.order.id, 'user_canceled').then((response) => {
          this.$store.commit(types.GET_ORDERS, response.data.data)
        })
      },
      canEdit () {
        let orderDate = new Date(`${this.order.clean_format_date}T${this.order.clean_format_time}Z`)
        let now = new Date()
        now.setDate(now.getDate() + 2)
        return now < orderDate
      },
      toggleEditCleaners () {
        if (!this.edit_cleaner) {
          this.getCleaners()
          this.wait = true
        }
        this.edit_cleaner = !this.edit_cleaner
      },
      getCleaners: _.debounce(function () {
        let date = this.order.clean_format_date.split('.')
        date = `${date[2]}-${date[1]}-${date[0]}`
        userService.getCleaners({
          addSubSeriviceIds: this.order.add_services,
          addSubConditionIds: this.order.sub_conditions,
          date: date,
          time: this.order.clean_format_time,
          realty_type: this.order.realty_type_id,
          hours: this.order.hours
        }).then(response => {
          this.cleaners = response.data.data
          this.wait = false
        })
      }, 500)
    }
  }
</script>
<style scoped lang="sass">
    @import "../../assets/css/order-modal.css"
    @import '../../../node_modules/element-ui/lib/theme-chalk/index.css'
    @import "../../assets/css/eltimepicker.css"
</style>
