<template>
    <section class="third-tab" style="margin: 0 auto; width: 100%">
        <form v-if="user">
            <fieldset class="form-registration">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Codice fiscale</label>
                        <input type="text" title="text" v-model="user.fiscal_code">
                        <div class="alert alert-danger" v-for="err of errors.fiscal_code">
                            {{ err }}
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" title="text" v-model="user.name">
                        <div class="alert alert-danger" v-for="err of errors.name">
                            {{ err }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cognome</label>
                        <input type="text" title="text" v-model="user.surname">
                        <div class="alert alert-danger" v-for="err of errors.surname">
                            {{ err }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sesso</label>
                        <select class="form-control" title="tipologia" v-model="user.gender" required>
                            <option value="male">Uomo</option>
                            <option value="female">Donna</option>
                        </select>
                        <div class="alert alert-danger" v-for="err of errors.gender">
                            {{ err }}
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Data di nascitа</label>
                        <div class="data-time-elem" v-if="user">
                            <date-picker style="width: 100%" v-model="user.date_birthday" :option="options" :date="date"></date-picker>
                            <span class="icon-arrow-after" tabindex="0"></span>
                            <div class="alert alert-danger" v-for="err of errors.date_birthday">
                                {{ err }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Numero di telefono</label>
                        <input type="text" title="text" v-model="user.phone">
                        <div class="alert alert-danger" v-for="err of errors.phone">
                            {{ err }}
                        </div>
                    </div>
                </div>
                <!--<div class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<label>Numero carta</label>-->
                        <!--<input type="text" title="text" v-model.number="user.card_number">-->
                        <!--<div class="alert alert-danger" v-for="err of errors.card_number">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Data di scadenza</label>-->
                        <!--<input style="width: 100px" type="text" title="text" v-model.number="user.exp_date" placeholder="mese">-->
                        <!--<input style="width: 100px" type="text" title="text" v-model.number="user.exp_year" placeholder="anno">-->
                        <!--<div class="alert alert-danger" v-for="err of errors.exp_date">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                        <!--<div class="alert alert-danger" v-for="err of errors.exp_year">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<label> Titolare della carta</label>-->
                        <!--<input type="text" title="text" v-model="user.holder_name">-->
                        <!--<div class="alert alert-danger" v-for="err of errors.holder_name">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>CVV</label>-->
                        <!--<input style="width: 90%" type="text" title="text" v-model.number="user.cvv">-->
                        <!--<img data-toggle="tooltip" title="Il CVV indica le ultime tre cifre presenti nel retro della carta di credito" src="../../assets/images/icons/help.png" alt="save-your-edit-icon">-->
                        <!--<div class="alert alert-danger" v-for="err of errors.cvv">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Tipo della carta-->
                        <!--</label>-->
                        <!--<select class="form-control" v-model="user.card_type">-->
                            <!--<option value="1">Visa</option>-->
                            <!--<option value="2">Maestro</option>-->
                            <!--<option value="3">Mastercard</option>-->
                            <!--<option value="4">American Express</option>-->
                        <!--</select>-->
                        <!--<div class="alert alert-danger" v-for="err of errors.card_type">-->
                            <!--{{ err }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div style="margin-top: 15px">
                    <button id="editBtnId" type="button" class="btn btn-default" @click="submitUser">Salva</button>
                </div>
            </fieldset>
        </form>
    </section>
</template>
<script>
  import axios from 'axios'
  import {host} from '../../config'
  import Vue from 'vue'
  import datePicker from '../../assets/js/data-picker'
  import $ from 'jquery'
  import DatePicker from 'vue-datepicker/vue-datepicker-es6'

  export default {
    name: 'editUserInfo',
    data () {
      return {
        errors: [],
        options: {
          type: 'day',
          format: 'DD/MM/YYYY',
          week: ['Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab','Dom'],
          month: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
          placeholder: ''
        },
        date: {
          time: '' // string
        }
      }
    },
    components: {
      DatePicker
    },
    methods: {
      submitUser () {
        axios.post(host + '/api/user-info', this.user, {
          headers: {
            'Authorization': 'Bearer ' + Vue.auth.getToken(),
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
          .then(response => {
            this.$store.dispatch('setUserWithCard', {
              user: response.data.data,
              card: response.data.meta
            })
            this.errors = []
            $('#modal-edit-user').modal('hide')
          })
          .catch(error => {
            console.log(error.response.data)
            this.errors = error.response.data
          })
      }
    },
    computed: {
      user () {
        if (!this.$store.getters.getUser) {
          return null
        }
        return Object.assign({}, this.$store.getters.getUser)
      }
    },
  }
</script>
