<template>
    <div class="modal fade worker-details-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div>
                            <span class="label cleaning-type" v-if="employee.can_home">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>Pulizia Casa</span>
                            </span>
                    <span class="label cleaning-type" v-if="employee.can_office">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>Pulizia Ufficio</span>
                            </span>
                    <span class="label cleaning-type" v-if="employee.can_iron_clothes">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>Può stirare</span>
                            </span>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="worker-details-info">
                            <p>Anni di esperienza nel settore: <span class="label">{{ Math.floor(employee.skill) }}</span></p>
                            <p>Quantita di pulizie con spotless: <span class="label">{{ employee.countSuccessfullyCleanings }}</span></p>
                            <p>Lingue parlate: <span v-for="language of employee.languages" class="label">{{ language }}</span></p>
                            <p><u>Special conditions: </u></p>
                            <ul class="list-unstyled list-inline">
                                <li><span class="label spec-condition-label">No dogs</span></li>
                                <li><span class="label spec-condition-label">No cats</span></li>
                            </ul>
                        </div>
                        <star-rating class="rating rating-loading" :showRating="false" :inline="true" :itemSize="20"
                                     :readOnly="true"
                                     :rating="parseInt(employee.rating.avgRating)"
                        ></star-rating>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-responsive circle-image user-profile-img" :src="employee.avatar" alt="sample image">
                    </div>
                </div>
                <h2>Che Cosa dicono i clienti?</h2>
                <div class="comments-wrapper">
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <p><span>{{ employee.countRecommendation }}</span> hanno raccomandato</p>
                    </div>
                    <div class="carousel slide col-md-8" data-ride="carousel" id="quote-carousel" v-if="employee.reviews.length > 0">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" v-for="(review, index) of employee.reviews" :data-slide-to="index" :class="(index === 0)? 'active' : ''"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner" >
                            <!-- Quote 1 -->
                            <div class="item" v-for="(review, index) of employee.reviews" :class="(index === 0)? 'active' : ''">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>{{ review.text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <p v-else="">
                        Non ci sono ancora le recensioni
                    </p>
                </div>
                <div class="clearfix"></div>
                <button @click="emitChange" v-if="chooseButtonText == 'Scegli'" class="blue-btn" type="button" data-dismiss="modal">{{ chooseButtonText }}</button>
            </div>
        </div>
    </div>
</template>
<script>
  import { StarRating } from 'vue-rate-it'
  export default {
    name: 'employeesModal',
    data () {
      return {
      }
    },
    methods: {
      emitChange () {
        this.$emit('change', this.employee)
      }
    },
    props: [
      'employee',
      'chooseButtonText'
    ],
    components: {
      StarRating
    }
  }
</script>
