<template>
    <div class="text-center feedback-form-container">
        <form action="" class="feedback-form" @submit.prevent="sendForm">
            <h2 class="">Contattaci!</h2>
            <span>
                Per maggiori informazioni, domande e proposte varie contattaci compilando il form sotto:
            </span>
            <br>
            <br>
            <div class="form-group">
                <input type="text" name="contact_name" v-model="form.name" class="form-control" id="exampleInputName"
                       placeholder="Nome">
            </div>
            <div class="form-group">
                <input type="text" name="contact_lastname" v-model="form.lastname" class="form-control"
                       id="exampleInputSurname"
                       placeholder="Cognome">
            </div>
            <div class="form-group">
                <input type="email" name="contact_email" v-model="form.email" required class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" required v-model="form.comment" name="contact_comment"
                          placeholder="Commento"></textarea>
            </div>
            <button type="submit" class="btn btn-default">INVIA</button>
        </form>
        <div class="modal fade" id="table-respose" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content size">
                    <div class="modal-header modal-header-price">
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">Recensione</h4>
                    </div>
                    <div class="modal-body text-center square-options">
                        <div class="confirmation-page">
                            <div class="confirmation-wrapper text-center">
                                <h1 class="sr-only">Confirmation</h1>
                                <img src="../../assets/images/check.png" alt="check-icon" class="img-responsive">
                                <div class="title">
                                    <h2>Grazie! <br>La tua richiesta è stata inviata con successo. Attendi la nostra risposta che arriverà alla tua email
                                    </h2>
                                </div>
                                <img src="./../../assets/images/envelop.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import $ from 'jquery'
  import userService from '../../api/userService'
  export default {
    name: 'feedbackForm',
    data () {
      return {
        form: {
          name: null,
          lastname: null,
          email: null,
          comment: null
        }
      }
    },
    methods: {
      sendForm () {
        this.form = {
          name: null,
          lastname: null,
          email: null,
          comment: null
        }
        $('#table-respose').modal('show')
        userService.sendFeedback(this.form).then(()=>{
          $('#table-respose').on('hidden.bs.modal', () => {
            this.$router.push('/')
          })
        })

      }
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 600 + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('.feedback-form').goTo()
    }
  }
</script>
