<template>
    <div class="modal fade order-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../../assets/images/close-modal-btn.png" alt="close-modal-btn"></button>
                    <h4 v-if="order.id" class="modal-title text-center" id="myModalLabel">Grazie! Il tuo ordine <span class="order-number" v-if="order.id">№ {{ order.id }}</span> e stato pagato ed e confermato!</h4>
                    <h4 v-else="" class="modal-title text-center" id="myModalLabel">Controlla i tuoi dati e concludi l'ordine</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="text-center col-lg-12 order-modal-intro">Controlla i tuoi dati. Puoi modificare dopo nell'Area Clienti.</p>
                        <div class="col-lg-7">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center text-uppercase">Il Tuo Ordine
                                  <!--<button class="pull-right edit-btn" v-if="editable"><img src="../../assets/images/edit-btn.png" alt=""></button>-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-push-6 text-center">
                                            <template v-if="cleaner">
                                                <p class="cleaner-label">Addetto di pulizia</p>
                                                <img :src="cleaner.avatar" alt="" class="img-responsive cleaner-img">
                                                <div class="cleaner-name">{{ cleaner.name }}</div>
                                            </template>
                                        </div>
                                        <div class="col-sm-12">
                                            <p>Abbonamento: <span class="label">{{ order.subscription_id ? 'Si' : 'No' }}</span></p>
                                            <p>Tipo immobiliare: <span class="label">Casa</span></p>
                                            <p>Data d'inizio: <span class="label">{{ orderDate }}</span></p>
                                            <!--<p>Ora d'inizio: <span class="label">{{ order.time }}</span></p>-->
                                            <p>Metri da pulire: <span class="label">{{ order.meters }} m<sup>2</sup></span></p>
                                            <p>Ore di pulizia: <span class="label">{{ hours ? hours + 'ore' : orderTime }} </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center text-uppercase">Il Tuo INDIRIZZO

                                  <!--<button class="pull-right edit-btn" v-if="editable"><img src="../../assets/images/edit-btn.png" alt=""></button>-->
                                </div>
                                <div class="panel-body" v-if="user">
                                    <p>Provincia: <span class="label" v-if="province">{{ province.title}}</span></p>
                                    <p>Città: <span class="label" v-if="city">{{ city.title }}</span></p>
                                    <p>Via: <span class="label">{{ user.address }}</span></p>
                                    <p>Numero: <span class="label">{{ user.house_number }}</span></p>
                                    <p>CAP: <span class="label">{{ user.post_index }}</span></p>
                                    <p>Citofono: <span class="label">{{ user.domofon }} {{ user.domofon_text }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default" >
                                <div class="panel-heading text-center text-uppercase">Dettagli
                                  <!--<button class="pull-right edit-btn" v-if="editable"><img src="../../assets/images/edit-btn.png" alt=""></button>-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="order-details-column col-sm-6 col-lg-4" v-if="order.addSubServices">
                                            <p class="details-subtitle">Servizi Extra:</p>
                                            <p v-if="order.addSubServices.find((item) => {
                                              return item === service.id
                                            })" v-for="service of orderViewModel.addServices"><span class="ok-icon-green"></span>{{ service.title }}</p>
                                            <template v-if="subscription">
                                                <p v-for="item of subscription.additional_list">
                                                    <span class="ok-icon-green"></span>{{ item }}
                                                </p>
                                            </template>
                                        </div>
                                        <div class="order-details-column col-sm-6 col-lg-4" v-else="">
                                            <p class="details-subtitle">Non hai scelto nessun servizio aggiuntivo</p>
                                        </div>
                                        <div class="order-details-column col-sm-6 col-lg-2" v-if="order.surfaces">
                                            <p class="details-subtitle">Superficie:</p>
                                            <p v-if="order.surfaces.find((item) => {
                                                return item === surface.id
                                            })" v-for="surface of orderViewModel.surfaces"><span class="ok-icon-green"></span>{{ surface.title }}
                                            </p>
                                        </div>
                                        <div class="order-details-column col-sm-6 col-lg-3" v-if="order.subConditions">
                                            <p class="details-subtitle">Condizioni speciali:</p>
                                            <template v-for="condition of orderViewModel.conditions">
                                                <div v-if="checkSubConditions(condition)" >
                                                    <span class="ok-icon-green"></span>{{ condition.title }}:
                                                    <ul>
                                                        <li v-for="subCondition of condition.checkedSubConditions">
                                                            {{ subCondition.title + ' ' }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p v-else="">
                                                    <span class="ok-icon-green"></span>{{ condition.title }}: No
                                                </p>
                                            </template>
                                        </div>
                                        <div class="order-details-column col-sm-6 col-lg-3">
                                            <p class="details-subtitle">Assicurazione:</p>
                                            <p v-if="order.cleaner_id">Si</p>
                                            <p v-else="">No</p>
                                            <p class="details-subtitle">Le chiavi:</p>
                                            <p v-for="place of secretPlaces" v-if="place.id === order.secret_place_id">{{ place.title }}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="order-details-column col-sm-12" v-if="order.comment">
                                            <p class="details-subtitle">Commento:</p>
                                            <p class="order-comment">
                                                {{ order.comment }}
                                            </p>
                                        </div>
                                        <div class="order-details-column col-sm-12" v-else="">
                                            <p class="details-subtitle">Non hai lasciato nessun commento</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-7 order-note">
                                    <p>E’ possibile cambiare i dettagli della prenotazione 48 ore prima nell’Area Clienti</p>
                                </div>
                                <div class="col-md-12 col-lg-5 order-btn-wrapper" v-if="!editable">
                                    <button class="btn order-btn order-alt1-btn order-sm-btn non-click-btn">Totale pogato (iva inclusa):<span>€ {{ price }}</span></button>
                                    <button class="btn order-btn order-alt2-btn order-lg-btn">Vedi l’ordine</button>
                                </div>
                                <div class="col-md-12 col-lg-5 order-btn-wrapper" v-else="">
                                    <button data-dismiss="modal" class="btn order-btn order-alt2-btn order-sm-btn">Procedi al pagamento<span>€ {{ price }}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'PaymentStepOrderInfoModal',
    data () {
      return {}
    },
    props: [
      'editable',
      'order'
    ],
    computed: {
      user () {
        if (!this.$store.getters.getUser) {
          return null
        }
        return this.$store.getters.getUser
      },
      orderDate(){
        if(this.order.date && this.order.date[0]){
          let dates = this.order.date.map((date)=>{
            return date.date || null
          })
          return dates.join(', ')
        }
        else if(this.order.date){
          return this.order.date.date
        }
        return null
      },
      orderTime(){
        if(this.order.date && this.order.date[0]) {
          let times = this.order.date.map((date)=>{
            return date.time[0] +  '-' + date.time[date.time.length - 1]
          })
          return times.join(', ')
        }
        else if(this.order.date){
          return this.order.date.time.join(', ') || null
        }
        return null
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      hours () {
        return this.$store.getters.getHours
      },
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      secretPlaces () {
        return this.$store.getters.getSecretPlaces
      },
      cleaner () {
        return this.$store.getters.getCleaner
      },
      city () {
        return this.$store.getters.allCities.find((item) => { return item.id === this.user.city_id })
      },
      province () {
        return this.$store.getters.allProvinces.find((item) => { return item.id === this.user.province_id })
      },
      price () {
        return this.$store.getters.getPrice.toString()
      }
    },
    beforeCreate () {
      // this.$store.dispatch('getCities', () => {
      // })
      // this.$store.dispatch('getProvinces', () => {
      // })
    },
    methods: {
      checkSubConditions (condition) {
        condition.checkedSubConditions = []
        for (let subCondition of condition.subConditions) {
          if (this.order.subConditions.find((item) => {
            return subCondition.id === item
          })) {
            condition.checkedSubConditions.push(subCondition)
          }
        }
        if (condition.checkedSubConditions.length > 0) {
          return true
        } else {
          return false
        }
      }
    }
  }
</script>
<style scoped lang="sass">
    @import "../../assets/css/order-modal.css"
</style>
