.super-container * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.super-container {
    background: #000;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2008px;
    margin: 0 auto;
    padding: 0
}

.aspect-container {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 auto
}

.aspect-critical-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.slider-wrapper:hover {
    cursor: none
}

.comparison-slider {
    position: absolute;
    width: 4px;
    left: 0;
    top: -10px;
    bottom: -15px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    transition: all 1.5s ease
}

.before-wrapper {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center
}

.after-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 1.5s ease
}

.after-image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background-color: #000 !important;
    transition: all 1.5s ease
}

.handle {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 6px;
    margin-left: -1px;
    cursor: ew-resize;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.handle:hover {
    opacity: 1
}

.handle::after {
    position: absolute;
    top: 95%;
    left: 6px;
    width: 80px;
    height: 26px;
    line-height: 26px;
    margin: -13px 0 0 -40px;
/*    content: '\2039    \203A';*/
    content: "< Slide >";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
/*    border-radius: 50%;*/
    transition: all .3s ease
}

.avant,
.apres {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -100px;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    display: none !important;
}

.apres {
    margin-left: 42px
}

#white-blue.handle {
    background: #fff
}

#white-blue.handle::after {
    background: rgba(255, 255, 255, .3);
    color: #fff;
    border: 3px solid #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, .4)
}

#white-blue .avant,
#white-blue .apres {
    background: #fff;
    color: #0f72b5
}

#dark-theme.handle {
    background: #acacac;
}

#dark-theme.handle::after {
    background: #00aeff;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#dark-theme .avant,
#dark-theme .apres {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 1)
}

#light-theme.handle {
    background: rgba(255, 255, 255, 1)
}

#light-theme.handle::after {
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0)
}

#light-theme.handle:hover::after {
    color: rgba(255, 255, 255, 1)
}

#light-theme .avant,
#light-theme .apres {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1)
}
