.search-field-container{
  margin: 0 auto;
  padding: 5px;
  max-width: 695px;
  width: 100%;
  background: white;
  border-radius: 30px;
  z-index: 40;
  position: absolute;
  left: 50%;
  top: calc(100vh - 160px);
  transform: translate(-50%, -50%);

}
.search-field-container .heading-search-form{
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #005783;
  text-align: center;
}
.search-field-container .search-form_main{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #8db74c;
  background: #8db74c;
}

.search-form_main .input-search,
.search-form_main .input-search input{
  width: 100%;
  max-width: 485px;
}
.search-form_main .input-search input{
  padding: 15px 25px;
  font-size: 16px;
  border: inherit;
  outline: inherit;
  box-sizing: border-box;
}
.search-form_main .button-search button{
  font-size: 16px;
  min-width: 180px;
  padding: 15px;
  text-align: center;
  border: inherit;
  background: #8db74c;
  color: #fff;
}
.search-form_main .button-search button:hover{
  text-decoration: underline;
}
