.el-icon-time:before {
    content: url("../images/icons/time-icon.png");
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100% !important;
    height: 34px;
}
.el-input__inner {
    border-color: #ccc;
}
.el-input__inner::placeholder {
    color: #999;
}