@font-face { font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Regular.otf') format('opentype'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype'),
    url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal; font-style: normal; }

@font-face { font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Bold.otf') format('opentype'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype'),
    url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: normal; font-style: normal; }

@font-face {
    font-family: 'FiraSans-ExtraLight';
    src: url('../fonts/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-ExtraLight.otf') format('opentype'),
    url('../fonts/FiraSans-ExtraLight.woff') format('woff'),
    url('../fonts/FiraSans-ExtraLight.ttf') format('truetype'),
    url('../fonts/FiraSans-ExtraLight.svg#FiraSans-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'FiraSans-UltraLight';
    src: url('../fonts/FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-UltraLight.otf') format('opentype'),
    url('../fonts/FiraSans-UltraLight.woff') format('woff'),
    url('../fonts/FiraSans-UltraLight.ttf') format('truetype'),
    url('../fonts/FiraSans-UltraLight.svg#FiraSans-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Humanist777BT-BlackB';
    src: url('../fonts/Humanist777BT-BlackB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Humanist777BT-BlackB.woff') format('woff'),
    url('../fonts/Humanist777BT-BlackB.ttf') format('truetype'),
    url('../fonts/Humanist777BT-BlackB.svg#Humanist777BT-BlackB') format('svg');
    font-weight: normal; font-style: normal; }
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal; font-style: normal; }