#header {
  height: 65px;
  background: #1b467b;
}

.header-container {
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header-container .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 10px;
  position: relative;
  z-index: 200;
}

.header-nav {
  background-color: transparent;
  border: none;
}

.header-nav .list {
  border: none;
  list-style: none;
  margin: 0;
  padding: 22px 0 0;
}

.header-nav .list>li {
  display: inline-block;
  margin-left: 35px;
  margin-bottom: 15px;
}

.header-nav .list a {
  text-transform: uppercase;
  /*  padding-left: 35px;*/
  text-decoration: none;
  font-family: 'FiraSans-Regular';
  font-size: 14px;
  color: #fff;
}

.header-nav .list a:hover {
  color: #00aaff;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.login-logout-btn {
  margin-left: 35px;
}

.header-nav .list .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: transparent;
  border: 1px solid #fff;
  width: 124px;
}

.header-nav .list .btn:hover,
.header-nav .list .btn:focus {
  background: transparent;
  outline: none;
}

.header-nav .list .btn:hover {
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #00aaff;
  border: 1px solid #00aaff;
}

.header .navbar-default .navbar-toggle {
  background: transparent;
  border: none;
}

.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus {
  background: transparent;
  border: none;
}

.header .btn-accedi {
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-collapse {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  border-color: transparent;
}

.header-nav .dropdown-menu {
  background-color: #1b467b;
  width: 100%;
}

.header-nav .dropdown-menu a {
  color: #fff;
}

.active-menu {
  color: #00aaff !important;
}

#nav-icon3 {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 6px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3:hover span {
  background: #00aaff;
}

#nav-icon3.open span {
  background: #00aaff;
}

#nav-icon3 span:nth-child(1) {
  top: 9px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 23px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

@media (max-width: 991px) {
  #header {
    height: 100px;
  }
  #content {
    margin: 100px auto 0 !important;
  }
}

@media (max-width: 767px) {
  #header {
    height: 65px;
  }
  #content {
    margin: 65px auto 0 !important;
  }
  .header-container {
    display: block;
  }
  .header-container .logo {
    /*    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;*/
    float: left;
  }
  .header-nav {
    /*    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;*/
  }
  .header .navbar-collapse {
    position: absolute;
    background: #1b467b;
    padding-left: 0;
    padding-right: 0;
    left: -15px;
    width: calc(100% + 30px);
    max-height: inherit;
  }
  .header-nav .list {
    text-align: center;
  }
  .header-nav .list li {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .header-nav .list a {
    padding: 0;
  }
  .header-nav .dropdown-menu {
    left: 0;
    position: relative;
    float: none;
  }
  ul.dropdown-menu {
    top: 15px;
  }
  ul.dropdown-menu li {
    margin-top: 15px;
    text-align: center;
  }
  ul.dropdown-menu li a {
    display: inline-block;
  }
  .login-logout-btn {
    margin-left: 0;
  }
}

/*@media (max-width: 767px) and (orientation: landscape) {
  .header-nav .list li {
    float: left;
    width: 50%;
  }
  .header-nav .list li.dropdown,
  .header-nav .list .dropdown-menu li {
    width: 100%;
  }
}*/

.footer {
  max-width: 1920px;
  margin: 0 auto;
  background: #1b467b;
  bottom: 0;
  padding-top: 35px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  min-height: 189px;
  color:#fff;
  font-family: 'FiraSans-Regular';
}

.footer a {
  color: #fff;
}

.footer-row-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.footer-row-first .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-row-first .list ul a {
  margin: 0 30px 10px 0;
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: 'FiraSans-Regular';
  font-size: 14px;
}

.footer-row-first .list ul a:hover {
  color: #00aaff;
}

.footer-row-first .list ul li {
  display: inline-block;
}

.footer-row-first .social {
  margin-right: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.footer-row-first .social ul {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-row-first .social ul a {
  display: block;
  text-decoration: none;
}

.footer-row-first .social ul li {
  margin-right: 30px;
  border: 1px solid #2d6494;
  padding: 5px;
}

.footer-row-first .social .tw {
  background: url("../images/sprite-social.png") no-repeat -3px -3px;
  width: 24px;
  height: 21px;
}

.footer-row-first .social .tw:hover {
  background: url("../images/sprite-social-active.png") no-repeat 0 -2px;
}

.footer-row-first .social .sk {
  background: url("../images/sprite-social.png") no-repeat -29px -4px;
  width: 21px;
  height: 20px;
}

.footer-row-first .social .sk:hover {
  background: url("../images/sprite-social-active.png") no-repeat -27px -3px;
}

.footer-row-first .social .fc {
  background: url("../images/sprite-social.png") no-repeat -55px -4px;
  width: 11px;
  height: 20px;
}

.footer-row-first .social .fc:hover {
  background: url("../images/sprite-social-active.png") no-repeat -50px -3px;
}

.footer-row-first .social .gl {
  background: url("../images/sprite-social.png") no-repeat -73px -3px;
  width: 14px;
  height: 21px;
}

.footer-row-first .social .gl:hover {
  background: url("../images/sprite-social-active.png") no-repeat -64px -3px;
}

.footer-row-first .social .tm {
  background: url("../images/sprite-social.png") no-repeat -90px -4px;
  width: 13px;
  height: 21px;
}

.footer-row-first .social .tm:hover {
  background: url("../images/sprite-social-active.png") no-repeat -82px -3px;
}

.footer-row-first .button {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-row-first .button .btn {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: transparent;
  border: 1px solid #fff;
  width: 180px;
  height: 33px;
}

.footer-row-first .button .btn:hover,
.footer-row-first .button .btn:focus {
  outline: none;
}

.footer-row-first .button .btn:hover {
  background: transparent;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #00aaff;
  border: 1px solid #00aaff;
}

.footer-row-second {
  padding: 15px 0 0;
  margin-top: 8px;
  border-top: 1px solid #2d6494;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-row-second .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-row-second .list ul a {
  margin: 0 30px 0px 0;
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: 'FiraSans-Regular';
  font-size: 14px;
}

.footer-row-second .list ul a:hover {
  color: #00aaff;
}

.footer-row-second .list ul li {
  display: inline-block;
}

/*.footer-row-second .copyrights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}*/

.footer-row-second .copyrights label {
  font-family: FiraSans-Regular;
  font-size: 12px;
  color: #fff;
}

.footer .payment img {
  max-width: 200px;
}

@media (max-width: 1199px) {
  .footer-row-first .list ul a {
    margin: 0 15px 10px 0;
  }
  .footer-row-first .social {
    margin-right: 0px;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .footer-row-first .button .btn {
    margin-right: 25px;
  }
}

@media (max-width: 992px) {
  .footer-row-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .footer-row-first .button {
    margin-bottom: 15px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-row-first .social {
    margin: 15px 0 20px;
  }
}

@media (max-width: 767px) {

  .footer {
    position: relative;
    height: auto;
  }
  .footer-row-first .list ul li {
    display: block;
  }
  .footer-row-first .list ul li a {
    margin-right: 0;
  }
  .footer-row-first .social {
    margin-left: 5px;
  }
  .footer-row-first .button .btn {
    margin-right: 5px;
  }
  .footer-row-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-row-second .list {
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .footer-row-second .list ul li {
    display: block;
  }
  .footer-row-second .list ul li a {
    margin: 0 5px 10px 0;
  }
  .footer-row-second .copyrights {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
}
