/* FONTS */

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Regular.otf') format('opentype'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype'),
    url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-Bold.otf') format('opentype'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype'),
    url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-ExtraLight';
    src: url('../fonts/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-ExtraLight.otf') format('opentype'),
    url('../fonts/FiraSans-ExtraLight.woff') format('woff'),
    url('../fonts/FiraSans-ExtraLight.ttf') format('truetype'),
    url('../fonts/FiraSans-ExtraLight.svg#FiraSans-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-UltraLight';
    src: url('../fonts/FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraSans-UltraLight.otf') format('opentype'),
    url('../fonts/FiraSans-UltraLight.woff') format('woff'),
    url('../fonts/FiraSans-UltraLight.ttf') format('truetype'),
    url('../fonts/FiraSans-UltraLight.svg#FiraSans-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanist777BT-BlackB';
    src: url('../fonts/Humanist777BT-BlackB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Humanist777BT-BlackB.woff') format('woff'),
    url('../fonts/Humanist777BT-BlackB.ttf') format('truetype'),
    url('../fonts/Humanist777BT-BlackB.svg#Humanist777BT-BlackB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* MODAL HEADER */

.order-modal {
    font-family: FiraSans-Regular;
}

@media (min-width: 1200px) {
    .order-modal .modal-lg {
        width: 1054px;
        /*    margin-left: 15px;
    margin-right: 15px;*/
    }
}

.order-modal .modal-content {
    overflow: hidden;
}

.order-modal .modal-header {
    background-color: #1b3f72;
}

.order-modal .modal-header .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.order-modal .modal-header .order-number {
    background-color: #94d7f8;
    color: #24374c;
    display: inline-block;
    padding: 6px 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.order-modal .close {
    margin-top: 7px;
    margin-right: 9px;
    margin-left: 15px;
}

.order-modal button.close,
.order-modal button.close:hover,
.order-modal button.close:focus {
    opacity: 1;
    text-shadow: none;
    color: #fff;
}

.order-modal-intro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #24374c;
}

.order-modal .panel-default {
    border-color: #1b3f72;
    border-radius: 0;
    border-width: 2px;
}

.order-modal .panel-default .panel-heading {
    /*font-family: 'FiraSans-Bold';*/
    background-color: #1b3f72;
    color: #fff;
    font-size: 20px;
    border-radius: 0;
}

.order-modal .edit-btn {
    background: transparent;
    border: none;
    position: absolute;
  top: 5px;
    right: 20px;
}

.order-modal .panel-default .panel-body {
    font-size: 16px;
}

.order-modal .panel-body p {
    color: #565656;
    font-size: 16px;
    font-family: FiraSans-Regular;
    margin-bottom: 15px;
}

.order-modal .panel-body .label {
    background: #8db74c;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.order-modal p.cleaner-label {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 16px;
    color: #595959;
    margin-bottom: 10px;
}

.order-modal .cleaner-img {
    margin-left: auto;
    margin-right: auto;
}

.order-modal .cleaner-name {
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 600;
    color: #21374c;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
}

.order-modal p.details-subtitle {
    font-family: 'FiraSans-Bold';
    font-size: 20px !important;
    font-weight: bold;
    color: #24374c;
    margin-top: 15px;
}

.ok-icon-green {
    background: url(../images/correct-symbol.png);
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: 17px;
}

.order-modal p.order-comment {
    font-family: FiraSans-Regular;
    font-size: 14px;
    color: #565656;
}

.order-note {
    font-family: FiraSans-Regular;
    font-size: 15px;
    color: #24374c;
    margin-bottom: 15px;
}

.order-btn-wrapper {
    text-align: right;
}

.order-btn,
.order-btn:hover,
.order-btn:focus {
    font-family: FiraSans-Regular;
    color: #fff;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 66px;
    margin-left: 4px;
    margin-right: 4px;
}

.order-alt1-btn {
    width: 234px;
    background-color: #1b3f72;
}

.order-sm-btn {
    font-size: 16px;
}

.order-lg-btn {
    font-size: 20px;
}

.non-click-btn {
    cursor: default;
}

.order-btn span {
    display: block;
    font-size: 30px;
    margin-top: -5px;
}

.order-alt2-btn,
.order-alt2-btn:hover,
.order-alt2-btn:focus {
    width: 234px;
    background-color: #00a6ff;
    margin-right: 0;
}

.order-alt3-btn,
.order-alt3-btn:hover,
.order-alt3-btn:focus {
    width: 234px;
    background-color: #d44b47;
    margin-left: 0;
    margin-right: 0;
}

.order-modal input {
    width: calc(100% - 46px);
}

@media (max-width: 1199px) {
    .order-modal .order-details-column:nth-of-type(2n-1) {
        clear: both;
    }
}

@media (max-width: 767px) {
    .order-btn,
    .order-btn:hover,
    .order-btn:focus {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .order-modal .modal-header {
        padding-left: 40px;
        padding-right: 40px;
    }
    .order-modal-1 .modal-body {
        padding-left: 40px;
        padding-right: 40px;
    }
    .order-modal .panel-default .panel-body {
        padding: 30px;
    }
}



/* ORDER MODAL 2 */

.modal-edit-field {
    border-radius: 5px;
    background-color: #84af45;
    min-height: 40px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #fff;
}

.modal-edit-field-transparent {
    background-color: transparent;
/*    border: 1px solid #00a6ff;*/
    color: #21374c;
    padding: 4px 15px;
    padding-left: 0;
}

.modal-edit-field span {
/*    width: calc(100% - 35px);*/
    display: inline-block;
}

.modal-edit-field-transparent button {
    top:10px;
    background-color: #00a6ff !important;
    color: #fff;
}

.modal-edit-field-transparent span {
/*    width: calc(100% - 46px);*/
    display: inline-block;
}

.modal-edit-field-transparent .el-input--mini .el-input__inner {
    height: 34px ;
}

.addetto-span {
    width: calc(100% - 46px);
}

.order-time-area-wrapper {
    background-color: #84af45;
    color: #fff;
    font-family: FiraSans-Regular;
    min-height: 106px;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.order-time-area-wrapper:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 36px;
    background-color: #fff;
}

.order-time-area-wrapper p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
    min-height: 106px;
}

.order-time-area-wrapper span {
    display: block;
    font-family: 'FiraSans-Bold';
    font-weight: bold;
    font-size: 20px;
}

.order-label {
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #21374c;
    line-height: 40px;
}

.checkboxes-wrapper {
    border: 1px solid #d2d2d2;
    padding: 0px 20px;
    margin-bottom: 20px;
    max-height: 120px;
    overflow: auto;
}

.order-modal-2-btn-wrapper {
    padding-top: 30px;
}

.order-modal-2-btn-wrapper button {
    text-transform: uppercase;
}

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    width: 100%;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #21374c;
    height: 40px;
    line-height: 40px;
}

.label-cbx input:checked+.checkbox {
    border-color: #84af45;
    background: #84af45;
}

.label-cbx input:checked+.checkbox svg path {
    fill: #84af45;
}

.label-cbx input:checked+.checkbox svg polyline {
    stroke-dashoffset: 0;
}



/*.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}*/

.label-cbx .checkbox {
    position: relative;
    top: 2px;
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0;
    width: 21px;
    height: 21px;
    border: 2px solid #d2d2d2;
    border-radius: 50%;
    overflow: hidden;
    background: #d2d2d2;
}

.label-cbx .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}

.label-cbx .checkbox svg path {
    fill: #d2d2d2;
    stroke: #84af45;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}

.label-cbx .checkbox svg polyline {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}

.label-cbx>span {
    pointer-events: none;
    vertical-align: middle;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

@media (min-width: 768px) {
    .order-modal-2-btn-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }
    .order-modal-2 .modal-body {
        padding: 40px;
    }
}

@media (max-width: 991px) {
    .checkboxes-wrapper {
        max-height: initial;
    }
}

@media (max-width: 767px) {
    .order-time-area-wrapper {
        min-height: 212px;
    }
    .order-time-area-wrapper p {
        position: relative;
        min-height: 106px;
    }
    .order-time-area-wrapper:before {
        height: 1px;
        width: 36px;
    }
}


/* SELECT */

.order-modal select {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}


/* TEXTAREA */

.order-modal textarea {
    width: 100%;
    padding: 15px 20px;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #21374c;
}
