.tooltip-new{
  display: inline;
  border-radius: 50%;
  background: #009de2;
  color: white;
  border: none;
  /* padding: 1px; */
  width: 15px;
  height: 15px;
  font-size: 9px;
  line-height: 15px;
}

.services-title {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.services-title h1 {
  max-width: 800px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  cursor: default;
  line-height: 40px;
  text-align: center;
  font-family: 'Humanist777BT-BlackB';
  margin: 0 0 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
}

.services-title p {
  cursor: default;
  font-family: 'OpenSans';
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.section-registration {
  height: auto;
}

.section-step {
  padding: 60px 0 45px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background: #f5f5f5;
}

.section-step .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.step-form-group {
  background: #f5f5f5;
  width: 100%;
  margin-bottom: 0;
}

.step-form-group .nav {
  background: #f5f5f5;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  border: none;
  padding: 0;
}

.step-form-group .nav label {
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.step-form-group .nav li {
  margin-right: 10px;
  width: 100%;
}

.step-form-group .nav li:before {
  z-index: 1;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border: 20px solid transparent;
  border-left: 15px solid #f5f5f5;
}

.step-form-group .nav li a {
  border-radius: 0;
}

.step-form-group .nav .step-1:before {
  border: none !important;
}

.step-form-group .nav li.disabled {
  background: #cccccc;
}

.step-form-group .nav li.disabled:after {
  z-index: 10;
  content: '';
  position: absolute;
  right: -35px;
  bottom: 0;
  border: 20px solid transparent;
  border-left: 15px solid #cccccc;
}

.step-form-group .nav li.disabled a:hover {
  background: #cccccc;
}

.step-form-group .nav li.active a {
  background: #00aeff;
}

.step-form-group .nav li.active a:hover {
  background: #00aeff;
}

.step-form-group .nav li.active {
  background: #00aeff;
}

.step-form-group .nav li.active:after {
  z-index: 10;
  content: '';
  position: absolute;
  right: -35px;
  bottom: 0;
  border: 20px solid transparent;
  border-left: 15px solid #00aeff;
}

.step-form-group .nav li.active:hover {
  background: #00aeff;
}

.step-form-group .nav li {
  background: #02447e;
}

.step-form-group .nav li:after {
  z-index: 10;
  content: '';
  position: absolute;
  right: -35px;
  bottom: 0;
  border: 20px solid transparent;
  border-left: 15px solid #02447e;
}

.step-form-group .nav li a:hover {
  background: #02447e;
}

.step-form-group .step-1 label:before {
  margin-right: 10px;
  vertical-align: middle;
  content: url("../images/icons/first-step.png");
}

.step-form-group .step-2 label:before {
  margin-right: 10px;
  vertical-align: middle;
  content: url("../images/icons/second-step.png");
}

.step-form-group .step-3 label:before {
  margin-right: 10px;
  vertical-align: middle;
  content: url("../images/icons/third-step.png");
}

.step-form-group .step-4 label:before {
  margin-right: 10px;
  vertical-align: middle;
  content: url("../images/icons/fourth-step.png");
}

.service-container {
  padding: 0 50px;
}

.step-form-group .nav li.disabled label {
  cursor: not-allowed;
}

.step-form-group .nav label {
  cursor: pointer;
}

.tabs-container {
  padding: 0 50px;
}

#step-1 .sidebar {
  margin-left: 30px;
}

.first-tab {
  width: 75%;
}

.first-tab .service-details-title {
  margin-bottom: 25px;
}

.first-tab .service-details-title ol {
  margin: 0 0 5px 5px;
  padding: 0;
}

.first-tab .service-details-title ol li {
  cursor: default;
  color: #21374c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 50px;
}

.first-tab .service-details-title label {
  margin-top: 5px;
  display: block;
  text-transform: none;
  cursor: default;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #00aeff;
  font-size: 14px;
  font-style: italic;
}

.first-tab .service-includes {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.first-tab .service-includes-elem {
  cursor: pointer;
  width: 220px;
  padding: 20px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  margin-right: 10px;
}

.first-tab .service-includes-elem-button {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.first-tab .service-includes img {
  height: 78px;
  max-width: 120px;
  width: 100%;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.first-tab .service-includes .active-button {
  background: #8db74c !important;
}

.first-tab .service-includes .btn {
  text-transform: uppercase;
  padding: 8px;
  max-width: 125px;
  width: 100%;
  font-size: 12px;
  border-radius: 0;
  background: #00aeff;
  color: #fff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
}

.first-tab .service-includes .btn:hover {
  background: #8db74c;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: none;
}

.first-tab .service-includes .btn:focus {
  outline: none;
}

.first-tab .service-includes .line {
  margin: 25px 0 15px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  height: 2px;
  background: #00aeff;
  width: 55px;
}

.first-tab .service-free {
  margin-bottom: 40px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 30px 30px 0 35px;
  background: #fff;
  overflow: auto;
}

.first-tab .service-free > div {
  float: left;
  width: 50%;
}

.first-tab .service-free .service-free-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.first-tab .service-free .service-free-list img {
  vertical-align: sub;
  margin-right: 30px;
  position: absolute;
  left: 0;
}

.first-tab .service-free .service-free-container {
  padding: 0;
}

.first-tab .service-free .service-free-list li {
  color: #565656;
  font-size: 16px;
  font-family: FiraSans-Regular;
  margin-bottom: 30px;
  cursor: default;
  padding-left: 40px;
}

.first-tab .service-free .service-free-list .elem1:before {
  content: url("../images/icons/service-icon1.png");
  vertical-align: sub;
  margin-right: 30px;
}

.first-tab .service-free .service-free-list .elem2:before {
  content: url("../images/icons/service-icon2.png");
  vertical-align: sub;
  margin-right: 30px;
}

.first-tab .service-free .service-free-list .elem3:before {
  content: url("../images/icons/service-icon3.png");
  vertical-align: sub;
  margin-right: 30px;
}

.first-tab .service-free .service-free-list .elem4:before {
  content: url("../images/icons/service-icon4.png");
  vertical-align: sub;
  margin-right: 30px;
}

.first-tab .service-free .service-free-list .elem5:before {
  content: url("../images/icons/service-icon5.png");
  vertical-align: sub;
  margin-right: 30px;
}

.first-tab .service-free .service-free-list .elem6:before {
  content: url("../images/icons/service-icon6.png");
  vertical-align: sub;
  margin-right: 30px;
}

.service-free-title {
  width: 55%;
}

.service-free-title li {
  position: relative;
}

.service-free-title li:after {
  content: url("../images/service-icon.png");
  right: 0;
  position: absolute;
  top: -15px;
}


.services-additional .services-additional-row {
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.services-additional .second-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.services-additional .services-additional-elem {
  position: relative;
  padding: 25px 35px;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
/*  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;*/
/*  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;*/
/*  cursor: pointer;*/
  width: calc(33.33333333% - 10px);
  min-height: 236px;
  margin: 0 10px 10px 0;
  background: #fff;
  float: left;
}

.services-additional {
  margin-bottom: 0;
  /*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: visible;
}

.services-additional .services-additional-elem span {
  font-size: 12px;
  /*font-size: 24px;*/
  color: #000;
  /*color: #565656;*/
  /*font-family: "Open Sans", sans-serif;*/
  font-family: FiraSans-Regular;
  /*width: 100%;*/
  display: block;
  text-align: center;
}

.services-additional .services-additional-title {
  position: relative;
  margin-bottom: 0px;
  min-height: 75px;
}

.services-additional .services-additional-title span {
  color: #565656;
  font-family: FiraSans-Regular;
  font-size: 16px;
  margin: 0 0 5px 10px;
  display: block;
}

.services-additional .services-additional-title span:last-child {
  font-style: normal;
  padding: 0;
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #26b4ff;
  display: block;
  font-family: FiraSans-Regular;
}

.services-additional .services-additional-title img {
  vertical-align: top;
  float: left;
  margin-right: 10px;
}

.services-additional .title1:before {
  top: -5px;
  position: absolute;
  content: url("../images/icons/window-icon.png");
}

.services-additional .title2:before {
  top: -5px;
  position: absolute;
  content: url("../images/icons/louvers.png");
}

.services-additional .title3 h2 {
  margin: 0 0 5px 40px;
}

.services-additional .title3:before {
  top: -5px;
  position: absolute;
  content: url("../images/icons/fridge-icon.png");
}

.services-additional .title4:before {
  top: -5px;
  position: absolute;
  content: url("../images/icons/iro-icon.png");
}

.services-additional .title5 h2 {
  margin: 0 0 5px 45px;
}

.services-additional .title5:before {
  top: -5px;
  position: absolute;
  content: url("../images/icons/cooker-icon.png");
}

.services-additional .services-additional-button {
  position: relative;
  z-index: 200;
  text-align: center;
  width: 100%;
}

.services-additional .services-additional-button .add-button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  margin-top: 25px;
  padding: 8px;
  border-radius: 0;
  background: #8db74c;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.services-additional .services-additional-button .add-button:hover {
  background: #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: 1px solid #8db74c;
  color: #8db74c;
}

.services-additional .services-additional-button .add-button:focus {
  outline: none;
}

.services-additional .services-additional-button {
  text-align: center;
  width: 100%;
}

.services-additional .services-additional-button .cancel-button {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 0;
  background: #00aeff;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.services-additional .services-additional-button .cancel-button:hover {
  background: #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: 1px solid #00aeff;
  color: #00aeff;
}

.services-additional .services-additional-button .cancel-button:focus {
  outline: none;
}

.services-additional-elem-hover {
  position: absolute;
  padding: 25px 35px;
  top: 50%;
  width: 100%;
  background: #fff;
  left: 0;
  z-index: 100;
  display: none;
}

.services-additional-elem-hover input[type=checkbox]:not(old)+label {
  margin-left: 0;
}

.services-additional-elem-hover .checkbox {
  margin: 0 0 15px;
}

.services-additional-elem-hover .checkbox label {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #565675;
}

.services-additional-elem-hover .add-button {
  margin-top: 0 !important;
}

.services-additional-elem-hover input[type=checkbox]:not(old)+label>span {
  margin: 0.25em 0 0.25em 0.25em;
}

.services-additional-elem-hover input[type=checkbox]:not(old):checked+label>span:before {
  content: url("../images/icons/checkbox-icon1.png");
}

.services-additional-elem-hover .price {
  font-weight: normal;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: FiraSans-Regular;
  font-size: 14px;
  color: #aeaeae;
}

.services-additional-elem-hover .price span {
  font-weight: normal;
  margin-left: 20px;
  color: #8db74c;
  font-size: 14px;
  font-family: FiraSans-Regular;
}

.service-materials {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.service-materials-elem {
  width: 100%;
  margin-right: 10px;
}

.service-materials .btn {
  width: 100%;
  border-radius: 0;
  color: #21374c  ;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background: #94d9fa;
  border: none;
  font-size: 12px;
  height: 45px;
}

.service-materials .btn:hover,
.service-materials .btn:focus {
  outline: none;
}

.service-materials .btn:hover {
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  background: #00aeff;
  color: #fff;
  border: none;
}

.service-materials .btn.service-materials-active-button {
  background: #00aeff;
  color: #fff;
  border: none;
}

.service-difficult {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.service-difficult-elem {
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  position: relative;
  cursor: pointer;
  padding: 0 20px 0;
  background: #fff;
  margin-right: 10px;
  width: 240px;
  z-index: 0;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.service-difficult-elem img {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  max-width: 60px;
  width: 100%;
}

.service-difficult-elem .image {
  text-align: center;
  height: 64px;
}

.service-difficult-elem .line {
  margin: 15px 0 25px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  height: 2px;
  background: #00aeff;
  width: 55px;
}

.service-difficult-elem label {
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #00aeff;
  text-transform: uppercase;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}

.service-difficult-elem .human-label {
  color: #8db74c;
}

.service-difficult-elem .checkbox {
  margin: 0;
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.service-difficult-elem .checkbox-label {
  margin: 0;
  padding: 0;
}

.service-difficult input[type=checkbox]:not(old)+label>span {
  vertical-align: top;
  margin: 0.25em 0 0.25em 0.25em;
}

.service-difficult input[type=checkbox]:not(old):checked+label>span:before {
  content: url("../images/icons/checkbox-icon.png");
  margin: -9px 0 0 1px;
}

.service-difficult-elem-hover {
  display: none;
  opacity: 0;
  padding: 0 20px 35px;
  position: absolute;
  top: 80%;
  z-index: 300;
  width: 100%;
  background: #fff;
  left: 0;
}

.service-difficult-elem-hover .hover-label {
  margin: 25px 0 25px;
  text-transform: none;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

.service-difficult-elem-hover .checkbox-label {
  color: #9ea1a2;
  text-transform: none;
  font-family: FiraSans-Regular;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.service-difficult .service-difficult-elem-hover input[type=checkbox]:not(old):checked+label>span:before {
  margin: -7px 0 0 1px !important;
}

.service-difficult-elem:hover .service-difficult-elem-hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.service-difficult-elem:active,
.service-difficult-elem:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.service-quality {
  padding: 60px 25px 35px;
  background: #fff;
}

.service-quality .service-quality-title {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.service-quality h2 {
  cursor: default;
  line-height: 30px;
  margin: 0 0 18px;
  text-align: center;
  font-family: FiraSans-Regular;
  color: #00aeff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-quality .line {
  width: 300px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  height: 2px;
  background: #66ceff;
}

.service-quality-elem {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.service-quality-elem .icon {
  margin-right: 35px;
}

.service-quality-column {
  min-height: 185px;
}








/*.service-quality .service-quality-lists {
  align-self: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}*/

.service-quality .service-quality-lists ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-quality .service-quality-lists ul li {
  cursor: pointer;
  font-size: 15px;
  color: #313131;
  font-family: 'FiraSans-ExtraLight', sans-serif;
  padding: 0 0 10px 20px;
}

.service-quality .service-quality-lists ul .list-title {
  position: relative;
  font-family: 'FiraSans-ExtraLight', sans-serif;
  padding-left: 0;
  color: #00aaff;
  text-transform: uppercase;
  font-size: 18px;
}

.service-quality .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.service-quality .price .price-text {
  padding-bottom: 15px;
  width: 40%;
  border-bottom: 1px solid #33beff;
}

.service-quality .price p {
  color: #b9b9b9;
  font-size: 14px;
  font-style: italic;
  font-family: 'FiraSans-ExtraLight', sans-serif;
  margin-bottom: 20px;
}

.service-quality .price label {
  margin: 0;
  font-size: 14px;
  color: #00aeff;
  font-family: FiraSans-Regular;
  font-weight: normal;
  font-style: italic;
}

.service-quality .price input[type=checkbox]:not(old):checked+label>span:before {
  content: url("../images/icons/checkbox-icon.png");
}

.service-details-button {
  text-align: right;
  margin-top: 25px;
}

.service-details-button .btn {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #00aeff;
  border: 1px solid transparent;
  width: 160px;
  height: 35px;
}

.service-details-button .btn:hover,
.service-details-button .btn:focus {
  outline: none;
}

.service-details-button .btn:hover {
  background: #fff;
  color: #00aeff;
  border: 1px solid #00aeff;
}

.data-section {
  width: 100%;
}

.data-section .service-details-title {
  margin-bottom: 25px;
}

.data-section .service-details-title ol {
  margin: 0 0 5px 5px;
  padding: 0;
}

.data-section .service-details-title ol li {
  cursor: default;
  color: #21374c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 50px;
}

.data-section .service-details-title label {
  margin-top: 5px;
  display: block;
  text-transform: none;
  cursor: default;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #00aeff;
  font-size: 14px;
  font-style: italic;
}

.data-section .insurance {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.data-section .insurance-elem {
  cursor: pointer;
  position: relative;
  margin: 0 10px 10px 0;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 320px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 320px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

.data-section .insurance-elem .btn {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Bold';
  background: #00aeff;
  border: 1px solid transparent;
  width: 150px;
  height: 40px;
}

.data-section .insurance-elem .btn:hover,
.data-section .insurance-elem .btn:focus {
  outline: none;
}

.data-section .insurance-elem .btn:hover {
  background: #fff;
  color: #00aeff;
  border: 1px solid #00aeff;
}

.data-section .insurance .insurance-elem-text {
  z-index: 10;
  text-align: center;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.data-section .insurance .insurance-elem-text h2 {
  margin: 0 0 20px;
  color: #42bdff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: FiraSans-Regular;
}

.data-section .insurance .insurance-elem-text p {
  margin-bottom: 20px;
  font-size: 12px;
  color: #828282;
  font-family: 'FiraSans-ExtraLight';
}

.data-section .insurance .insurance-elem-text a {
  color: #00aeff;
}

.data-section .data-time-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.data-section .data-time-row .elem1 {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.data-section .data-time {
  margin-bottom: 50px;
}

.data-section .data-time p {
  margin: 25px 0 0;
  color: #808080;
  font-size: 14px;
  font-family: 'FiraSans-ExtraLight';
}

.data-section .data-time .data-time-text {
  width: 55%;
}

.data-section .data-time-button span {
  color: #fff;
  margin-left: 3px;
}

.data-section .data-time-button .btn {
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  background: #8db74c;
  border: 1px solid transparent;
  width: 275px;
  font-size: 14px;
  height: 40px;
}

.data-section .data-time-button .btn:hover,
.data-section .data-time-button .btn:focus {
  outline: none;
}

.data-section .data-time-elem {
  margin-right: 10px;
}

.data-section .profile-block {
  position: relative;
  cursor: pointer;
}

.data-section .profile-block-elem {
  padding: 4px;
  background: transparent;
  width: 200px;
  min-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 4px solid transparent;
  overflow: hidden;
  position: relative;
}
.profile-block-elem-active {
  border: 4px solid #8db74c;
}

.data-section .profile-block-elem:hover {
  border: 4px solid #8db74c;
}

.data-section .profile-block-elem a {
  height: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.data-section .profile-block .profile-image {
  height: 195px;
  width: 100%;
  /*background: #b7b7b7;*/
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  background-position: center !important;
  background-size: cover !important;
}

.data-section .profile-block .look-profile {
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 40px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.data-section .profile-block .look-profile label {
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  font-size: 14px;
  color: #00aeff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  background: #fff;
}

.data-section .profile-block .look-profile label:after {
  content: url("../images/icons/profile-arrow.png");
  margin-left: 10px;
}

#table-cleaner .table-responsive>div:first-of-type,
#table-cleaner .table-responsive>div:first-of-type+p {
  float: left;
}

#table-cleaner .table-responsive>div:first-of-type {
  width: 33.33333333%;
}

#table-cleaner .table-responsive>div:first-of-type img {
  max-width: 100%;
  height: auto;
}

#table-cleaner .table-responsive>div:first-of-type+p {
  width: 66.66666666%;
}

#table-cleaner .table-responsive .btn {
  margin-top: 20px;
}

.data-section .profile-block-first-elem .profile-background {
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #00aeff;
  width: 100%;
}

.data-section .profile-block-first-elem label {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  color: #fff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.data-section .profile-block {
  margin-bottom: 55px;
}

.data-section .second-tab-comment {
  margin-bottom: 30px;
}

.data-section .second-tab-comment textarea {
  padding: 30px;
  border: none;
  /*font-family: 'FiraSans-UltraLight';*/
  background: #fff;
  height: 145px;
  width: 100%;
  resize: none;
  color: #21374c;
  font-size: 12px;
}

.data-section .second-tab-comment textarea:focus {
  outline: none;
}

.data-section .second-tab-button {
  text-align: right;
}

.data-section .btn {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #8db74c;
  border: 1px solid transparent;
  width: 180px;
  height: 45px;
}

.data-section .btn:hover,
.data-section .btn:focus {
  outline: none;
}

.data-section .btn:hover {
  background: #fff;
  color: #8db74c;
  border: 1px solid #8db74c;
}

.second-tab-modal .modal-content {
  border-radius: 0;
}

.second-tab-modal h4 {
  cursor: default;
  color: #21374c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.second-tab-modal .modal-header {
  border-bottom: 1px solid transparent;
}

.second-tab-modal .modal-body {
  border-bottom: 1px solid transparent;
}

.second-tab-modal p {
  color: #808080;
  font-size: 14px;
  font-family: 'FiraSans-ExtraLight';
}

.second-tab-modal .modal-footer {
  border-top: 1px solid transparent;
}

.second-tab-modal .modal-footer .btn {
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  background: #8db74c;
  border: 1px solid transparent;
  width: 150px;
  font-size: 12px;
  height: 40px;
}

.profile-block-elem-active {
  border: 4px solid #8db74c !important;
}

.profile-block .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.profile-block .owl-nav {
  width: 100%;
  position: absolute;
  z-index: 200;
  top: 50%;
  margin-top: -1.625em;
}

.profile-block .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  width: 20px;
  height: 35px;
  left: -15px;
  text-indent: -9999px;
  background: url("../images/icons/slider-prev-before.png");
}

.profile-block .owl-nav .owl-prev:hover,
.profile-block .owl-nav .owl-prev:focus {
  background: url("../images/icons/slider-prev-before.png");
}

.profile-block .owl-nav .owl-next {
  position: absolute;
  top: 0;
  width: 20px;
  height: 35px;
  right: 0;
  text-indent: -9999px;
  background: url("../images/icons/slider-next-arrow.png");
}

.profile-block .owl-nav .owl-next:hover,
.profile-block .owl-nav .owl-next:focus {
  background: url("../images/icons/slider-next-arrow.png");
}

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: #00aeff;
}

.flatpickr-day {
  font-weight: bold;
  color: #4d4d4d;
  border: 2px solid transparent;
  border-radius: 0;
  max-width: 34px;
  height: 34px;
  line-height: 33px;
}

.flatpickr-month {
  width: 245px;
}

.flatpickr-calendar {
  width: 245px;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

span.flatpickr-weekday {
  max-width: 35px;
}

.dayContainer {
  width: 245px;
  min-width: 245px;
  max-width: 245px;
}

.flatpickr-day.prevMonthDay {
  border: 2px solid transparent;
  border-radius: 0;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  border-radius: 0;
  color: #4d4d4d;
  border: 2px solid #00aeff;
  background: transparent;
}

.flatpickr-day.today {
  border: 2px solid #00aeff;
}

.flatpickr-day.today:hover {
  color: #4d4d4d;
  border: 2px solid #00aeff;
  background: transparent;
}

.flatpickr-day.nextMonthDay {
  border: 2px solid transparent;
}

.flatpickr-weekday {
  color: #8f8f8f;
}

.flatpickr-day.selected {
  background: transparent;
  border: 2px solid #00aeff;
  color: #757575;
}

.calendar {
  width: 245px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  color: #42baff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  height: 34px;
}

.calendar:before {
  content: url("../images/icons/calendar-before.png");
  margin-right: 15px;
  display: none;
}

.calendar:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #c4c4c4;
}

.flatpickr-hour {
  width: 130px;
  height: 34px;
  border: 1px solid #c4c4c4;
  color: #42baff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.flatpickr-hour1 {
  width: 245px
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
}

.flatpickr-calendar.hasTime {
  width: 165px;
}

.flatpickr-time .numInputWrapper {
  max-width: 60px;
}

.flatpickr-current-month input.cur-year {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.flatpickr-current-month span.cur-month {
  cursor: default;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.flatpickr-current-month span.cur-month:hover {
  background: #fff;
}

.flatpickr-current-month {
  font-size: 14px;
  padding: 15.16px 0 0 0;
  height: 50px;
}

.flatpickr-month {
  height: 50px;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  line-height: 37px;
}

.flatpickr-calendar.open {
  z-index: 200;
}

.flatpickr-weekdays {
  width: 245px;
}

.dayContainer {
  padding-bottom: 30px;
}

.calendar-icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.calendar-icon:before {
  content: url("../images/icons/calendar-before.png");
}

.flatpickr-hour {
  padding-left: 50px;
}

.time-icon {
  position: absolute;
  top: 8px;
  left: 23px;
}

.icon-arrow-after {
  position: absolute;
  top: 8px;
  right: 20px;
}

.icon-arrow-after:before {
  content: url("../images/icons/input-arrow.png");
}

.flatpickr-time input {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
}

.flatpickr-time .flatpickr-am-pm {
  font-family: "Open Sans", sans-serif;
  color: #4d4d4d;
}

.data-time-elem {
  position: relative;
}

.data-time-elem1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.calendar {
  padding-left: 30px;
  position: relative;
}

.insurance-elem-hover {
  cursor: pointer;
  border-radius: 10px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  position: absolute;
  opacity: 0;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 25px;
}

.insurance-elem-hover h2 {
  margin-bottom: 0 !important;
  color: #fff !important;
}

.insurance-elem-hover p {
  color: #fff !important;
}

.insurance-elem-hover .line {
  margin: 14px 0 14px;
  width: 50px;
  height: 2px;
  background: #fff;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.insurance-elem-hover .insurance-elem-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.insurance-elem-hover .btn {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.second-tab {
  width: 75%;
}

.insurance-elem:hover .insurance-elem-hover {
  opacity: 1;
  z-index: 20;
  background: #4f5d6b;
  -webkit-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
}

#step-2 .sidebar {
  margin-left: 30px;
}

.fixed {
  position: fixed;
  right: 50px;
}

.fourth-tab {
  width: 60%;
}

.third-tab {
  width: 75%;
}

.third-tab .form-registration .registration-title {
    cursor: default;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'FiraSans-Regular';
    font-size: 24px;
    font-weight: normal;
    color: #005783;
}

.third-tab .form-registration .btn {
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #8db74c;
  border: 1px solid transparent;
  width: 275px;
  height: 45px;
}

.third-tab .form-registration .btn:hover,
.third-tab .form-registration .btn:focus {
  outline: none;
}

.third-tab .form-registration .btn:hover {
  background: #f5f5f5;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #8db74c;
  border: 1px solid #8db74c;
}

.third-tab .form-registration h2 {
  margin: 35px 0 15px;
  color: #21374c;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.third-tab .form-registration .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0;
}

.third-tab .form-registration label {
  color: #525252;
  font-family: FiraSans-Bold;
  font-size: 16px;
  display: block;
  font-weight: bold;
  margin: 15px 0 10px;
}

.third-tab .form-registration .form-inline .form-group {
  width: calc(50% - 10px);
  /*margin-right: 10px;*/
}

.third-tab .form-registration .form-inline.third-row {
  max-width: 50%;
}

.third-tab .form-registration select {
  font-family: FiraSans-Regular;
  color: #7b7b7b;
  font-size: 16px;
  width: 100%;
}

.third-tab .form-registration select>option {
  font-family: FiraSans-Regular;
  color: #7b7b7b;
  font-size: 16px;
}

.third-tab .form-registration input {
  font-family: FiraSans-Regular;
  height: 35px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fff;
  color: #7b7b7b;
}

.lg-form-inline .form-group .reg-info,
.lg-form-inline .form-group {
  padding-left: 0;
}

.reg-info {
  margin-top: 10px;
}

.third-tab .form-registration input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #a2a2a2;
}

.alert {
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.reg-info-phys {
  padding: 0;
}

.third-tab .form-registration .checkbox-form label {
  font-family: 'FiraSans-UltraLight';
  font-weight: 200;
  font-size: 18px;
  margin: 0;
}

.third-tab .form-registration .checkbox-form input {
  height: 0;
}

.third-tab .form-registration .checkbox-form input[type=checkbox]:not(old)+label>span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 1.5em 0.3em 0.2em;
}

.third-tab .form-registration .checkbox-form input[type=checkbox]:not(old):checked+label>span:before {
  cursor: pointer;
  content: url("../images/icons/checkbox.png");
  display: block;
  margin: -7px 0 0 4px;
}

.third-tab .form-registration .button-registration {
  text-align: right;
}

.third-tab .form-registration .button-registration .btn {
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #8db74c;
  border: 1px solid transparent;
  width: 180px;
  height: 45px;
}

.third-tab .form-registration .button-registration .btn:hover,
.third-tab .form-registration .button-registration .btn:focus {
  outline: none;
}

.third-tab .form-registration .button-registration .btn:hover {
  background: #f5f5f5;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #8db74c;
  border: 1px solid #8db74c;
}

.setup-content {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.pay-system-section h2 {
  cursor: default;
  color: #21374c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.pay-system-section .pay-cards {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.pay-system-section .pay-cards-elem {
  margin-right: 10px;
}

.pay-system-section .pay-cards img {
  width: 100%;
}

.pay-system-section .checkbox-form label {
  color: #999999;
  font-family: FiraSans-Regular;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}

.pay-system-section .checkbox-form input[type=checkbox]:not(old)+label>span {
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.pay-system-section .checkbox-form input[type=checkbox]:not(old):checked+label>span:before {
  content: url("../images/icons/pay-checkbox.png");
  margin: -1px 0 0 -1px;
}

.pay-system-section .checkbox-form input[type=checkbox]:not(old)+label {
  margin-left: 0;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 15px !important;
  width: 240px;
  margin-bottom: 15px;
}

.sidebar h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
  cursor: default;
  color: #21374c;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.sidebar-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.sidebar-form input {
  width: 100%;
  height: 30px;
  text-align: right;
  padding-right: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fff;
  color: #7b7b7b;
}

.sidebar-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #a2a2a2;
}

.sidebar-form span {
  color: #7b7b7b;
  margin: 5px 0 0 10px;
  font-size: 14px;
  font-family: FiraSans-Regular;
}

.sidebar-form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin: 15px 0 0 15px;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
/*  height: calc(100vh - 539px);
  overflow-y: auto;*/
}

.sidebar-form-list li {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 15px;
  color: #565656;
  font-size: 14px;
  font-family: FiraSans-Regular;
  position: relative;
}

.sidebar-form-list span {
  width: 100%;
  cursor: default;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #30b8fe;
}

.sidebar-form-list .close {
  position: relative;
  top: -5px;
}

.sidebar-form .price-button .btn {
  border-radius: 0;
  color: #00aeff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: #fff;
  border: 2px solid #00aeff;
  width: 100%;
}

.sidebar-form .price-button .btn>p {
  font-size: 11px;
  margin: 0px;
}

.sidebar-form .price-button .btn:hover,
.sidebar-form .price-button .btn:focus {
  outline: none;
}

.sidebar-form .price-button .btn:hover {
  background: #fff;
  color: #00aeff;
  border: 2px solid #00aeff;
}

.sidebar-form .price-button .btn:before {
  margin-right: 10px;
  vertical-align: sub;
  content: url("../images/icons/price.png");
}

.sidebar-form .price-button span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #00aeff;
}

.sidebar-form .continue-button .btn {
  margin-top: 15px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #00aeff;
  border: 2px solid #00aeff;
  width: 100%;
  height: 40px;
}

.sidebar-form .continue-button .btn:hover,
.sidebar-form .continue-button .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.sidebar-form .continue-button .btn:hover {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #00aeff;
  border: 2px solid #00aeff;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .first-tab .service-includes img {
    height: 70px;
  }
}

@media (max-width: 1199px) {
  .third-tab {
    width: 70%;
  }
  .first-tab {
    width: 75%;
  }
  .second-tab {
    width: 75%;
  }
  .data-section .insurance-elem {
    max-width: 240px;
    width: 240px;
  }
  .profile-block .owl-nav .owl-next {
    right: -15px;
  }
  .services-additional .services-additional-elem {
/*    min-height: 256px;*/
  }
  .sidebar {
    position: relative;
    top: 0 !important;
    margin-left: 0 !important;
  }
  .first-tab .service-details-title ol li,
  .data-section .service-details-title ol li {
    padding-left: 0;
  }
    .first-tab .service-free > div {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .first-tab .service-details-title ol {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .step-form-group .nav {
    width: 100%;
  }
  .third-tab .form-registration .form-inline.third-row {
    max-width: 100%;
  }
  .third-tab .form-registration .lg-form-inline-elem {
    width: 100%;
  }
  .third-tab {
    width: 100%;
  }
  .first-tab {
    width: 100%;
  }
  .first-tab .service-includes {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;
  }
  .first-tab .service-includes-elem {
    width: auto;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 5px;
  }
  .sidebar {
    margin: 30px 0 0 0;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .sidebar .sidebar-form {
    width: 240px;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .setup-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .service-container {
    padding: 0 20px;
  }
  .fourth-tab {
    width: 100%;
  }
  .second-tab {
    width: 100%;
  }
  .data-section .insurance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .data-section .data-time .data-time-text {
    width: 100%;
  }
  .first-tab .service-includes-elem {
    width: calc(50% - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .servizi-aggiuntivi-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
    #step-1 .sidebar {
      margin-left: 0;
  }
}

@media (max-width: 992px) {
  .calendar,
  .flatpickr-hour1 {
    width: 100%;
  }
  .reg-info-phys-last {
    padding-right: 15px;
    margin-top: 10px;
  }
  .reg-info {
    padding-right: 0;
  }
  .reg-info-phys {
    margin-top: 10px;
  }
  .step-form-group .nav {
    width: 100%;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .step-form-group .nav li {
    margin-bottom: 10px;
    margin-right: 0;
    width: 49%;
    height: 40px;
  }
  .step-form-group .nav a {
    margin-bottom: 0;
  }
  .section-step .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .services-title {
    padding: 0 30px;
  }
  .services-title h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .services-title p {
    font-size: 14px;
  }
  .setup-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .sidebar {
    margin: 30px 0 0 0;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .sidebar .sidebar-form {
    width: 240px;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  #step-1 .sidebar {
    margin-left: 0;
  }
  .third-tab {
    width: 100%;
  }
  .first-tab {
    width: 100%;
  }
  .first-tab .service-includes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  .first-tab .service-includes-elem {
    width: 220px;
  }
  .first-tab .service-free {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .third-tab .form-registration .form-inline .form-group {
    width: 100%;
  }
  /*  .first-tab .service-free div {
    width: 100%;
  }*/
  .services-additional .services-additional-row {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .services-additional .services-additional-elem {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .services-additional .services-additional-elem:nth-child(2n + 1){
      clear:left;
  }
  .service-free-title {
    width: 100%;
  }
  .service-quality .service-quality-lists {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .service-quality {
    padding: 60px 15px 20px;
  }
  .service-quality .price .price-text {
    width: 100%;
  }
  .services-additional .services-additional-elem {
/*    width: calc(50% - 30px);*/
    width: 100%;
/*    margin: 0 15px 30px;*/
  }
  .service-quality-elem {
    display: block;
    text-align: center;
  }
  .service-quality-lists:nth-of-type(2n) {
    content: "";
    display: table;
    clear: both;
  }
  .service-quality-elem .icon {
    margin-right: 0;
  }
  .service-quality .service-quality-lists ul li {
    text-align: center;
    padding-left: 0;
  }
  .service-quality .service-quality-lists ul .list-title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .third-tab .form-registration .btn {
    width: 100%;
  }
  .first-tab .service-includes-elem {
    padding: 5px;
  }
  .servizi-aggiuntivi-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .services-additional .services-additional-elem {
    width: 100%;
    margin: 0 0 30px;
    /*    margin: 0 15px 30px;*/
  }
  .service-quality-lists {
    width: 100%;
    margin-bottom: 30px;
  }
  .service-quality-column {
    min-height: 1px;
  }
}

@media (max-width: 505px) {
  .service-materials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .service-materials-elem {
    text-align: center;
  }
  .service-materials .btn {
    width: 40%;
    margin: 0 0 10px;
  }
  .third-tab .form-registration .form-inline {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .third-tab .form-registration .lg-form-inline .form-group {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .third-tab .form-registration .lg-form-inline .form-group input {
    margin-bottom: 15px;
  }
  .third-tab .form-registration .form-group-elem {
    width: 100%;
  }
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.non-cleaner {
  margin-left: 55px;
  margin-bottom: 55px;
}

