@charset "UTF-8";
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 189px;
}

@media (max-width: 1199px) {
  body {
    margin-bottom: 213px;
  }
}

@media (max-width: 991px) {
  body {
    margin-bottom: 319px;
  }
}
#date-step .dayContainer > .flatpickr-day.disabled{
  color:white ;
  background:#f23f3f;
  border-radius: 0;
}

#date-step .dayContainer > .flatpickr-day.prevMonthDay.disabled{
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}
#date-step .dayContainer > .flatpickr-day{
  color:white;
  background: #37d956;
  border-radius: 0;
}
#date-step .dayContainer .flatpickr-day {
  border: 1px solid #ccc !important;
  max-width: 45px;
}
#date-step .dayContainer .flatpickr-day.selected{
  color:white ;
  background:#1b467b;
  border-radius: 0;
}
#date-step .dayContainer .flatpickr-day.nextMonthDay{
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}
#date-step .flatpickr-day.prevMonthDay.today{
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}
#content {
  max-width: 1920px;
  width: 100%;
  margin: 65px auto 0;
  overflow: hidden;
  position: relative;
}

#wrapper {
  min-height: calc(100vh - 150px);
}

.container-custom {
  position: relative;
}

.form-group select {
  margin-right: 10px;
}

.reg-info-phys-last {
  padding-right: 15px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.title h2 {
  text-align: center;
  cursor: default;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  font-size: 24px;
  color: #005783;
}

.title-line {
  margin-top: 18px;
  height: 6px;
  background: #8db74c;
  width: 70px;
}

.section-title {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin-top: 7px;
  height: calc(100vh - 72px);
}

.section-title .title-img {
  width: 100%;
  height: 100%;
}

.tabs {
  margin-top: 20px;
  z-index: 39;
  right: 100px;
  position: absolute;
}

.tabs .tabs-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 320px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 460px;
  background: #fff;
  overflow: hidden;
}

.tabs .tab-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.tabs .tab-content .form-group {
  padding: 0 40px;
  margin-top: 5px;
  text-align: left;
}

.tabs .tab-content .form-group .checkbox-label {
  margin: 0 0 10px;
  font-size: 12px;
  font-family: FiraSans-Regular;
  color: #d1d1d1;
}

.checkbox-form a {
  text-decoration: none;
}

.tabs .tab-content .form-group .text-input {
  height: 25px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #fff;
  text-align: right;
  padding-right: 5px;
  color: #000;
  width: calc(100% - 30px);
  margin-right: 5px;
}

.tabs .tab-content .form-group .text-input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d4d4d4;
}

.tabs .tab-content .form-group span {
  color: #7b7b7b;
  /*margin-left: 10px;*/
  font-size: 14px;
  font-family: FiraSans-Regular;
}

.tabs .tab-content .form-group .square {
  margin-bottom: 15px;
}

.tabs .tab-content .help {
  text-align: right;
  margin-top: 5px;
}

.tabs .tab-content .help span {
  cursor: pointer;
  font-size: 12px;
  font-family: FiraSans-Regular;
}

.help span:before {
  content: url("../images/icons/help.png");
  margin-right: 8px;
  vertical-align: middle;
}

.tabs .tab-content .form-group-third label {
  display: block;
  font-size: 12px;
  font-family: FiraSans-Regular;
  color: #7b7b7b;
}

.tabs .tab-content .form-group-third textarea {
  border-radius: 4px;
  resize: none;
  height: 25px;
  font-size: 12px;
  font-family: FiraSans-Regular;
  color: #000;
  width: 100%;
  border: 1px solid #eeeeee;
}

.tabs .tab-content .form-group-third textarea:focus {
  border: 1px solid #d4d4d4;
  outline: none;
  background: #fff;
}

.tabs .tab-content .form-group-third .button {
  text-align: center;
}

.tabs .tab-content .form-group-third .btn {
  margin-top: 10px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #009de2;
  border: 1px solid #fff;
  width: 100%;
  height: 30px;
}

.tabs .tab-content .form-group-third .btn:hover,
.tabs .tab-content .form-group-third .btn:focus {
  outline: none;
}

.tabs .tab-content .form-group-third .btn:hover {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #00aaff;
  border: 1px solid #00aaff;
}

.tabs .form-title {
  text-transform: uppercase;
  margin: 0 0 25px;
  /*  text-align: justify;*/
  letter-spacing: 1px;
  font-size: 16px;
  color: #005783;
  font-family: FiraSans-Bold;
}

.tabs .form-group-second {
  padding-bottom: 25px !important;
  border-bottom: 1px solid #dadada;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.wizard>.content {
  min-height: 100em !important;
}

input[type=checkbox]:not(old) {
  cursor: pointer;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 0;
}

.modal-cleaner {
  top: 150px;
}

.modal-header-price {
  background: #009de2;
  color: #fff;
}

.table-bordered-price {
  border: 2px solid #8db74c;
}

.table-bordered-price td,
.table-bordered-price th {
  border-bottom: 1px solid #8db74c;
  padding: 3px;
}

.table-bordered-price th {
  padding: 15px 10px 5px 15px;
}

input[type=checkbox]:not(old)+label {
  cursor: pointer;
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
}

input[type=checkbox]:not(old)+label>span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0.25em 1em 0.25em 0.25em;
  border: 1px solid #dedede;
  border-radius: 0.25em;
  background: #fff;
  cursor: pointer;
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked+label>span:before {
  cursor: pointer;
  content: '✓';
  display: block;
  width: 1em;
  color: #393a39;
  font-size: 0.875em;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold;
  margin: -3px 0 0 1px;
}

.tabs-list {
  margin: 0;
  padding: 0;
  list-style: circle;
}

.tabs-list li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-block;
  padding: 10px 30px 7px 25px;
  background: #e9e9e9;
  cursor: pointer;
  color: #888888;
  font-size: 14px;
  font-family: FiraSans-Regular;
}

.tabs-list li:before {
  vertical-align: text-bottom;
  margin-right: 5px;
  content: url("../images/icons/circle.png");
}

.tabs-list li.active {
  color: #009de2;
  background: #fff;
}

.tabs-list li.active:before {
  vertical-align: text-bottom;
  margin-right: 5px;
  content: url("../images/icons/circle-active.png");
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  font-family: FiraSans-Regular;
  margin-right: 9px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 32px;
}

.select-styled {
  border-radius: 4px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-family: FiraSans-Regular;
  font-size: 14px;
  padding: 6px 16px 0 21px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8db74c;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 11px;
}

.select-styled:hover {
  background-color: #8db74c;
}

.select-styled:active,
.select-styled.active {
  background-color: #8db74c;
}

.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 96%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 0;
  left: 0;
  z-index: 998;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #8db74c;
}

.select-options li {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  font-family: FiraSans-Regular;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px;
  text-indent: 0;
}

.select-options li:hover {
  color: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}

.toggle-form-btn {
  width: auto;
  height: auto;
  background: #1b467b;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
}

.toggle-form-btn:hover,
.toggle-form-btn:focus {
  color: #fff;
}

.first-section {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 39;
  top: 0;
  left: 0;
}

.first-section .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
}

.first-section .container1 {
  /*  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;*/
  /*  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;*/
  /*  -ms-flex-pack: distribute;*/
  /*  -webkit-justify-content: space-around;
  justify-content: space-around;*/
  /*  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
}

.first-section .title {
  /*  max-height: 70px;*/
  /*  align-self: center;
  text-align: center;*/
  /*  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;*/
  /*  width: 500px;*/
  /*  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;*/
  /*    align-items: center;
  justify-content: center;*/
}

.first-section .title h1 {
  width: 100%;
  margin: 0 0 40px;
  font-family: FiraSans-Bold;
  color: #fff;
  font-size: 60px;
  align-self: center;
  background-color: rgba(192, 192, 192, 0.5);
}

.first-section .title p {
  font-family: FiraSans-Regular;
  color: #fff;
  font-size: 14px;
  background-color: rgba(192, 192, 192, 0.5);
}

.cd-image-container {
  position: relative;
  margin: 0em auto;
  height: 100%;
}

.cd-image-container img {
  display: block;
  height: auto;
  width: 100%;
}

.cd-image-label {
  position: absolute;
  z-index: 999;
  margin-left: 20%;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
}

.cd-image-label.is-hidden {
  visibility: hidden;
}

.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  border-right: 6px solid #717171;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}

.cd-handle {
  position: absolute;
  height: 28px;
  width: 75px;
  /* center the element */
  text-transform: uppercase;
  font-family: FiraSans-Bold;
  font-size: 12px;
  color: #fff;
  left: 50%;
  bottom: -28px;
  margin-left: -40px;
  margin-top: -22px;
  cursor: move;
  opacity: 0;
  background-color: #00aeff;
  padding: 4px 4px 10px 8px;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

.cd-handle:before {
  content: url("../images/icons/prev.png");
  margin-right: 8px;
  vertical-align: text-bottom;
}

.cd-handle:after {
  content: url("../images/icons/next.png");
  margin-left: 8px;
  vertical-align: text-bottom;
}

.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #00aeff;
}

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -webkit-transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
}

.section-second {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0 55px;
}

.section-second .title {
  margin-bottom: 35px;
}

.section-second .steps {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.section-second .steps-elem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  min-width: 50%;
}

.section-second .steps img {
  width: 50px;
  height: 60px;
}

.section-second .steps .text {
  margin-top: 30px;
  padding-left: 40px;
}

.section-second h3 {
  cursor: default;
  margin: 0 0 20px;
  font-family: 'FiraSans-Regular';
  color: #00b1ff;
  cursor: default;
  text-transform: uppercase;
  font-size: 16px;
}

.section-second p {
  cursor: default;
  display: block;
  margin-bottom: 0;
  color: #a6a6a6;
  line-height: 20px;
  font-family: 'FiraSans-ExtraLight';
  font-size: 14px;
}

.section-second .steps-first-row {
  margin-bottom: 30px;
}

.section-third {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  padding: 65px 0 0 0;
}

.section-third .title {
  margin-bottom: 45px;
}

.section-third .advantages {
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
}

.section-third .advantages .advantages-elem:nth-child(3n) {
  margin-bottom: 30px;
}

.advantages .title {
  margin-top: 50px;
}

.section-third .advantages .margin {
  margin-right: 20px;
  margin-bottom: 30px;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.section-third .advantages-elem {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  background: #fff;
  -ms-flex-item-align: auto;
  -webkit-align-self: auto;
  align-self: auto;
}

.advantages-elem img {
  height: 92px;
  display: block;
  margin: 40px auto;
}

.section-third .advantages-elem-hover {
  position: absolute;
  border-radius: 15px;
  background: #8db74c;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.section-third .advantages-elem-hover .title {
  margin-bottom: 0;
  display: none;
}

.section-third .advantages-elem-hover h3 {
  border-bottom: 2px solid #fff;
  color: #fff;
  margin: 0 0 25px;
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 25px;
}

.section-third .advantages-elem-hover p {
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  color: #fff;
  line-height: 20px;
  font-family: 'FiraSans-UltraLight';
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;
}

.section-third .advantages .text {
  padding: 0px 35px 25px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  margin-right: 0;
  text-align: center;
}

.section-third h3 {
  margin: 20px 0 20px 0;
  font-family: 'FiraSans-Regular';
  color: #00b1ff;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.section-third p {
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  color: #a6a6a6;
  line-height: 20px;
  font-family: 'FiraSans-UltraLight';
  font-size: 14px;
  text-align: center;
}

.section-third .advantages-elem:hover .advantages-elem-hover {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.section-third .advantages-elem {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  -o-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.section-third .advantages-elem:hover {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.section-third .advantages-first-row .text:before {
  content: url("../images/person.png");
}

.section-third .advantages-first-row .advantages-elem {
  max-width: 570px;
}

.section-third .advantages-second-row .text {
  width: 100%;
}

.section-third .advantages-second-row .text:before {
  content: url("../images/check.png");
}

.section-third .advantages-second-row .advantages-elem {
  width: 100%;
}

.section-third .advantages-third-row .advantages-elem {
  max-width: 570px;
}

.section-third .advantages-third-row .safety:before {
  content: url("../images/safety.png");
}

.section-third .advantages-third-row .time:before {
  content: url("../images/time.png");
}

.fourth-section {
  padding: 30px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 253px;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #009de2;
}

.fourth-section-elem {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.fourth-section-elem h2 {
  font-size: 24px;
  font-family: FiraSans-Regular;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #fff;
}

.fourth-section-elem label {
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-family: FiraSans-Regular;
  color: #fff;
}

.fourth-section .btn {
  margin-top: 25px;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: transparent;
  border: 1px solid #fff;
  width: 215px;
  height: 50px;
}

.fourth-section .btn:hover,
.fourth-section .btn:focus {
  outline: none;
}

.fourth-section .btn:hover {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #00aaff;
  border: 1px solid #00aaff;
}

.fifth-section {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #fff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 500px;
  height: 100%;
}

.fifth-section .container {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.fifth-section h2 {
  margin: 0;
  color: #005783;
}

.fifth-section .title-line {
  background: #009de2;
}

.pluses-elem:hover {
  cursor: default !important;
}

.service-quality-elem div li:hover {
  cursor: default !important;
}

.pluses-elem label:hover {
  cursor: default !important;
}

.fifth-section .pluses {
  margin: 40px 0 0;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.fifth-section .pluses-elem {
  width: 128px;
  text-align: center;
  cursor: pointer;
}

.fifth-section .pluses-elem .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 128px;
  height: 128px;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  border: 2px solid #015390;
  border-radius: 50%;
}

.fifth-section .pluses-elem img {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.fifth-section .pluses label {
  cursor: pointer;
  margin-top: 40px;
  color: #a6a6a6;
  font-family: FiraSans-Regular;
  font-size: 14px;
}

.fifth-section .button {
  text-align: center;
}

.fifth-section .btn {
  margin-top: 40px;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FiraSans-Regular';
  background: #8db74c;
  border: 1px solid transparent;
  width: 205px;
  height: 40px;
}

.fifth-section .btn:hover,
.fifth-section .btn:focus {
  outline: none;
}

.fifth-section .btn:hover {
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #8db74c;
  border: 1px solid #8db74c;
}

#payment-form .payment-first,
#payment-form .payment-second {
  margin: 0 15px 15px 15px;
}

#payment-form .submit-payment {
  background: #00aeff;
  color: #fff;
  border-color: #00aeff;
  font-weight: bold;
}

#payment-form .payment-first input,
.payment-second input {
  padding-right: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #fff;
  color: #7b7b7b;
  padding-left: 10px;
  width: 35%;
}

#payment-form .payment-first label,
.payment-second label {
  width: 60px;
  text-align: right;
}

@media (max-width: 991px) {
  /*  .tabs {
    display: none;
  }*/
  .toggle-form-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .section-second,
  .section-third,
  .fourth-section,
  .fifth-section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .first-section .title {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .section-second {
    padding-top: 30px;
  }
  .fifth-section {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .section-third .advantages .advantages-elem:nth-child(3n) {
    width: 52% !important;
  }
  /*  .section-third .advantages .advantages-elem:nth-child(3n) {
    clear:both;
  }*/
  .section-third .advantages-elem {
    width: 45%;
  }
  .section-third .advantages .margin {
    height: 100%;
  }
}

@media (max-width: 767px) {
  body {
    margin-bottom: 0;
  }
  .search-form_main .button-search button.main-search {
    padding: 15px 0 !important;
    min-width: 100%;
  }
  .title-custom {
    top: 10px;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
  }
  .cd-image-container img {
    height: 700px;
    width: 1645px;
  }
  .tabs-custom {
    position: absolute;
    top: 82px;
    left: 0%;
    right: 0%;
    text-align: center;
  }
  .tabs-custom .tabs-elements {
    margin: 0 auto;
  }
  .first-section .container {}
  .first-section .title {
    width: auto;
  }
  .section-second .steps-elem {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    -webkit-flex: auto;
    flex: auto;
  }
  .section-third .advantages {
    margin: 0 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .section-third .advantages-elem {
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .section-third .advantages .margin {
    margin-right: 0;
  }
  .first-section .title h1 {
    font-size: 40px;
  }
  .toggle-form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .fifth-section .pluses-elem .image {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 575px) {
  .tabs .tabs-elements {
    width: 280px;
  }
  .tabs .tab-content .form-group {
    padding: 0 20px;
  }
  .first-section .title h1 {
    font-size: 30px;
    margin: 20px 0 10px;
  }
  .section-second .steps-elem {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-top: 15px;
  }
  .section-second .steps .text {
    width: 100%;
    padding-left: 0;
  }
  .section-second .steps img {
    margin-left: auto;
    margin-right: auto;
  }

  .section-second h3,
  .section-second p {
    text-align: center;
  }

  .section-second h3 {
    margin: 0 0 10px;
  }
}

.open>a {
  background: transparent !important;
}

ul.dropdown-menu li a {
  color: rgb(255, 255, 255, 1) !important;
}

ul.dropdown-menu li a:hover {
  background: none;
}

tr td a:hover {
  cursor: pointer;
}

ul.dropdown-menu li {
  display: block;
  width: 100%;
}





/*ul.dropdown-menu li:hover a {
  background-color: #f5f5f5;
}*/

.stripe-card {
  width: 300px;
  border: 1px solid grey;
}

.stripe-card.complete {
  border-color: green;
}

.feedback-form {
  border: 1px solid #5cb85c;
  border-radius: 10px;
  padding: 15px;
  padding-top: 0px;
  margin: 15px;
}

.pay-cards img:hover {
  cursor: pointer;
}

.office-image {
  background: url("../images/office/office1.jpg");
  background-size: cover;
  height: 90vh;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */

{
  transform: translateX(10px);
  opacity: 0;
}

.feedback-form-container {
  display: block;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.logoutbtn {
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: auto !important;
}




/* GRID EXTENSION */

@media (max-width: 575px) {
  .col-xxs-12 {
    float: left;
    width: 100%;
  }
  .section-second{
    margin-top: 135%;
  }
}




/* MOBILE ONLY STYLES*/

.mobile-device .section-title .title-img {
  display: none;
}

.mobile-device .section-title {
  height: auto;
}

.mobile-device .tabs {
  position: static;
  margin-top: 0;
  padding-top: 20px;
  background: #1b467b;
}

.mobile-device .tabs .tabs-elements {
  width: 100%;
  border-radius: 0;
}

.mobile-device .tabs-list li {
  float: left;
  width: 50%;
  text-align: center;
  border-radius: 0;
}





/*  .section-title {
    height: auto;
  }
  .section-title .title-img {
    display: none;
  }*/


/*    .section-title .title-img .super-container {
    display: none;
  }*/


/*  .section-title .title-img.office-image {
    background: url('/static/img/office1.57bd2ff.jpg') no-repeat;
    background-size: cover;
  }
  .section-title .title-img {
    background: url('/static/img/Wedding_16.ff2f52e.jpg') no-repeat;
    background-size: cover;
  }

  .tabs-custom {
    position: static;
    background: #1b467b;

  }
  .tabs {
    margin-top: 0;
    padding-top: 20px;
  }
  .tabs .tabs-elements {
    width: 100%;
    border-radius: 0;
  }*/
