<template>
    <transition name="fade">
        <div class="search-field-container first-section-elem">
            <div class="heading-search-form" v-text="title">
            </div>
            <div class="search-form_main">
                <div class="input-search" style="position: relative;">
                    <input type="text" placeholder="CAP" v-model="code" name="search-main">
                  <span style="
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    transform: translateY(-50%);
                    color:#ccc;
                ">{{postCode[code]}}
                </span>
                </div>
                <div class="button-search" >
                    <!--<router-link :to="{name: 'MainServiceList'}">-->
                        <button class="btn btn-default main-search" @click="activeButton"  type="button">PRENOTA</button>
                    <!--</router-link>-->
                </div>

            </div>
          <span v-if="error" style="color:red; margin-left: 15%;font-size: 12px;">Codice postale non valido</span>
        </div>
    </transition>
</template>

<script>
  export default {
    name: 'mainSearch',
    data () {
      return {
        'code': '',
        error:false
      }
    },
    computed: {
      title () {
        return this.textContents !== undefined ? this.textContents.search_section_title : ''
      },
      textContents () {
        return this.$store.getters.getContent.textContents
      },
      postCode () {
        return this.$store.getters.getContent.postCodes ? this.$store.getters.getContent.postCodes : []
      },

    },
    methods:{
      activeButton () {
        let postCodes = Object.keys(this.postCode)
        if (postCodes.indexOf(this.code) > -1) {
          this.$router.push({name:'MainServiceList'})
        } else {
          this.error = true;
        }
      }
    }
  }
</script>
