<template>
<div class="clearfix container">
  <div class="subscription-wrapper">
    <div class="subscription-card" v-for="(subscription,index_s) in subscriptions">
      <abonement-card :subscription="subscription"></abonement-card>
    </div>
  </div>
  <checkout></checkout>
</div>
</template>

<script>
  import Checkout from '../checkout.vue'
  import abonementCard from '../modules/abonementCard.vue'
  export default {
    name: 'AbonementStep',
    components:{
      Checkout,
      abonementCard
    },
    mounted(){


      if(this.realtyType !== 1 && this.realtyType !== null) {
        this.$store.dispatch('setStep', 3)
        this.$store.dispatch('setMaxStep', 4)
        this.$store.dispatch('setSubscription', this.subscriptions[0])
        this.$router.push({name: 'Date'})
      }
      else {
        this.$store.dispatch('setStep', 2)
        this.$store.dispatch('setMaxStep', 3)
      }
      this.$store.dispatch('setSelectedCleaner', null)
      this.$store.dispatch('setOrderDate', null)
      this.$store.dispatch('setOrderCopy', null)

    },
    computed:{
      subscriptions () {
        if(this.realtyType === 1)return this.$store.getters.getSubscriptions
        else return [this.$store.getters.getSubscriptions[1]]
      },
      user () {
        return this.$store.getters.getUser === null ? {
          subscription_id: null
        } : this.$store.getters.getUser
      },
      realtyType(){
        return this.$store.getters.getRealtyTypeId
      },

    }
  }
</script>

<style scoped>
  .clearfix:after {
    content: " ";
    clear: both;
    display: table;
  }
  @media only screen and (min-width: 1170px) {
    .subscription-wrapper {
      float: left;
      width: 60%;
    }
  }
  .subscription-card{
    padding: 20px;
  }
</style>
