<template>
  <div id="date-step">
    <div class="data-time-elem">
      <input id="GouseDateSub" class="flatpickr calendar flatpickr-input" type="text"
             placeholder="Data" data-min-date="today" @change="chooseDate">
      <span class="calendar-icon" tabindex="0"></span>
      <span class="icon-arrow-after" tabindex="0"></span>
      <div class="cleaners-board" :style="isCopy ? 'left:0;z-index:3' : '' ">
        <span style="cursor: pointer;padding: 5px;" id="close">x</span>
        <vue-simple-spinner v-if="!response"></vue-simple-spinner>
        <div class="row" v-else v-for="(available_cleaner,index_cleaner) in timeAvailable">
          <div class="col-md-3">
            <img :src="host_url + available_cleaner.cleaner.avatar" alt="">
            <span>{{available_cleaner.cleaner.name}}</span>
          </div>
          <div class="col-md-9" style="padding: 20px 10px; padding-left: 18px;">
          <span v-for="(time,index) in times">
            {{index !== 0 ? "&nbsp":''}}
            <span
              :class="checkedTime.includes(time)  && selectedCleaner.id == available_cleaner.cleaner.id ? 'selected' : 'green'"
              @click="chooseTime(time,available_cleaner.cleaner,index)"
              v-if="timeAvailable[index_cleaner].time.includes(time)">{{time}}</span>
            <span v-else class="gray">{{time}}</span>
          </span>
          </div>
        </div>
      </div>
    </div>
    <checkout v-if="!isCopy"></checkout>
  </div>
</template>

<script>
  import flatpickr from 'flatpickr'
  import userService from '../../api/userService'
  import vueSimpleSpinner from 'vue-simple-spinner'
  import {host} from '../../config'
  import checkout from '../checkout'
  import { Italian } from "flatpickr/dist/l10n/it.js"

  export default {
    name: 'DateStep',
    data () {
      return {
        users_available: null,
        cleaners: null,
        host_url: host + '/upload/',
        times: [],
        available_time: [],
        response: null,
        checkedDate: [],
        checkedTime: [],
        selectedCleaner: {},
        flatpickr_var: null
      }
    },
    components: {
      vueSimpleSpinner,
      checkout
    },
    props:{
      isCopy:false
    },
    created () {
      var dates = null
      userService.getAvailableDate().then(response => {
        this.users_available = response.data
        this.cleaners = this.users_available.map((item) => {
          return item.user
        })
        dates = this.users_available.map((item) => {
          return item.dates.map((date) => {
            return date.date
          })
        })
        var result = []
        $.each(dates, function (i, v) {
          if (v.length > 0 && i > 0) {
            result = dates[0].concat(v)
          }
        })
        if (result.length === 0 && dates[0]) {
          result = dates[0]
        }
        this.flatpickr_var = flatpickr('.flatpickr', {
          altInput: true,
          inline: true,
          disable: this.getDisableDates(),
          enable: result,
          altFormat: 'j F,Y',
          "locale": Italian
        })
      })

    },
    mounted () {
      for (var i = 0; i < 18; i++) {
        if (i < 4) {
          this.times.push('0' + (6 + i) + ':00')
        } else {
          this.times.push((6 + i) + ':00')
        }

      }
        this.$store.dispatch('setStep', 3)
        this.$store.dispatch('setMaxStep',4)
      // flatpickr.set('locale')
     //console.log(HindiLocale)
    },
    computed: {
      timeAvailable () {
        return this.available_time || []
      },
      hours () {
        return this.$store.getters.getFlatHours
      },
      getFrequency () {
        return this.$store.getters.getFrequency
      }
    },
    methods: {
      chooseDate (event) {
        this.checkedDate= {date: event.target.value}
          userService.getAvailableTime(event.target.value, this.hours).then(response => {
            this.available_time = response.data
            this.response = true
          })
        $('.cleaners-board').css('display', 'block')

        $('#close').click(function () {
          $('.cleaners-board').css('display', 'none')
        })
        this.checkedTime = []
      },
      getDisableDates () {
        var date = new Date()
        var year = date.getFullYear()
        var month = date.getMonth() + 1
        var day = date.getDate()

        var disable = [{
          from: year + '-' + month + '-' + day,
          to: year + '-' + (month + 2) + '-' + day
        }]
        return disable || []
      },
      chooseTime (time, cleaner, index) {
        this.checkedTime = []
        for (let i = index; i <= index + Math.ceil(this.hours); i++) {
          this.checkedTime.push(this.times[i])
        }
        this.checkedDate['time'] = this.checkedTime
        this.selectedCleaner = cleaner
        this.$store.dispatch('setSelectedCleaner', cleaner)
        this.$store.dispatch('setOrderDate', this.checkedDate)
        this.$store.dispatch('setOrderCopy', this.checkedDate)

        $('.cleaners-board').css('display', 'none')
      },

    }
  }
</script>

<style scoped>
  #date-step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    margin: 5px 20px;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .cleaners-board {
    /*position: absolute;*/
    top: 36px;
    left: 325px;
    max-width:  850px;
    float: left;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 1;
  }

  .cleaners-board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .cleaners-board::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
  }

  .cleaners-board::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #979696;
  }

  .cleaners-board {
    display: none;
  }

  .cleaners-board img {
    width: 80px;
    border-radius: 50%;
  }

  .cleaners-board .row {
    /*border-bottom: 1px solid red;*/
    margin: 10px;
  }

  .gray {
    color: #b9b9b9
  }

  .green {
    color: #37d956;
    cursor: pointer;
  }

  .selected {
    color: #1b467b;
    cursor: pointer;
  }
  @media (max-width: 378px) {
    #date-step {
      width: 295px;
      margin: 0 auto;
    }
  }
</style>
