<template>
  <div class="container">
    <p v-text="frequencyText"></p>
    <p>Scegli i giorni e l'orario del servizio di pulizia ricorrente.</p>
    <table>
      <thead>
      <tr>
        <th :data-date="getDate(day_index)" v-for="(day,day_index) in daysName">{{day}}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(count,index) in times.length">
        <td v-for="(day,day_index) in daysName" :class="[checkedTime.includes(`${index}${day_index}`)? 'selected' : '']"
            @click="checkTime(index,day_index,getDate(day_index))">
          {{times[index]}}
        </td>
      </tr>
      </tbody>
    </table>
    <div style="float: left;width: 60%; ">
    <div   v-show="getNextDates.length > 0">
      <p>Scegli la data di inizio del servizio di pulizia ricorrente</p>
      <select style="width: 100%;" name="" id=""  v-model="start_date">
        <option :value="date.date" v-for="date in getNextDates">{{date.date}}</option>
      </select>
      <p>Il servizio di pulizia ricorrente verrà erogato in queste date</p>
    </div>
    <div class="dates" v-if="getNextDateByCurrent.length > 0">
      <div class="date" v-for="date in getNextDateByCurrent">{{date.date}}</div>
      <p> Il servizio di pulizia ricorrente può essere modificato, cancellato o sospeso in qualsiai momento, entro 24h prima del servizio, nel caso su superi il termine di 24h ci riserviamo il diritto di addebitare il costo del servizio della data in oggetto, ma ti invitiamo in ogni caso a contattare subuito il nostro servizio clienti per trovare la soluzione migliore.
      </p>
    </div>
    </div>
    <checkout></checkout>
  </div>
</template>

<script>
  import moment from 'moment'
  import checkout from '../checkout'

  export default {
    name: 'DateStepSubscription',
    data () {
      return {
        daysName: [
          'Lunedi',
          'Martedi',
          'Mercoledi',
          'Giovedi',
          'Venerdi',
          'Sabato',
          'Domenica'
        ],
        times: [],
        checkedTime: [],
        checkedDates: [],
        // frequency:2,
        // hours:2,
        try_counter: 0,
        start_date: '',
        price:0,
        checkedDateTime:[]
      }
    },
    components: {
      checkout
    },
    mounted () {
      for (var i = 0; i < 18; i++) {
        if (i < 4) {
          this.times.push('0' + (6 + i) + ':00')
        } else {
          this.times.push((6 + i) + ':00')
        }

      }
      this.$store.dispatch('setStep', 3)
      this.$store.dispatch('setMaxStep',4)
      this.try_counter = Math.ceil(this.frequency)
      this.price = this.$store.getters.getPrice - this.allAddServicePrice;//todo придумтаь что то с ценой

    },
    computed: {
      checkedAddServiceObj(){
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      allAddServicePrice(){
        let add_price_services = 0
        for (let key in this.checkedAddServiceObj){
          add_price_services += this.checkedAddServiceObj[key].price
        }
        return  add_price_services
      },
      hours () {
        return this.$store.getters.getFlatHours || 2
      },
      frequency () {
        return  this.$store.getters.getFrequency || 2
      },
      frequencyText (){
        switch (this.frequency) {
          case 1:return 'Una volta  alla settimana '
          case 2:return 'Due volte alla settimana '
          case 3:return 'Tre volte alla settimana'
          case 4:return 'Quattro volte alla settimana'
          case 5:return 'Cinque volte alla settimana'
          case 6:return 'Sei volte alla settimana'
          case 7:return 'Ogni giorno'
          case 0.5:return 'Una volta ogni due settimane'
          case 0.25:return 'Una volta al mese'
          default: return ''
        }
      },
      getNextDates () {
        var arr = []
        var tmp = []

        if (this.checkedDates.length <= Math.ceil(this.frequency)) {
          this.checkedDates.forEach(function (checkedDate,index) {

            for (let i = 0; i<4; ++i) {

              if (moment(moment().format('DD/MM/YYYY')).isBefore(checkedDate.date) && i === 0) {
                arr.push({date:moment(checkedDate.date, 'DD/MM/YYYY').add(i , 'week').format('DD/MM/YYYY'),time:checkedDate.time})

              }
              arr.push({date:moment(checkedDate.date, 'DD/MM/YYYY').add(i + 1, 'week').format('DD/MM/YYYY'),time:checkedDate.time})
            }
          })
          if(this.frequency === 0.5){
            arr.splice(1,1);
            arr.splice(3,1);
          }
          //if()
          //this.start_date = arr.length > 0 ? arr[0].date : ''
          return arr.sort((obj1,obj2)=>{
            return obj1.date > obj2.date ? 1: -1
          }) || []
        }
      },
      getNextDateByCurrent () {
        var arr = []
        if (this.start_date !== '') {

          var tmp_date = this.getNextDates.filter((date)=>{
              if(date.date === this.start_date)
                return date
          })
          var start = this.start_date
          this.getNextDates.forEach(function(value,index){
            if(value.date >= start){
              arr.push({
                  date:value.date,
                  time:value.time
              })
            }

          })
          if(this.frequency === 0.25){
            arr = []
            arr.push({
              date:tmp_date[0].date,
              time:tmp_date[0].time
            })
          }
        }
        else if(this.frequency === 0.25) {
          arr = this.getNextDates[0]
        }
        else {
          arr = this.getNextDates
        }
        if (arr && arr.length>0) {
          this.$store.dispatch('setFlatPrice', (this.price + this.allAddServicePrice) * arr.length - this.allAddServicePrice)

        }
        this.$store.dispatch('setOrderDate', arr)
        return arr || []
      }
    },
    methods: {
      checkTime: function (time, day, date) {
        var tmp_time = []
        // if(!this.isValidDay(this.getDate(day))){
        if (this.checkedTime.includes(time + '' + day)) {
          let pos = this.checkedTime.indexOf(time + '' + day)
          this.checkedTime.splice(pos, this.hours)
          this.checkedDates.splice(this.checkedDates.length - 1, 1)
         // this.checkedDateTime.splice(this.checkedDateTime.length - 1, 1)
          this.$store.dispatch('setFlatPrice', this.price)
          this.try_counter++
        } else {
          if (this.checkedTime.length < Math.ceil(this.frequency) * this.hours) {
            for (let i = time; i < time + this.hours; i++) {
              this.checkedTime.push(i + '' + day)
              tmp_time.push(this.times[i])
            }
            this.checkedDates.push({date:date,time:tmp_time})
            this.try_counter--

            // this.checkedDateTime.push({
            //   date:date,
            //   time:tmp_time
            // })
          }
        }
        //}
      },
      getDate (index) {
        var weekDay = moment().day()
        var date
        if (weekDay > 1) {
          date = moment().subtract(weekDay - 1, 'days').format('DD/MM/YYYY')
        } else {
          date = moment().format('DD/MM/YYYY')
        }
        return moment(date, 'DD/MM/YYYY').add(index, 'days').format('DD/MM/YYYY')
      },
      fillDateTime(){
        for (let i = 0; i < this.getNextDateByCurrent.length; i++) {
          if(this.getNextDateByCurrent[i] === this.checkedDateTime[i].date){

          }
        }
      },
      isValidDay (date) {
        return moment(moment().format('DD/MM/YYYY')).isAfter(date, 'day')
      },
      setCheckedDates () {
        this.checkedDates = []
        this.checkedDates.push(this.start_date)
        //this.start_date
      },

    }
  }
</script>

<style scoped>
  table th {
    padding: 10px;
    border-right: 1px solid #ccc;
  }

  table {
    width: 60%;
    /*margin: 20px auto;*/
    float: left;
    margin-right: 10%;
    margin-bottom: 20px;

  }

  table tr {
    border-bottom: 1px solid #ccc;
  }

  table td {
    border-right: 1px solid #ccc;
    cursor: pointer;
  }

  .selected {
    background: #a3d39c;
    color: white;
  }

  .not-valid {
    cursor: default;
    color: #ccc;
  }

  .dates {
    /*width: 60%;*/
    float: left;
    /*margin: 0 auto;*/
  }

  select {
    background: #f5f7f9;
    display: block;
    background-clip: padding-box;
    border: 1px solid #dde6eb;
    border-radius: 5px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 47px;
    line-height: 1.42857143;
    padding: 12px 10px 11px;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #f5f7f9 url(../../assets/images/icons/select.svg) no-repeat calc(100% - 10px) 50%;
    background-size: 24px 16px;
    border: 1px solid #dde6eb;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
    width: 60%;
    margin-bottom: 20px;
    float: left;

  }

  .dates .date {
    font-size: 14px;
    position: relative;
    line-height: 44px;
    border-radius: 5px;
    background-color: #a3d39c;
    color: #fff;
    padding-left: 10px;

    line-height: 49px;
    padding-left: 55px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .date:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    content: '✔';
    font-family: 'luma-icons';
    font-size: 23px;
    font-weight: 400;
  }
</style>
