<template>
    <div class="insurances">
        <div class="container tabs-container">
            <div class="setup-content" id="step-2">
                <section class="second-tab data-section">
                    <form>
                        <fieldset>
                            <div class="service-details-title" v-if="false">
                                <ol>
                                    <li>Con SPOTLESS non devi preoccuparti in caso di danni accidentali: i nostri<br>
                                        Partner sono coperti da un'assicurazione fino A €€€ (con una franchigia di €€€).

                                        <label>Clicca il pulsante per scoprire</label></li>
                                </ol>
                            </div>
                            <div class="insurance" v-if="false">
                                <div :id="'insurance-' + insurance.id" class="insurance-elem" v-for="insurance of insurances" @click="chooseInsurance(insurance.id)">
                                    <div class="insurance-elem-text">
                                        <h2>{{ insurance.title }}</h2>
                                        <p>{{ insurance.description }}</p>
                                        <button type="button" class="btn btn-default">{{ insurance.price }} €</button>
                                    </div>
                                    <div class="insurance-elem-hover">
                                        <div class="insurance-elem-text">
                                            <h2>{{ insurance.title }}</h2>
                                            <div class="line"></div>
                                            <p>{{ insurance.text }}</p>
                                            <button type="button" class="btn btn-default">{{ insurance.price }} €</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service-details-title">
                                <ol>
                                    <li :value="(true)? 1 : 2">Scegli il tuo Addetto di pulizia</li>
                                </ol>
                            </div>
                            <div class="profile-block owl-carousel owl-theme" v-show="cleaners.length !== 0">
                                <div class="profile-block-elem" :class="{'profile-block-elem-active': !cleanerId}" data-toggle="modal" data-target="#table-non-importanta"  @click="resetCleaner()">
                                    <a>
                                        <div class="profile-image">
                                            <img src="./../../assets/images/man-icon.png">
                                        </div>
                                        <div class="look-profile">
                                            <label>Non importa</label>
                                        </div>
                                    </a>
                                </div>
                                <div class="profile-block-elem" v-for="cleaner of cleaners" data-toggle="modal" data-target=".worker-details-modal" :class="{'profile-block-elem-active': cleaner.id === cleanerId}">
                                    <a @click="chooseCleaner(cleaner)">
                                        <div class="profile-image" :style="{ 'background' : 'url(' + cleaner.avatar + ')' }">
                                            <!--<img :src="cleaner.avatar" alt="">-->
                                        </div>
                                        <div class="look-profile">
                                            <label>{{ cleaner.name }}</label>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div v-show="cleaners.length === 0">
                                <div class="row" style="margin-left: 54px; margin-bottom: 34px">
                                    <h4>Non abbiamo nessun addetto libero per ora. Ma il nostro staff farà il possibile per accontentarti.</h4>
                                </div>
                            </div>
                            <div class="modal fade" id="table-non-importanta" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header modal-header-price">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Scegli l’addetto di pulizia</h4>
                                        </div>
                                        <div class="modal-body text-center square-options">
                                            <table class="table-responsive table">
                                                Se non scegli addetto di pulizia, il sisteme sceglie uno più adatto alla tua richiesta.
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <employees-modal :employee="choosenCleaner" choose-button-text="Scegli" @change="setCleanerId"></employees-modal>
                            <div class="modal fade" id="table-great" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header modal-header-price">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Scegli l’addetto di pulizia</h4>
                                        </div>
                                        <div class="modal-body text-center square-options">
                                            <table class="table-responsive table">
                                                <h2>L’addetto di pulizia è stato scelto</h2>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="table-error" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header modal-header-price">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Errore</h4>
                                        </div>
                                        <div class="modal-body text-center square-options">
                                            <table class="table-responsive table">
                                                <h2>Prima di tutto devi scegliere un pulitore</h2>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service-details-title">
                                <ol>
                                    <li :value="(true)? 2 : 3">Lascia qui il tuo commento che ci aiuterà a
                                        pulire la tua casa meglio!
                                    </li>
                                </ol>
                            </div>
                            <div class="second-tab-comment">
                                <textarea v-model="comment" @keyup="checkComment"></textarea>
                            </div>
                            <div class="service-details-title">
                                <ol>
                                    <li :value="(true)? 3 : 4">Dove lasci le chiavi?
                                    </li>
                                </ol>
                            </div>
                            <div class="second-tab-comment form-group">
                                <select name="secretPlaces" title="type" v-model="secretPlaceId" class="form-control">
                                    <option v-for="place of secretPlaces" :value="place.id">{{ place.title }}</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </section>
                <checkout></checkout>
            </div>
        </div>
    </div>
</template>

<script>
  import datePicker from '../../assets/js/data-picker'
  import script from '../../assets/js/script'
  import $ from 'jquery'
  import secretService from '../../api/SecretService'
  import Checkout from '../checkout.vue'
  import EmployeesModal from '../modules/EmployeesModal.vue'

  export default {
    components: {
      EmployeesModal,
      Checkout},
    name: 'insurances',
    data: () => {
      return {
        choosenCleaner: {
          avatar: '',
          can_home: 0,
          can_office: 0,
          countRecommendation: 7,
          countSuccessfullyCleanings: 0,
          languages: ['English', 'Italian'],
          name: 'Nora Rice',
          rating: {
            avgRating: '2.2857'
          },
          reviews: {
            languages: []
          }
        },
        secretPlaces: null,
        selectedPlace: null
      }
    },
    computed: {
      express () {
        return this.$store.getters.getIsExpress
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      checkedAddServiceObj () {
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      meters () {
        return this.$store.getters.getMeters
      },
      price () {
        return this.$store.getters.getPrice
      },
      insurances () {
        return this.$store.getters.getInsurances
      },
      checkedInsurances () {
        return this.$store.getters.getCheckedInsurances
      },
      cleaners () {
        return this.$store.getters.getCleaners
      },
      comment () {
        return this.$store.getters.getComment
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      hours () {
        return this.$store.getters.getHours
      },
      isOffice () {
        return this.$store.getters.getRealtyTypeId === 2
      },
      secretPlaceId: {
        get () {
          return this.$store.getters.getSecretPlaceId
        },
        set (value) {
          this.$store.commit('setPlaceId', value)
        }
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      },
      cleanerId () {
        return this.$store.getters.getCleanerId
      }
    },
    methods: {
      checkComment (event) {
        this.$store.dispatch('setComment', event.target.value)
      },
      setCleanerId (cleaner) {
        this.$store.dispatch('setCleanerId', cleaner.id)
        this.$store.dispatch('setCleaner', cleaner)
        $('.worker-details-modal').modal('hide')
        $('#table-great').modal('show')
      },
      resetCleaner () {
        this.$store.dispatch('setCleanerId', null)
        this.choosenCleaner = {}
      },
      chooseCleaner (cleaner) {
        this.choosenCleaner = cleaner
      },
      isAuth () {
        return this.$auth.getToken() !== null
      },
      chooseInsurance (id) {
        let element = document.querySelector('#insurance-' + id)
//        let price = helper.getPriceFromInsuranceById(this.$store.getters.getInsurances, id)
        if (this.$store.getters.getInsuranceIds.length === 0) {
          this.$store.dispatch('addInsuranceIds', id)
          this.$store.dispatch('setInsurances', {
            id: id
          })
          element.setAttribute('style', 'background: #4f5d6b;')
//          this.$store.dispatch('changePricePlus', price)
        } else {
          if (this.$store.getters.getInsuranceIds.indexOf(id) !== -1) {
            this.$store.dispatch('removeInsuranceId', id)
            this.$store.dispatch('removeInsurances', {
              id: id
            })
            element.removeAttribute('style')
//            this.$store.dispatch('changePriceMinus', price)
          } else {
            this.$store.dispatch('addInsuranceIds', id)
            this.$store.dispatch('setInsurances', {
              id: id
            })
            element.setAttribute('style', 'background: #4f5d6b;')
//            this.$store.dispatch('changePricePlus', price)
          }
        }
      },
      setStep (step) {
        if (this.$store.getters.getStep < step) {
          this.$store.dispatch('setStep', step)
        }
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      }
    },
    beforeCreate () {
      if (this.$store.getters.getMaxStep < 2) {
        this.$store.dispatch('setMaxStep', 2)
      }
      //this.$store.dispatch('setStep', 2)
      this.$store.dispatch('setCleaners', {
        data: {
          addSubSeriviceIds: this.$store.getters.getCheckedAddSubServiceIds,
          addSubConditionIds: this.$store.getters.getCheckedSubConditionIds,
          date: this.$store.getters.getOrderDate,
          time: this.$store.getters.getOrderTime,
          realty_type: this.$store.getters.getRealtyTypeId,
          hours: this.$store.getters.getHours
        },
        success () {
          script()
          datePicker()
        }
      })
      if (this.$store.getters.getRealtyTypeId === 1) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/flat/Wedding_13.jpg'),
          secondImage: require('./../../assets/images/flat/Wedding_12.jpg')
        })
      }
      if (this.$store.getters.getRealtyTypeId === 2) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/office/Wedding_25.jpg'),
          secondImage: require('./../../assets/images/office/Wedding_26.jpg')
        })
      }
      localStorage.setItem('requiredInsurances', true)
      this.$store.dispatch('getInsurances')
      localStorage.setItem('isRegisterStep', false)
      secretService.getAll().then(response => {
        this.secretPlaces = response.data
        this.$store.dispatch('setSecretPlaces', response.data)
      })
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          let heigth = document.querySelector('#demo').clientHeight || 0
          $('html, body').animate({
            scrollTop: heigth + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('.insurances').goTo()
    }
  }
</script>

<style scoped lang="sass">
    @import "../../assets/css/owl.carousel.min.css"
    @import "../../assets/css/owl.theme.default.min.css"
    @import "../../assets/css/service.css"
</style>
