<template>
  <div>
  <section class="sp-bg-white sp-pb-60 mt-10">
    <div class="container">
      <h2 class="sp-title sp-mt-60 sp-mb-40 text-center">Servizi</h2>
      <button type="button" class="btn btn-primary" style="display: none;" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
      </button>
      <div class="row">
        <div class="col-xs-6 col-sm-3 sp-mb-30" v-for="service in services">
          <div class="sp-card">
            <div class="sp-card__body">
              <div class="text-center sp-mt-30 sp-mb-30">
                <img :src=" host_url + service.icon" alt="sp-vacuum-cleaner" class="">
              </div>
              <h3 class="sp-card__title sp-color-black-pearl sp-mb-0 text-center">{{service.title}}</h3>
            </div>
            <button type="button" class="btn btn-block sp-btn sp-btn-green sp-b-rad-0 sp-h30 sp-mb-5 sp-p-0" @click="setStep(service.id,service.title)">Per ordinare</button>
            <div class="text-center">
              <span class="" v-text="service.label"></span>
            </div>
            <div class="text-center">
              <a href="#" class="sp-link sp-link__blue" @click.prevent="openModal(service)">Saperne di più</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade"   id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" v-if="modal.service">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" >{{modal.service.title}}</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        </div>
        <div class="modal-body">
          <img :src="host_url + modal.service.image" style="width: 100%" alt="">
          <p style="margin-top: 10px;">{{modal.service.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import {host} from '../../config'

  export default {
    name: 'MainServiceList',
    data(){
      return {
        host_url : host + '/upload/',
        modal_window:{
          show:false,
          service: null
        },
      }
    },
    beforeCreate() {
      this.$store.dispatch('getContent')
      this.$store.dispatch('getRealtyTypes')
      if (this.$store.getters.getMaxStep < 2) {
        this.$store.dispatch('setMaxStep', 1)
      }
      this.$store.dispatch('setStep', 0)
    },
    mounted(){
      this.$store.dispatch('resetOrder')
      this.$store.dispatch('setStep', 0)
      this.$store.dispatch('setMaxStep',1)
      this.$store.dispatch('removeClearKit')
      this.$store.dispatch('setFlatHours', 0)
      this.$store.dispatch('setFlatMeters',0)
      this.$store.dispatch('setBathroom',0)
      this.$store.dispatch('setPrice', 0)

    },
    computed: {
      content () {
        return this.$store.getters.getContent
      },
      comments () {
        return this.$store.getters.getContent.reviews
      },
      services () {
        return this.$store.getters.getRealtyTypes
      },
      modal () {
        return this.modal_window;
      },
      step () {
        return this.$store.getters.getMaxStep
      },
    },
    methods:{
      toMiscalculation(){
        this.$router.push({name:'Miscalculation'})
      },
      openModal(service){
        this.modal.show = true
        this.modal.service = service
        $('#exampleModalLong').modal()

      },
      setStep (id,title) {
        if (this.$store.getters.getStep < this.step) {
          this.$store.dispatch('setStep', this.$store.getters.getStep + 1)
          this.$store.dispatch('setMaxStep', this.step+1)

        }
        this.setRealtyTypeId(id,title)
        this.$router.push({name:'ServicesList'})
      },
      setRealtyTypeId (realtyTypeId,title) {
        this.$store.dispatch('setRealtyTypeId', realtyTypeId)
        this.$store.dispatch('setCleanTypeName', title)
        this.$store.dispatch('setStep', 1)
        this.$store.dispatch('setMaxStep', 2)
       // localStorage.setItem('realtyTypeId', parseInt(realtyTypeId))
      },

    }
  }
</script>

<style scoped>
  .sp-card.sp-card img{
    height: 58px;
  }
  .sp-card{
    height: 198px;
  }
  .sp-card.sp-card h3{
    font-size: 18px;
  }
  @media (max-width: 750px) {
    .sp-card.sp-card h3{
      font-size: 15px;
    }
  }
  @media (max-width: 460px) {
    .sp-card.sp-card h3 {
      font-size: 13px;
    }
  }
  @media (max-width: 400px) {
  .sp-card.sp-card h3{
    font-size: 10px;
  }
  }

</style>
