<template>
    <div class="order">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <main-slider></main-slider>
                <section class="section-step">
                    <div class="container">
                        <div class="form-group step-form-group">
                            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                <li v-bind:class="{active: isActiveStep2 || step >= 2, disabled: !isActiveStep1 && step < 1 }">
                                    <a @click="(isActiveStep2 || step >= 2)? $router.push({name: 'ServicesList'}) : null" :disabled="!isActiveStep1 && step >= 1">
                                    <label class="list-group-item-text">Dettagli servizio</label>
                                </a></li>
                                <li v-bind:class="{active: isActiveStep2 || step >= 2, disabled: !isActiveStep2 && step < 2 }">
                                    <a @click="(isActiveStep2 || step >= 2)? $router.push({name: 'Insurances'}) : null" :disabled="!isActiveStep2 && step < 2">
                                    <label class="list-group-item-text">ADDETTI</label>
                                </a></li>
                                <li v-bind:class="{active: isActiveStep3 || step >= 3, disabled: (!isActiveStep3 && step < 3) || user }">
                                    <a @click="registrationClick" :disabled="!isActiveStep3 && step < 3 && !user">
                                    <label class="list-group-item-text">Registrazione</label>
                                </a></li>
                                <li v-bind:class="{active: isActiveStep4  || step >= 4, disabled: !isActiveStep4 && step < 4}">
                                    <a @click="(isActiveStep4  || step >= 4)? $router.push({name: 'Payment'}) : null" :disabled="!isActiveStep4 && step < 4">
                                    <label class="list-group-item-text">Pagamento</label>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                        <router-view></router-view>
                </section>
            </div>
        </main>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import FooterMenu from '../menu/FooterMenu'
  import HeaderMenu from '../menu/HeaderMenu.vue'
  import MainSlider from '../menu/MainSlider'
  import $ from 'jquery'

  export default {
    data () {
      return {
      }
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: $('.section-step').offset().top + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('.section-step').goTo()
      $(window).scroll(() => {
        if ($(window).width() > 992 && $('.setup-content').length > 0) {
          let top = $(document).scrollTop()
          let scroll = $('.setup-content').offset().top
          let navHeight = $('#header').height()
          if (top + navHeight >= scroll + 40) {
            $('.sidebar').addClass('fixed').css('top', navHeight + 40)
          } else {
            $('.sidebar').removeClass('fixed')
          }
        } else {
          $('.sidebar').removeClass('fixed')
        }
      })
    },
    components: {
      MainSlider,
      'footerMenu': FooterMenu,
      'headerMenu': HeaderMenu
    },
    computed: {
      step () {
        return this.$store.getters.getMaxStep
      },
      isActiveStep1 () {
        return this.$store.getters.getStep === 1
      },
      isActiveStep2 () {
        return this.$store.getters.getStep === 2
      },
      isActiveStep3 () {
        return this.$store.getters.getStep === 3
      },
      isActiveStep4 () {
        return this.$store.getters.getStep === 4
      },
      user () {
        return this.$store.getters.getUser
      }
    },
    methods: {
      registrationClick () {
          if (!this.user && (this.isActiveStep3 || this.step >= 3)) {
            this.$router.push({name: 'Registration'})
          }
      }
    },
    name: 'order'
  }
  if (location.hash !== '#/') {
    window.addEventListener('beforeunload', function (e) {
      if (location.hash !== '#/personal-area' &&
        location.hash !== '#/subscriptions' &&
        location.hash !== '#/contact-us' &&
        location.hash !== '#/about-us'
      ) {
        var confirmationMessage = ''
        e.returnValue = confirmationMessage
      }
    })
  }
</script>
