<template>
    <div class="payment">
        <div class="container">
            <div class="setup-content" id="step-4">
                <section class="fourth-tab pay-system-section">
                    <form>
                        <fieldset>
                            <h2>Scegli il metodo di pagamento</h2>
                            <div class="pay-cards">
                                <!--<div class="pay-cards-elem" data-toggle="modal" data-target="#table-payment">
                                    <img src="../../assets/images/pay-cards.png">
                                </div>-->
                                <div class="pay-cards-elem" data-toggle="modal" data-target="#table-payment-paypal">
                                    <img src="../../assets/images/paypal.png">
                                </div>
                                <div @click="gestpay" data-toggle="modal" data-target="#table-payment-gestpay" class="pay-cards-elem">
                                    <img src="../../assets/images/pay-cards.png">
                                </div>
                            </div>
                            <div class="checkbox-form">
                                <!--<input id="pay-checkbox" type="checkbox" name="field" value="option">-->
                                <label class="checkbox-label" ><span></span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    L'addebito dell'importo per il servizio richiesto avviene solo a
                                    intervento effettuato ed ultimato, nelle 24 ore dopo l'erogazione.</label>
                            </div>
                            <div class="modal fade" id="table-payment-paypal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">
                                                Inserisci i tuoi dati Paypal</h4>
                                        </div>
                                        <div class="modal-body square-options">
                                            <form>
                                                <PayPal
                                                        v-show="!clicked"
                                                        :amount="price"
                                                        currency="EUR"
                                                        :client="credentials"
                                                        :invoiceNumber="invoiceNumber"
                                                        :dev="true"
                                                        env="sandbox"
                                                        :buttonStyle="{size:  'responsive'}"
                                                        v-on:paypal-paymentCompleted="paypalComplete">
                                                </PayPal>
                                                <vue-simple-spinner v-show="clicked"></vue-simple-spinner>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="table-coupon-info" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">
                                                Informazioni sul coupon</h4>
                                        </div>
                                        <div class="modal-body square-options">
                                            {{couponInfo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="table-payment-gestpay">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content size">
                                        <div class="modal-header">
                                            <h4 class="modal-title">
                                                Inserisci i dati della tua carta di credito</h4>
                                        </div>
                                        <div class="modal-body square-options">
                                            <vue-simple-spinner v-if="!response|| !wind || (wind && !wind.closed)"></vue-simple-spinner>
                                            <div v-else="">
                                                {{ response }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                  <div class="second-tab-comment" v-if="!getDirectPayment">
                    <p>Lascia qui il tuo commento che ci aiuterà a pulire la tua casa meglio!</p>
                    <textarea class="form-control" rows="5" v-model="comment" @keyup="checkComment"></textarea>
                  </div>
                </section>
                <checkout v-if="!getDirectPayment" ></checkout>
                <payment-step-order-info-modal v-if="!getDirectPayment" :order="order" :editable="editable"></payment-step-order-info-modal>
            </div>
        </div>
    </div>
</template>

<script>
  import vueSimpleSpinner from 'vue-simple-spinner'
  import { stripeKey, stripeOptions } from '../../stripeConfig.js'
  import { Card, createToken } from 'vue-stripe-elements'
  import PayPal from 'vue-paypal-checkout'
  import orderService from '../../api/orderService'
  import couponService from '../../api/couponService'
  import guestPayService from '../../api/GuestPayService'
  import $ from 'jquery'
  import Checkout from '../checkout.vue'
  import PaymentStepOrderInfoModal from '../modules/PaymentStepOrderInfoModal.vue'

  export default {
    name: 'payment',
    components: {
      PaymentStepOrderInfoModal,
      Checkout,
      vueSimpleSpinner,
      PayPal,
      Card
    },
    data: () => {
      return {
        editable: true,
        response: null,
        couponInfo: '',
        couponCode: null,
        complete: false,
        clicked: false,
        stripeOptions: stripeOptions,
        stripeKey: stripeKey,
        credentials: {
          production: 'AeQTXFA-aqcLKxtZ5WaInZWRLeHuBpNjotScIyTKhdhyLyckH7j-C6e9-piLwCA_vPDDSRsAXyycxoYi',
          sandbox: 'AfuXA_53J_2VCL6daYWA5Q4exM7ZJERH8Z-nlYenPuIuo2PfOSAEDMeSuOcKQFRIj4ppdfTphVDem9M9'
        },
        order: {
          token: null,
          type: null,
          time: null,
          date: null,
          surfaces: null,
          subscription_id: null,
          subConditions: null,
          realty_type_id: null,
          meters: null,
          insurances: null,
          comment: null,
          cleaner_id: null,
          city_id: null,
          buy_clear_kit: null,
          addSubServices: null,
          secretPlaceId: null,
          coupon_id: null,
          frequency:null,
          direct_payment:false,
          count_bathroom:0
        },
        responseOrder: {},
        isCouponActive: null,
        couponPercent: null,
        doNotDelete: false,
        wind: null
      }
    },
    beforeCreate () {
      this.couponCode = 1
      this.$store.dispatch('setInvoiceNumber', Math.floor(Math.random() * 100000000))
      // if (this.$store.getters.getStep < 4) {
      //   this.$store.dispatch('setStep', 5)
      // }

      if (this.$store.getters.getRealtyTypeId === 1) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/flat/Wedding_16.jpg'),
          secondImage: require('./../../assets/images/flat/Wedding_13.jpg')
        })
      }
      if (this.$store.getters.getRealtyTypeId === 2) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/office/Wedding_25.jpg'),
          secondImage: require('./../../assets/images/office/Wedding_26.jpg')
        })
      }
    },
    mounted () {

      this.order = {
        token: null,
        type: null,
        time: this.$store.getters.getOrderTime || null,
        date: this.$store.getters.getOrderDate || null,
        surfaces: this.$store.getters.getCheckedSurfaceIds || null,
        subscription_id: this.$store.getters.getSubscription !== null ? this.$store.getters.getSubscription.id : null,
        subConditions: this.$store.getters.getCheckedSubConditionIds || null,
        realty_type_id: this.$store.getters.getRealtyTypeId || null,
        meters: this.$store.getters.getMeters || null,
        insurances: this.$store.getters.getInsuranceIds || null,
        comment: this.$store.getters.getComment || null,
        cleaner_id: this.$store.getters.getSelectedCleaner!== null ? this.$store.getters.getSelectedCleaner.id : null,
        city_id: this.$store.getters.getCurrentCityId || null,
        buy_clear_kit: this.$store.getters.getBuyClearKit !== null ? this.$store.getters.getBuyClearKit : 0,
        addSubServices: this.$store.getters.getServicesFromPaymentStep || null,
        secret_place_id: this.$store.getters.getSecretPlaceId || null,
        buySubscription: this.$store.getters.getBuySubscription || null,
        isCouponActive: this.$store.getters.getIsCouponActive || null,
        couponPercent: this.$store.getters.getCouponPercent || null,
        frequency:this.$store.getters.getFrequency || null,
        count_bathroom:this.$store.getters.getBathroom ? +this.$store.getters.getBathroom + 1 : 0
      }
      this.$store.dispatch('setStep', 4)
      this.$store.dispatch('setMaxStep', 5)
      this.couponCode = ''
      $('.order-modal').modal('show')
      setTimeout((self) => {
        self.$forceUpdate()
      }, 1000, this)
    },
    methods: {
      applyCouponCode (event) {
        event.preventDefault()
        couponService.applyCouponCode({
          couponCode: this.couponCode,
          price: this.price
        }).then((res) => {
          this.couponInfo = res.data.data
          if (typeof this.couponInfo === 'object') {
            let percent = 1 - (res.data.data.percent / 100)
            this.$store.dispatch('setIsCouponActive', true)
            this.$store.dispatch('setCouponPercent', percent)
            this.couponInfo = 'Coupon è stato applicato'
            this.isCouponActive = true
            this.couponPercent = percent
            this.order.coupon_id = res.data.data.id
          } else {
            this.couponInfo = res.data
          }
          $('#table-coupon-info').modal('show')
        })
      },
      paypalComplete (data) {
        this.clicked = true
        this.order.token = data.id
        this.order.type = 'paypal'
        orderService.postOrder(this.order).then(response => {
          $('#table-payment-paypal').modal('hide')
          this.editable = false
          this.order.id = response.data.id
          $('.order-modal').modal('show')
          $('.order-modal').on('hidden.bs.modal', () => {
            this.$store.dispatch('resetOrder')
            this.$router.push({name: 'PersonalArea'})
          })
        })
      },
      pay () {
        if (this.complete) {
          createToken().then(data => {
            this.order.token = data.token.id
            this.order.type = 'cards'
            orderService.postOrder(this.order).then(response => {
              $('#table-payment').modal('hide')
              this.$store.dispatch('resetOrder')
              this.order = {}
              this.$router.push({name: 'PersonalArea'})
            })
          })
        } else {
          this.clicked = true
        }
      },
      gestpay () {
        if (!this.$store.getters.getGestToken) {
          if(this.getDirectPayment){
            this.order.direct_payment = this.getDirectPayment
          }
          this.order.token = 'init'
          this.order.type = 'cards'
          guestPayService.initPay(this.order).then(response => {
            let data = response.data
            if (data !== 'fail') {
              $('#table-payment-gestpay').on('hidden.bs.modal', () => {
                this.response = null
                // if (!this.doNotDelete) {
                //   orderService.deleteOrder(response.data.order.id).then((response) => {
                //     this.responseOrder = null
                //   })
                //   this.doNotDelete = false
                // }
              })
              this.responseOrder = response.data.order.id
              this.order.token = response.data.order.token
              let wind = guestPayService.redirect(JSON.parse(response.data.result).url)
              this.wind = wind
              setTimeout(this.checkGestOrder, 1000, guestPayService, response.data.order.token, response.data.order.id, wind, this)
            } else {
              this.response = response.data
              $('#table-payment-gestpay').removeAttr('data-backdrop')
            }
          })
        }
      },
      checkGestOrder (guestPayService, token, id, wind, self) {
        if (!wind.closed && ($('#table-payment-gestpay').data('bs.modal') || {}).isShown) {
          guestPayService.checkOrder(token, id).then((response) => {
            if (response.data === 'ok') {
              this.doNotDelete = true
              $('#table-payment-gestpay').modal('hide')
              self.editable = false
              self.order.id = self.responseOrder
              $('.order-modal').modal('show')
              $('.order-modal').on('hidden.bs.modal', () => {
                self.$store.dispatch('resetOrder')
                self.$router.push({name: 'PersonalArea'})
              })
            } else {
              if (response.data !== 'stop') {
                setTimeout(self.checkGestOrder, 3000, guestPayService, token, id, wind, self)
              } else {
                this.response = 'Il pagamento non è stato accettato.'
              }
            }
          })
        } else {
          this.response = 'Il pagamento non è stato accettato.'
          wind.close()
          if (!($('#table-payment-gestpay').data('bs.modal') || {}).isShown) {
            this.response = null
          }
        }
      },
      checkComment (event) {
        this.order.comment = event.target.value
        this.$store.dispatch('setComment', event.target.value)
      },
    },
    computed: {
      comment () {
        return this.$store.getters.getComment
      },
      getBathroom(){
        this.order.count_bathroom = this.$store.getters.getBathroom
        return this.$store.getters.getBathroom
      },
      isCouponActivate () {
        return this.$store.getters.getIsCouponActive
      },
      getDirectPayment(){
        return this.$store.getters.getDirectPayment
      },
      invoiceNumber () {
        return this.$store.getters.getInvoiceNumber
      },
      express () {
        return this.$store.getters.getIsExpress
      },
      meters () {
        return this.$store.getters.getMeters
      },
      price () {
        if(this.user.is_subscribe){
          let price = this.$store.getters.getPrice - (this.$store.getters.getPrice * 0.1)
          return price
        }
        return this.$store.getters.getPrice.toString()
      },
      checkedAddServiceObj () {
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      checkedInsurances () {
        return this.$store.getters.getCheckedInsurances
      },
      hours () {
        return this.$store.getters.getHours
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      }
    },


  }
</script>

<style scoped lang="sass">
    @import "../../assets/css/service.css"
</style>

