<template>
    <div class="registration">
        <div class="container" style="padding-left: 0px">
            <div class="setup-content" id="step-3">
                <section class="third-tab" style="margin-left: -15px">
                    <form>
                        <login></login>
                    </form>
                </section>
                <!--<checkout></checkout>-->
            </div>
        </div>
    </div>
</template>

<script>
  import slider from '../../assets/js/slider'
  import datePicker from '../../assets/js/data-picker'
  import login from '../auth/Login.vue'
  import Checkout from '../checkout.vue'

  export default {
    name: 'registration',
    data: () => {
      return {
        user: {
          type: '',
          name: null,
          email: null,
          password: null,
          fiscal_code: null,
          surname: null,
          gender: null,
          date_birthday: null,
          phone: null,
          address: null,
          house_number: null,
          city_id: null,
          province_id: null,
          code: null,
          domofon: null,
          domofon_text: null,
          firm_name: null,
          post_index: null
        }
      }
    },
    computed: {
      express () {
        return this.$store.getters.getIsExpress
      },
      checkedAddServiceObj () {
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      meters () {
        return this.$store.getters.getMeters
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      price () {
        return this.$store.getters.getPrice
      },
      checkedInsurances () {
        return this.$store.getters.getCheckedInsurances
      },
      cities () {
        return this.$store.getters.allCities
      },
      provinces () {
        return this.$store.getters.allProvinces
      },
      errors () {
        return this.$store.getters.getRegisterErrors
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      hours () {
        return this.$store.getters.getHours
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      }
    },
    beforeCreate () {
      localStorage.setItem('isRegisterStep', 'yes')
      this.$store.dispatch('setStep', 4)
      this.$store.dispatch('setMaxStep', 5)
      this.$store.dispatch('getCities', () => {
      })
      this.$store.dispatch('getProvinces', () => {
        datePicker()
        slider()
      })
      if (this.$store.getters.getRealtyTypeId === 1) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/flat/Wedding_16.jpg'),
          secondImage: require('./../../assets/images/flat/Wedding_13.jpg')
        })
      }
      if (this.$store.getters.getRealtyTypeId === 2) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/office/Wedding_25.jpg'),
          secondImage: require('./../../assets/images/office/Wedding_26.jpg')
        })
      }
    },
    components: {
      Checkout,
      'login': login
    },
    methods: {
      setStep () {
        if (this.$store.getters.getStep < 4) {
          this.$store.dispatch('setStep', 4)
        }
      }
    }
  }
</script>

<style scoped lang="sass">
    @import "../../assets/css/service.css"
</style>
