<template>
    <div class="servicesList">
        <div class="container service-container">
          <h1 class="text-center" v-text="cleanName">с</h1>
            <div class="setup-content" id="step-1">
                <section class="first-tab">
                    <form>
                        <fieldset class="service-details-form">
                          <div class="service-details-title" v-if="realtyTypeId < 7">
                            <ol >
                              <li value="1">Dettagli abitazione
                                <label>Quanto è grande l'abitazione? Inserisci i mq della tua casa</label></li>
                            </ol>
                          </div>
                          <div class="service-includes row" v-if="realtyTypeId < 7">
                            <div class="col-md-6 " >
                              <div class="form-group form-inline"  >
                                <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                 @keyup="metersOfficeKeyUp" v-model="flatMeters"
                                 id="metersOffice" type="text" title="text"
                                 @focus="resetFlatMeters"
                                 @blur="setFlatMeters"
                                 class="text-input square"><span>m<sup>2</sup></span>
                                <button  v-if="realtyTypeId !== 1 && realtyTypeId !== 2" type="button" class="tooltip-new" data-toggle="tooltip" data-placement="bottom"  @mouseover="tooltip" title=" L'appartamento o il locale in cui verrà eseguito il servizio deve essere in uno stato accessibile che consenta un adeguata attività di pulizia, non possiamo eseguire il servizio in presenza di cantieri o lavori di manutenzione non terminati.
">i</button>
                              </div>
                              <div class="form-group form-inline" v-if="hoursShow() && realtyTypeId < 7 ">
                                <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                       @keyup="hoursOfficeKeyUp" v-model="flatHours"
                                       @focus="resetFlatHours"
                                       @blur="setFlatHours"
                                       id="hoursOffice" type="text" class="text-input height"
                                       disabled
                                       title="text"><span>Ore</span>
                                <button  v-if="realtyTypeId === 8" type="button" class="tooltip-new" data-toggle="tooltip" data-placement="bottom"  @mouseover="tooltip" title="In un ora possiamo stirare 8 panni">i</button>
                              </div>

                            </div>
                            <div class="col-md-6" >
                              <div class="form-group form-inline">
                              <select v-if="this.realtyTypeId < 6" name="" class="form-control" id="" v-model="bathroom" @change="setBathroom">
                                <option value="0" selected>Numero di bagni</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                              </select>
                                <button v-if="this.realtyTypeId < 6"  type="button" class="tooltip-new" data-toggle="tooltip" data-placement="bottom" @mouseover="tooltip" @touchstart="tooltip" title="La pulizia di un bagno è inclusa nel servizio.">i</button>
                              </div>

                            </div>
                          </div>
                        <standard v-if="realtyTypeId === 1"></standard>
                        <before-arrival v-if="realtyTypeId === 2"></before-arrival>
                          <after-whitewashing  v-if="realtyTypeId === 3"></after-whitewashing>
                          <after-holiday  v-if="realtyTypeId === 4"></after-holiday>
                          <spring v-if="realtyTypeId === 5" ></spring>
                          <big-house v-if="realtyTypeId === 6"></big-house>
                          <gladika  v-if="realtyTypeId === 7"></gladika>
                          <windows-and-doors  v-if="realtyTypeId === 8"></windows-and-doors>
                        </fieldset>
                    </form>

                </section>
                <checkout v-if="realtyTypeId !== 6"></checkout>
            </div>
        </div>
      <section v-if="realtyTypeId === 1" class="sp-bg-light-blue sp-pt-40 sp-pb-60 text-center sp-support">
        <div data-v-3e51d18e="" class="container-fluid">
          <h2 data-v-3e51d18e="" class="sp-title sp-color-white sp-mb-30">
            Per sapere quali materiali devi avere a casa clicca qui </h2>
          <div data-v-3e51d18e="">
            <button data-v-3e51d18e="" @click="open" type="button"
                    class="btn sp-btn sp-btn-light-blue sp-btn-lg sp-btn-lg-rounded sp-w213 sp-mb-40">APRÌ
            </button>
          </div>
        </div>
      </section>
        <div class="modal fade" id="subscription-info" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ABBONAMENTI</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Gentile utente, ti ricordiamo che l’Iscrizione all’abbonamento comporta l’addebito
                            del costo delle prime 4 pulizie settimanali. Nel tuo profilo saranno caricate le
                            prime 4 pulizie. Per cambiare la data e l'ora di ogni pulizia accedi alla tua area
                            personale e clicca su “Modifica prenotazione” oppure su "gestione abbonamenti”
                            impostando di volta in volta i nuovi dati del tuo abbonamento,
                            o della tua prossima prenotazione.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import slider from '../../assets/js/slider'
  import script from '../../assets/js/script'
  import loadFonts from '../../assets/js/loadFonts'
  import $ from 'jquery'

  import subserviceService from '../../api/subserviceService'
  import _ from 'lodash'
  import Checkout from '../checkout.vue'
  import Standard from '../ServicePages/Standard'
  import beforeArrival from '../ServicePages/beforeArrival'
  import afterWhitewashing from '../ServicePages/afterWhitewashing'
  import afterHoliday from '../ServicePages/afterHoliday'
  import Spring from '../ServicePages/Spring'
  import bigHouse from '../ServicePages/bigHouse'
  import gladika from '../ServicePages/gladika'
  import windowsAndDoors from '../ServicePages/windowsAndDoors'




  require('../../assets/js/step-registr.js')
  require('../../assets/js/data-picker')

  export default {
    components: {
      Checkout,
      Standard,
      beforeArrival,
      afterWhitewashing,
      afterHoliday,
      Spring,
      bigHouse,
      gladika,
      windowsAndDoors
    },
    name: 'servicesList',
    data: () => {
      return {
        checkedConditions: {},
        countClickClearKit: null,
        clear_kit: 0,
        clear_kit_in_sub: false,
        bathroom: 0,
        first_price: 0,
        flatMeters: null
      }
    },
    mounted () {
      this.$store.dispatch('setSubscription', null)
      this.$store.dispatch('setFrequency', null)
      this.$store.dispatch('setFlatPrice',null)
      this.$store.dispatch('setSelectedCleaner', null)
      this.$store.dispatch('setOrderDate', null)
      this.$store.dispatch('setOrderCopy', null)
      this.resetFlatMeters()
      this.resetFlatHours()
      // this.flatMeters = this.meters
      this.$store.dispatch('setLoginErrors', null)
      if (this.subscription) {
        this.$store.dispatch('setSubscription', null)
      }
      if (this.buySubscription) {
        $('#subscription-info').modal('show')
      }
      this.$store.dispatch('setStep', 1)
      this.$store.dispatch('setMaxStep', 2)


    },
    computed: {
      // flatMeters () {
      //   return this.$store.getters.getFlatMeters
      // },
      flatHours () {
        return this.$store.getters.getFlatHours
      },
      express () {
        return this.$store.getters.getIsExpress
      },
      checkedAddServices () {
        return this.$store.getters.getCheckedAddServices
      },
      checkedAddServiceObj () {
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      meters () {
        return this.$store.getters.getMeters || null
      },
      price () {
        return this.$store.getters.getPrice
      },
      step () {
        return this.$store.getters.getStep
      },
      checkedSurfaceIds () {
        return this.$store.getters.getCheckedSurfaceIds
      },
      checkedSubConditionIds () {
        return this.$store.getters.getCheckedSubConditionIds
      },
      buyClearKit () {
        return this.$store.getters.getBuyClearKit
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      hours () {
        return this.$store.getters.getHours
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      subserviceHoursMeters () {
        let hoursMeters = this.$store.getters.getSubserviceHoursMeters

        let grouped = _.groupBy(hoursMeters, hm => hm.add_service_id)

        return grouped
      },
      isOffice () {
        return this.$store.getters.getRealtyTypeId === 2
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      },
      getBathroom(){
        return parseInt(this.$store.getters.getBathroom) || 0
      },
      cleanName(){
        return this.$store.getters.getCleanTypeName
      }
    },
    beforeCreate () {
      localStorage.setItem('requiredServicesList', true)
      this.$store.dispatch('getSubscriptions')
      //this.$store.dispatch('setFlatMeters', 0)
      this.$store.dispatch('getOrderViewModel', () => {
        slider()
        script()
        loadFonts()
      })
      localStorage.setItem('isRegisterStep', false)
      if (this.$store.getters.getRealtyTypeId === 1) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/flat/Wedding_12.jpg'),
          secondImage: require('./../../assets/images/flat/Wedding_10.jpg')
        })
      }
      if (this.$store.getters.getRealtyTypeId === 2) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../../assets/images/office/Wedding_25.jpg'),
          secondImage: require('./../../assets/images/office/Wedding_28.jpg')
        })
      }
      subserviceService.getHoursMeters().then(response => {
        this.$store.dispatch('setSubserviceHoursMeters', response.data)
      })
    },
    methods: {
      setFlatHours (event) {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatHours', 0)
        } else {
          this.hoursOfficeKeyUp(event)
        }
      },
      resetFlatHours () {
        this.$store.dispatch('setFlatHours')
        this.$store.dispatch('setFlatMeters')
        this.$store.dispatch('setFlatPrice', 0)
      },
      hoursOfficeKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setFlatHours', event.target.value)
        let metersOfficeInput = document.querySelector('#metersOffice')
        if (metersOfficeInput) {
          metersOfficeInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatMeters', null)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }

        this.$store.dispatch('setPriceFromHours', {
          hours: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
          date: this.$store.getters.getOrderDate,
          time: this.$store.getters.getOrderTime
        })
      }, 300),
      resetFlatMeters () {
        this.$store.dispatch('setFlatMeters',null)
        this.$store.dispatch('setFlatHours')
        this.$store.dispatch('setFlatPrice', 0)
      },
      setFlatMeters (event) {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatMeters', null)
        } else {
          this.metersOfficeKeyUp(event)
        }
      },
      metersOfficeKeyUp: _.debounce(function (event) {
        if(this.flatMeters.toString()[0] == 0 && this.flatMeters.toString().length > 1){
          let meters = this.flatMeters.toString();
          meters = meters.substr(1,meters.length - 1)
          this.flatMeters = parseInt(meters)
        }
        else if(this.flatMeters.toString()[0] == 0 && this.flatMeters.toString().length === 1){
          this.flatMeters = null
        }
        this.$store.dispatch('setFlatMeters', event.target.value)

        let hoursOfficeInput = document.querySelector('#hoursOffice')
        if (hoursOfficeInput) {
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatHours', 0)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromMeters', {
          meters: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
        //  date: this.$store.getters.getOrderDate,
       //   time: this.$store.getters.getOrderTime
        })
      }, 300),
      changeClearKit (event) {
        this.countClickClearKit = 0
      },
      setStep () {
        // if (this.$store.getters.getStep < this.step) {
        //   this.$store.dispatch('setStep',  this.step + 1)
        // }
      },
      setBathroom(){
        var price_bathroom = 0;
        var bathroom = parseInt(this.bathroom)
        var prevBathroom = this.getBathroom
        if(prevBathroom < bathroom){
          price_bathroom = this.price - (prevBathroom * 8) + (bathroom * 8)
        }
        else{
          price_bathroom = this.price - (Math.abs(prevBathroom - bathroom)* 8)
        }
        this.$store.dispatch('setBathroom',this.bathroom)
        this.$store.dispatch('setPrice', price_bathroom)

      },
      cancelService (addServiceId) {
        this.$store.dispatch('changeCheckedServices', {
          id: addServiceId,
          isRemove: true
        })
      },
      getStepAmount (addService) {
        let data = {
          meters: this.$store.getters.getMeters,
          addSubService: parseInt(addService.id)
        }
        return orderService.getStepAmount(data)
      },
      confirmServices (addService) {
        this.getStepAmount(addService).then(res => {
          let data = res.data
          this.$store.dispatch('changeCheckedServices', {
            id: addService.id,
            value: true,
            full_price: data.amount,
            hours: data.hours,
            realty_type_id: addService.realty_type_id
          })
          $('#table-accept').modal('show')
        })
      },

      checkSubConditions (event) {
        let id = +event.target.value
        if (event.target.checked) {
          this.$store.dispatch('setCheckedSubConditionIds', {
            id: +event.target.value
          })
          if (id <= 3) {
            let element = document.querySelector('#main-check-1')
            element.checked = true
          }
          if (id > 3 && id <= 6) {
            let element = document.querySelector('#main-check-2')
            element.checked = true
          }
          if (id > 6) {
            let element = document.querySelector('#main-check-3')
            element.checked = true
          }
        } else {
          this.$store.dispatch('removeCheckedSubConditionIds', {
            id: +event.target.value
          })
          if (id <= 3) {
            let element = document.querySelector('#main-check-1')
            element.checked = false
          }
          if (id > 3 && id <= 6) {
            let element = document.querySelector('#main-check-2')
            element.checked = false
          }
          if (id > 6) {
            let element = document.querySelector('#main-check-3')
            element.checked = false
          }
        }
      },
      checkBuyClearKit (event) {
        this.$store.dispatch('setBuyClearKit', this.clear_kit)
//        $('#step-1').goTo()
      },
      inSubscription (id) {
        return this.subscription && this.subscription.addServices.find(item => item.id === id)
      },
      open () {
        $('#pdf').modal('show')
      },
      tooltip(){
        $('[data-toggle="tooltip"]').tooltip()
      },
      hoursShow(){
        switch (this.realtyTypeId) {
          case 1:return true;
          case 2:return false;
          case 4:return false;
          case 5:return false;
          case 6:return false;
          case 7:return true;
          case 8:return true;
          case 9:return false;
        }
      },
    }
  }
</script>
<style>
  .first-tab .service-details-title ol li{
    padding-left: 0;
  }
  .ml-5{
    margin-left: 5px;
  }
  .ml-25{
    margin-left: 25px;
  }
</style>
<style scoped lang="sass">
    @import "../../assets/css/step-registr.css"
    @import "../../assets/css/owl.carousel.min.css"
    @import "../../assets/css/owl.theme.default.min.css"
    @import "../../assets/css/service.css"


</style>
