<template>
    <div class="aboutUs">
        <header-menu></header-menu>
            <div id="content">
                <main-slider></main-slider>
                <main>
                    <br>
                    <div class="container text-center" v-if="content.aboutUsContent">
                        <div v-html="content.aboutUsContent[0].text">
                        </div>
                    </div>
                </main>
            </div>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    import headerMenu from './menu/HeaderMenu.vue'
    import footerMenu from './menu/FooterMenu.vue'
    import MainSlider from './menu/MainSlider'
    import eventMove from '../assets/js/jquery.event.move'

    export default {
      name: 'aboutUs',
      computed: {
        content () {
          return this.$store.getters.getContent
        }
      },
      components: {
        MainSlider,
        'headerMenu': headerMenu,
        'footerMenu': footerMenu
      },
      beforeCreate () {
        eventMove()
        this.$store.dispatch('getContent')
      }
    }
</script>
