<template>
    <div class="order">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="payment">
                    <div class="container">
                        <div class="setup-content" id="step-4">
                            <section class="fourth-tab pay-system-section">
                                <form>
                                    <fieldset>
                                        <h2>Scegli il metodo di pagamento</h2>
                                        <div class="pay-cards">
                                            <div class="pay-cards-elem" data-toggle="modal"
                                                 data-target="#table-payment-paypal">
                                                <img src="../assets/images/paypal.png">
                                            </div>
                                            <div @click="gestpay" data-toggle="modal" data-target="#table-payment-gestpay"
                                                 class="pay-cards-elem">
                                                <img src="../assets/images/pay-cards.png">
                                            </div>
                                        </div>
                                        <div class="checkbox-form">
                                            <!--<input id="pay-checkbox" type="checkbox" name="field" value="option">-->
                                            <label class="checkbox-label" for="pay-checkbox"><span></span>
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                L'addebito dell'importo per il servizio richiesto avviene solo a
                                                intervento effettuato ed ultimato, nelle 24 ore dopo l'erogazione.</label>
                                        </div>
                                        <div v-show="!isCouponActive">
                                            <input type="text" class="form-control" v-model="couponCode"
                                                   placeholder="Inserisci il codice coupon">
                                            <br>
                                            <button class="btn btn-info" @click="applyCouponCode">Applica coupon</button>
                                        </div>
                                        <div class="modal fade" id="table-coupon-info" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content size">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">
                                                            Informazioni sul coupon</h4>
                                                    </div>
                                                    <div class="modal-body square-options">
                                                        {{couponInfo}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="table-payment-paypal" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content size">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;
                                                        </button>
                                                        <h4 class="modal-title">
                                                            Inserisci i tuoi dati Paypal</h4>
                                                    </div>
                                                    <div class="modal-body square-options">
                                                        <form>

                                                            <PayPal
                                                                    v-show="!clicked"
                                                                    :amount="price.toString()"
                                                                    currency="EUR"
                                                                    :client="credentials"
                                                                    :invoiceNumber="invoiceNumber"
                                                                    :dev="true"
                                                                    env="sandbox"
                                                                    :buttonStyle="{size:  'responsive'}"
                                                                    v-on:paypal-paymentCompleted="paypalComplete">
                                                            </PayPal>
                                                            <vue-simple-spinner v-show="clicked"></vue-simple-spinner>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="table-payment-gestpay">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content size">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">
                                                            Inserisci i dati della tua carta di credito</h4>
                                                    </div>
                                                    <div class="modal-body square-options">
                                                        <vue-simple-spinner v-if="!response"></vue-simple-spinner>
                                                        <div v-else="">
                                                            {{ response }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                            <div class="sidebar">
                                <h2>Riepilogo ordine</h2>
                                <form class="sidebar-form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="text" title="text" class="square" disabled
                                                   v-model="order.meters"><span>m<sup>2</sup></span>
                                        </div>
                                        <ul class="sidebar-form-list">
                                            <span>ore: {{ order.hours}}</span>
                                        </ul>
                                        <div class="price-button">
                                            <button type="button" class="btn btn-default">Totale: <span>{{ Math.round((price * couponPercent) * 100) / 100
                                                }} €</span>
                                            </button>
                                        </div>
                                        <div class="continue-button">
                                            <button id="activate-step-4" class="btn btn-default">Continua</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
    </div>
</template>
<script>
  import FooterMenu from './menu/FooterMenu'
  import HeaderMenu from './menu/HeaderMenu.vue'
  import vueSimpleSpinner from 'vue-simple-spinner'
  import { stripeKey, stripeOptions } from '../stripeConfig.js'
  import axios from 'axios'
  import {host} from '../config'
  import Vue from 'vue'
  import PayPal from 'vue-paypal-checkout'
  import guestPayService from '../api/GuestPayService'
  import orderService from '../api/orderService'
  import couponService from '../api/couponService'
  import $ from 'jquery'
  import priceService from '../api/priceService'

  export default {
    name: 'payment',
    components: {
      vueSimpleSpinner,
      PayPal,
      'footerMenu': FooterMenu,
      'headerMenu': HeaderMenu
    },
    data: () => {
      return {
        response: null,
        couponInfo: '',
        couponCode: '',
        complete: false,
        clicked: false,
        stripeOptions: stripeOptions,
        stripeKey: stripeKey,
        credentials: {
          production: 'AeQTXFA-aqcLKxtZ5WaInZWRLeHuBpNjotScIyTKhdhyLyckH7j-C6e9-piLwCA_vPDDSRsAXyycxoYi',
          sandbox: 'AfuXA_53J_2VCL6daYWA5Q4exM7ZJERH8Z-nlYenPuIuo2PfOSAEDMeSuOcKQFRIj4ppdfTphVDem9M9'
        },
        baseOrder: null,
        order: {
          token: null,
          type: null,
          time: null,
          date: null,
          surfaces: null,
          subscription_id: null,
          subConditions: null,
          realty_type_id: null,
          meters: null,
          insurances: null,
          comment: null,
          cleaner_id: null,
          city_id: null,
          buy_clear_kit: null,
          add_services: null,
          secretPlaceId: null,
          coupon_id: null,
          price: '',
          frequency:null,
        },
        isCouponActive: null,
        couponPercent: 1
      }
    },
    methods: {
      applyCouponCode (event) {
        event.preventDefault()
        couponService.applyCouponCode({
          couponCode: this.couponCode,
          price: this.order.price
        }).then((res) => {
          this.couponInfo = res.data.data
          if (typeof this.couponInfo === 'object') {
            let percent = 1 - (res.data.data.percent / 100)
            this.$store.dispatch('setCouponPercent', percent)
            this.couponInfo = 'Coupon è stato applicato'
            this.isCouponActive = true
            this.couponPercent = percent
            this.order.coupon_id = res.data.data.id
          } else {
            this.couponInfo = res.data
          }
          $('#table-coupon-info').modal('show')
        })
      },
      paypalComplete (data) {
        this.order.token = data.id
        this.order.type = 'paypal'
        this.clicked = true
        if (this.baseOrder ==='copy') {
          orderService.acceptDublicateOrder(this.order.id).then(response =>{
              if(response.data){
                $('#table-payment-paypal').modal('hide')
                this.$router.push({name: 'PersonalArea'})
              }
          })

        }
        else if(this.baseOrder){
          this.submitChanges()
        }
        else {
          orderService.postOrder(this.order).then(response => {
            $('#table-payment-paypal').modal('hide')
            this.$store.dispatch('resetOrder')
            this.order = {}
            this.$router.push({name: 'PersonalArea'})
          })
        }
      },
      gestpay () {
        if (!this.$store.getters.getGestToken) {
          this.order.token = 'init'
          this.order.type = 'cards'
          if (this.baseOrder === 'copy') {
            guestPayService.copyOrder(this.order.id,this.couponCode,this.order.price).then(response => {
              let data = response.data
              if (data !== 'fail') {
                let wind = guestPayService.redirect(response.data.url)
                setTimeout(this.checkGestOrder, 15000, guestPayService, response.data.token, response.data.id, wind, this)
              } else {
                this.response = response.data
                $('#table-payment-gestpay').on('hidden.bs.modal', () => {
                  this.$router.push({name: 'Home'})
                })
              }
            })
          }
          else if (this.baseOrder) {
            guestPayService.initEditPay(this.order).then(response => {
              let data = response.data
              if (data !== 'fail') {
                let wind = guestPayService.redirect(response.data.url)
                setTimeout(this.checkGestOrder, 15000, guestPayService, response.data.token, response.data.id, wind, this)
              } else {
                this.response = response.data
                $('#table-payment-gestpay').on('hidden.bs.modal', () => {
                  this.$router.push({name: 'Home'})
                })
              }
            })
          } else {
            guestPayService.initPay(this.order).then(response => {
              let data = response.data
              if (data !== 'fail') {
                let wind = guestPayService.redirect(JSON.parse(response.data.result).url)
                setTimeout(this.checkGestOrder, 2000, guestPayService, response.data.token, response.data.id, wind, this)
              } else {
                this.response = response.data
                $('#table-payment-gestpay').on('hidden.bs.modal', () => {
                  this.$router.push({name: 'Home'})
                })
              }
            })
          }
        }
      },
      checkGestOrder (guestPayService, token, id, wind, self) {
        guestPayService.checkOrder(token, id).then((response) => {
          if (response.data === 'ok') {
            $('#table-payment-gestpay').modal('hide')
            self.$store.dispatch('resetOrder')
            self.$router.push({name: 'PersonalArea'})
          } else {
            if (response.data !== 'stop' && !wind.closed) {
              setTimeout(self.checkGestOrder, 3000, guestPayService, token, id, wind, self)
            } else {
              this.response = 'Il pagamento non è stato accettato.'
              $('#table-payment-gestpay').on('hidden.bs.modal', () => {
                this.response = null
              })
            }
          }
        })
      },
      submitChanges () {
        axios.post(host + '/api/change-order/' + this.order.id, this.order, {
          headers: {
            'Authorization': 'Bearer ' + Vue.auth.getToken(),
            'X-Requested-With': 'XMLHttpRequest'
          }
        }).then(response => {
          $('#table-payment-paypal').modal('hide')
          this.$store.dispatch('setOrders', response.data.data)
          this.$store.dispatch('resetOrder')
          this.order = {}
          this.$router.push({name: 'PersonalArea'})
        })
      }
    },
    computed: {
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      invoiceNumber () {
        return this.$store.getters.getInvoiceNumber
      },
      price () {
        if(this.user.is_subscribe){
          let price =  this.order.price - ( this.order.price * 0.1)
          return price
        }
       return this.order.price || 0
      },
    },
    beforeCreate () {
      this.$store.dispatch('setInvoiceNumber', Math.floor(Math.random() * 100000000))
      if (this.$store.getters.getRealtyTypeId === 1) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../assets/images/flat/Wedding_16.jpg'),
          secondImage: require('./../assets/images/flat/Wedding_13.jpg')
        })
      }
      if (this.$store.getters.getRealtyTypeId === 2) {
        this.$store.dispatch('setImagesData', {
          firstImage: require('./../assets/images/office/Wedding_25.jpg'),
          secondImage: require('./../assets/images/office/Wedding_26.jpg')
        })
      }
    },
    mounted () {
      let bigOrder = this.$store.getters.getEditedOrder
      this.baseOrder = bigOrder.base_order
      this.order = bigOrder.changed_order

      // if(this.baseOrder === 'copy'){
      //   priceService.calculatePriceFromMeters(this.order.meters, this.order.realty_type_id).then(response => {
      //     let first_price = response.data.data.price
      //     this.order.price =  first_price
      //   })
      // }


      this.order.frequency = this.$store.getters.getFrequency
      this.$store.dispatch('setRealtyTypeId', this.order.realty_type_id)
      /* this.order = {
        token: null,
        type: null,
        time: this.$store.getters.getOrderTime,
        date: this.$store.getters.getOrderDate,
        surfaces: this.$store.getters.getCheckedSurfaceIds,
        subscription_id: this.$store.getters.getSubscription !== null ? this.$store.getters.getSubscription.id : null,
        subConditions: this.$store.getters.getCheckedSubConditionIds,
        realty_type_id: this.$store.getters.getRealtyTypeId,
        meters: this.$store.getters.getMeters,
        insurances: this.$store.getters.getInsuranceIds,
        comment: this.$store.getters.getComment,
        cleaner_id: this.$store.getters.getCleanerId,
        city_id: this.$store.getters.getCurrentCityId,
        buy_clear_kit: this.$store.getters.getBuyClearKit,
        addSubServices: this.$store.getters.getCheckedAddSubServiceIds,
        secret_place_id: this.$store.getters.getSecretPlaceId,
        buySubscription: this.$store.getters.getBuySubscription,
        isCouponActive: this.$store.getters.getIsCouponActive,
        couponPercent: this.$store.getters.getCouponPercent
      } */
    }
  }
</script>

<style scoped lang="sass">
    @import "../assets/css/service.css"
</style>
