<template>
<div class="article">
  <header-menu></header-menu>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <category-sidebar   :categories="categories" :blog="false"></category-sidebar>
        </div>
        <div class="col-md-8">
            <p class="title">{{article.title}}</p>
          <div class="sp-blog__card">
            <img :src="host_url + article.media" alt="sp-blog-preview-img1-min" class="sp-blog__card__img img-responsive">
            <span class="label sp-blog__card__category"><a href="#" class="sp-link">{{choosen_category_name}}</a></span>
            <p class="subtitle">{{article.subtitle}}</p>
            <p class="content">{{article.content}}</p>
          </div>
          <div class="comments">
            <p>Commenti</p>
            <div v-if="user" class="comment-field">
              <textarea name="" id="" cols="30" rows="10" v-model="comment"></textarea>
              <button class="send" @click="setComment()">Inviare</button>
            </div>

            <div class="comment clearfix" v-for="comment in article.comments">
              <img :src="host_url + comment.user.avatar" class="user" alt="">
              <div class="content">
                <p class="user-name">{{comment.user.name}}</p>
                <p class="user-comment">{{comment.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-menu></footer-menu>
</div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import categorySidebar from './menu/CategorySidebar'
  import blogService from '../api/blogService'
  import {host} from '../config'
  export default {
    name: 'Article',
    data(){
      return {
        data:null,
        host_url:host + '/upload/',
        comment:null
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
      'categorySidebar':categorySidebar
    },
    created(){
        blogService.getArticle(this.$route.params.id).then((response) => {
         this.data = response.data
       })

    },
    methods:{
      setComment(){
        let data = {
            text:this.comment,
            user_id:this.user.id,
            article:this.article.id
        }
        blogService.setComment(data).then((response)=>{
            if(response.data){
              {
                this.data.article.comments.push({
                  id:response.data.comment.id,
                  text:response.data.comment.text,
                  user:{
                    id:response.data.user.id,
                    name:response.data.user.name,
                    avatar:response.data.user.avatar,
                  }
                })
              }

              this.comment = ''
            }

        })
      }
    },
    computed:{
        article(){
          if(!this.data)
          return []
          return this.data.article
        },
        categories(){
          if(!this.data)return []
          return this.data.categories
        },
        choosen_category_name(){
          if(!this.data) return []
          return this.data.choosen_category
        },
        user () {
          if (this.$auth.isAuthenticated()) {
            return this.$store.getters.getUser
          }
          return null
        }

    }
  }
</script>

<style scoped>

.article p{
  font-family: 'FiraSans-Regular';
}
.article .sp-blog__card{
  background: #fff;
  padding: 0 30px 40px 30px;
}
.article .sp-blog__card  .sp-blog__card__category{
  left: 30px;
}
.article .title{
  margin-top: 30px;
  font-size: 24px;
  line-height: 36px;
  color: #1b467b;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 0;
  padding: 40px 30px;
}
.article .subtitle{
  margin:40px 0 25px 0;
  font-size: 16px;
  line-height: 24px;
  color: #1b467b;
  text-transform: uppercase;
}
.article .content{
  font-size: 14px;
  line-height: 24px;
  color: #a6a6a6;
}
  #content{
    background: #f5f5f5;
  }
  .send {
    padding: 5px 10px;
    float: right;
    color:#fff;
    background: #1b467b;
    border:none;
    font-size: 16px;
  }
</style>
