<template>
  <div class="blog">
    <header-menu v-if="mainPage!==true"></header-menu>
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4" v-if="mainPage!==true">
            <category-sidebar @choosed_category="chooseCategory" :categories="categories" :blog="true"></category-sidebar>
          </div>
          <div class="col-md-8">
            <div class="articles">
          <div class="row">
            <div class="col-sm-6" v-for="article in articles">
              <div class="sp-blog__card">
                <img :src="host_url + article.media" alt="sp-blog-preview-img1-min" class="sp-blog__card__img img-responsive">
                <span class="label sp-blog__card__category"><a href="#" class="sp-link">{{getCategoryByArticle(article.category_id)}}</a></span>
                <div class="sp-blog__card__body">
                  <h3 class="sp-blog__card__title">{{article.title}}</h3>
                  <p class="sp-blog__card__text">{{article.content}}</p>
                  <div class="sp-blog__card__info">
                    <a @click="setArticle(article,'/blog/' + article.id)"  class="sp-link sp-blog__card__link" >Leggi di più</a>
                    <span class="label sp-blog__card__comment-count"><span>{{article.comments > 99 ? '99+' : article.comments}}</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
      </div>
      </div>
    </div>
    <footer-menu v-if="mainPage!==true" ></footer-menu>
  </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import categorySidebar from './menu/CategorySidebar'
  import blogService from '../api/blogService'
  import {host} from '../config'
  export default {
    name: 'Blog',
    data(){
      return {
        data:[],
        categories:null,
        choosed_category:null,
        host_url:host + '/upload/'
      }
    },
    computed:{
      articles(){
        if(this.data.articles)
        {
          let filtered_articles = this.data.articles.filter((article)=>{
            if(this.mainPage===true && article.mainPage === true){
              return  !this.choosed_category  || this.choosed_category === article.category_id
            }
            else if(this.mainPage===false){
              return  !this.choosed_category  || this.choosed_category === article.category_id
            }

          })
          return filtered_articles;
        } else {
          return []
        }
      },
    },
    created(){
      blogService.getAll().then((response) => {
        this.data = response.data
        this.categories = response.data.categories
      })
      console.log(this.$store.getters.getChoosedCategory)
      this.choosed_category = this.$store.getters.getChoosedCategory ? this.$store.getters.getChoosedCategory.category : null
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
      'categorySidebar':categorySidebar
    },
    props:{
      mainPage: {
        default:false,
        type:Boolean
      }
    },
    methods:{
      chooseCategory(val){
        this.choosed_category = val
      },

      getCategoryByArticle(id){
        let categories  = this.categories
        let category_name = ''
        categories.forEach(function(category, i,categories) {
          if(category.children.length > 0){
            let children = category.children
            children.forEach(function(subcategory, i, children){
              if(subcategory.id === id)
              category_name =subcategory.name;
            })
          }
          if(category.id === id && category_name===''){
            category_name = category.name
          }
        });
        return category_name
      },
      setArticle(article,route){
        let category = this.getCategoryByArticle(article.category_id)
        //this.$store.dispatch('setArticle',{article:article,categories:this.categories,choosen_category:category})
        this.$router.push(route)
      }
    }
  }
</script>

<style scoped>

.preview img{
  width: 100%;
}

.articles{
  /*margin-right: 30px;*/
  padding: 22px 0 0;
}
.articles p {
  font-family: 'FiraSans-Regular';
}
  .articles .title{
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #1b467b;
    text-transform: uppercase;
  }
.articles .description{
  font-size: 14px;
  line-height: 24px;
  color: #a6a6a6;
}



</style>
