<template>
    <div class="sidebar">
        <h2>Riepilogo ordine</h2>
        <form class="sidebar-form">
            <fieldset>
                <div class="form-group">
                    <input type="text" title="text" class="square" disabled
                           v-model="meters"><span>m<sup>2</sup></span>
                </div>
                <ul class="sidebar-form-list">
                    <span v-if="hours !== 0 && Object.keys(checkedAddServiceObj).length != 0">ore: {{ hours}}</span>
                    <!--<span>{{ express }}</span>-->
                  <div v-if="cleanName" style="padding: 5px">
                    Tipo di pulizia  : {{cleanName}}
                  </div>
                    <li v-for="service of checkedAddServiceObj" v-if="service.realty_type_id === realtyTypeId ">
                        <p>{{ service.title }}
                          <span v-if="service.value === true"> {{ service.price!=0 ?  ': ' + service.price + '€': ''}}</span>
                        </p>
                        <button  v-if="service.value === true" class="close" type="button" style="font-size: 15px">
                            <i @click="cancelService(service.id)" class="fa fa-close"></i>
                        </button>
                    </li>
                    <!--<div v-if="subscription">-->
                        <!--<li v-for="item of subscription.additional_list">-->
                            <!--{{ item }}-->
                        <!--</li>-->
                    <!--</div>-->
                    <li v-for="clear of clearKit" v-if="clearKit">
                        {{ clear.title }}:
                        <span v-if="!clear.value" style="width: auto;">+ {{ clear.price }}€</span>
                          <button  v-if="clear.price" class="close" type="button" style="font-size: 15px">
                            <i @click="cancelClearKit()" class="fa fa-close"></i>
                          </button>
                    </li>
                  <span v-if="bathroom != 0 && bathroom !=null"> Numero di bagni : {{ bathroom }}</span>
                </ul>

              <div v-if="selectedCleaner && selectedCleaner.name">
                <img :src="host_url + selectedCleaner.avatar" style="width: 40px;" alt="">
                <span >Name:{{selectedCleaner.name || 'not set'}}</span>
                <span style="display: block;">Data:  {{selectedDate}}</span>
                <span style="display: block;">Indirizzo:  {{user ? user.address : '-'}}</span>
              </div>
                <div class="price-button">
                    <button type="button" class="btn btn-default">Totale: <span>{{ user && user.is_subscribe && step===5 ?  price - price * 0.1 : price }} €</span>
                        <!--<p v-if="subscription && buySubscription">per 4 pulizie</p>-->

                    </button>
                    <p v-if="step === 5" >Assicurazione e iva inclusi</p>
                </div>
                <div class="continue-button" v-if="isActiveStep1">
                    <router-link @click.native="setStep" :to="{name: 'Abonement'}">
                        <button class="btn btn-default">
                            Continua
                        </button>
                    </router-link>
                  <router-link @click.native="backStep(1)" :to="{name: 'MainServiceList'}">
                    <button class="btn btn-default">
                      Indietro
                    </button>
                  </router-link>
                </div>
              <div class="continue-button" v-if="isActiveStep2 && subscription">
                <router-link @click.native="setStep" :to="{name: 'Date'}" v-if="subscription.id === 4">
                  <button class="btn btn-default">
                    Continua
                  </button>
                </router-link>
                <router-link v-else @click.native="setStep" :to="{name: 'DateSubscription'}" >
                  <button class="btn btn-default">
                    Continua
                  </button>
                </router-link>
                <router-link @click.native="backStep(1)" :to="{name: 'ServicesList'}">
                  <button class="btn btn-default">
                    Indietro
                  </button>
                </router-link>
              </div>
              <div class="continue-button" v-if="isActiveStep3">
                <div v-if="isAuth()">
                  <router-link @click.native="setStep" :to="{name: 'Payment'}">
                    <button class="btn btn-default">
                      Continua
                    </button>
                  </router-link>
                    <router-link @click.native=" realtyTypeId === 1 ? backStep(1) : backStep(2)"  :to="realtyTypeId === 1 ? {name: 'Abonement'} : {name: 'ServicesList'}">
                      <button class="btn btn-default">
                        Indietro
                      </button>
                    </router-link>
                </div>
                <div v-else>
                    <router-link @click.native="setStep(3)" :to="{name: 'Registration'}">
                    <button id="activate-step-3" class="btn btn-default">
                    Continua
                    </button>
                    </router-link>
                    <router-link @click.native=" realtyTypeId === 1 ? backStep(1) : backStep(2)" :to="realtyTypeId === 1 ? {name: 'Abonement'} : {name: 'ServicesList'}">
                      <button class="btn btn-default">
                        Indietro
                      </button>
                    </router-link>
                </div>
              </div>
              <div class="continue-button"  v-if="step === 5" >
              <router-link class="btn btn-default"  :to="subscription.id === 4 ? {name: 'Date'} : {name: 'DateSubscription'}" @click="backStep(1)" >
                Indietro
              </router-link>
              </div>
              <div v-if="step === 5 &&  user && user.is_subscribe">
                <span >10% di sconto sul checkout</span>
              </div>
              <div v-if="step === 5" style="    margin: 10px 0;">
                <div v-show="!isCouponActivate">
                  <input type="text" class="form-control" style="padding-right: 39px;" v-model="couponCode"
                         placeholder="Inserisci il codice coupon">
                  <br>
                  I codici sconto possono essere usati in fase di pagamento
                  <button class="btn btn-info" style="margin: 10px auto;
    width: 120px;
    display: block;" @click="applyCouponCode">Applica coupon</button>
                </div>
              </div>

                <!--<div class="continue-button">-->

                <!--</div>-->
            </fieldset>
        </form>
    </div>
</template>
<script>

  import couponService from '../api/couponService'
  import {host} from '../config'
  import moment from 'moment'
  export default {
    name: 'checkout',
    data () {
      return {
        couponCode:null,
        host_url:host + '/upload/',
      }
    },
    computed: {
      isCouponActivate () {
        return this.$store.getters.getIsCouponActive
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
      hours () {
        return this.$store.getters.getFullHours
      },
      express () {
        return this.$store.getters.getIsExpress
      },
      checkedAddServiceObj () {
        return this.$store.getters.getCheckedAddSubServicesObj
      },
      meters () {
        return this.$store.getters.getMeters
      },
      subscription () {
        return this.$store.getters.getSubscription
      },
      clearKit () {
        return this.$store.getters.getClearKit
      },
      buySubscription () {
        return this.$store.getters.getBuySubscription
      },
      price () {
        return this.$store.getters.getPrice
      },
      isActiveStep1 () {
        return this.$store.getters.getStep === 1
      },
      isActiveStep2 () {
        return this.$store.getters.getStep === 2
      },
      isActiveStep3 () {
        return this.$store.getters.getStep === 3
      },
      isActiveStep4 () {
        return this.$store.getters.getStep === 4
      },
      isActiveStep5 () {
        return this.$store.getters.getStep === 5
      },
      isActiveStep6(){
        return this.$store.getters.getStep === 6
      },
      isActiveStep7(){
        return this.$store.getters.getStep === 7
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      step () {
        return this.$store.getters.getMaxStep
      },

      bathroom(){
        if (this.realtyTypeId < 6)
        return +this.$store.getters.getBathroom + 1
      },
      selectedCleaner(){
        return this.$store.getters.getSelectedCleaner
      },
      selectedDate(){
        let date = moment(this.$store.getters.getOrderDate.date).format('DD/MM/YYYY')
        return date
      },
      cleanName(){
        return this.$store.getters.getCleanTypeName
      }
    },
    methods: {
      applyCouponCode (event) {
        event.preventDefault()
        couponService.applyCouponCode({
          couponCode: this.couponCode,
          price: this.price
        }).then((res) => {
          this.couponInfo = res.data.data
          if (typeof this.couponInfo === 'object') {
            let percent = 1 - (res.data.data.percent / 100)
            this.$store.dispatch('setIsCouponActive', true)
            this.$store.dispatch('setCouponPercent', percent)
            this.couponInfo = 'Coupon è stato applicato'
            this.isCouponActive = true
            this.couponPercent = percent
            this.order.coupon_id = res.data.data.id
          } else {
            this.couponInfo = res.data
          }
          $('#table-coupon-info').modal('show')
        })
      },
      cancelService (addServiceId) {
        this.$store.dispatch('changeCheckedServices', {
          id: addServiceId,
          isRemove: true
        })
      },
      cancelClearKit (){
        this.$store.dispatch('setBuyClearKit',null);
      },
      setStep () {
        if(this.$store.getters.getStep < this.step){
          this.$store.dispatch('setStep', this.$store.getters.getStep + 1)
          this.$store.dispatch('setMaxStep', this.step+1)
        }
      },
      backStep (n) {
        if (this.$store.getters.getStep < this.step) {
          this.$store.dispatch('setStep', this.$store.getters.getStep - n)
          this.$store.dispatch('setMaxStep', this.step - n )
          //this.$router.go(-1)
        }
      },
      isAuth () {
        return this.$auth.getToken() !== null
      }
    }
  }
</script>
