<template>
  <div class="confidentiality">
    <header-menu></header-menu>
    <main>
      <div id="content" class="container">
        <span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis tortor ac odio elementum, sit amet pellentesque nisi pellentesque. Maecenas vel pharetra purus. Duis efficitur nulla ut arcu suscipit blandit. Curabitur consequat neque ut imperdiet sagittis. In ornare nulla justo, eu sagittis nibh scelerisque eget. Nam ut convallis odio. Duis cursus sapien quis nibh porttitor, id hendrerit arcu porttitor. Proin maximus turpis quis erat tristique commodo. Vivamus volutpat sapien in varius molestie. Fusce in viverra dolor. Vestibulum feugiat, ligula vel feugiat lobortis, erat enim tempor lacus, at sagittis erat purus sit amet lectus. Vivamus at dui massa. In hac habitasse platea dictumst. Vestibulum porttitor congue lectus, ac porttitor enim tincidunt at. Phasellus nibh velit, pretium ut libero ac, lacinia tempus elit.</p>
          <p>In est turpis, porta non porttitor quis, facilisis auctor orci. Vivamus eget interdum odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer porttitor tempor sodales. Nulla interdum, augue et sagittis sollicitudin, tortor nisl rhoncus odio, eu laoreet nulla lectus a justo. Morbi vulputate dui sit amet dolor lobortis convallis. Donec placerat, eros nec imperdiet auctor, nisi lorem vestibulum dolor, eu pellentesque est diam id diam. In pretium urna nec orci rutrum, vel bibendum purus tincidunt. Aenean scelerisque libero felis, et rutrum metus maximus sit amet. Donec consectetur, risus ut vehicula iaculis, lorem dui mollis augue, ut tincidunt arcu elit sit amet libero.</p>
          <p>Etiam ut libero sapien. Maecenas pellentesque neque non metus feugiat, dignissim fringilla est commodo. Vestibulum ut quam ut arcu porta tempus. Phasellus in mauris et enim scelerisque lobortis. Aliquam vel cursus justo, at dapibus est. Nulla condimentum, odio ac condimentum tristique, sem turpis tempus sapien, et feugiat ex purus eget augue. Donec varius purus sed lorem tempor rutrum. Morbi vitae finibus lacus. Pellentesque sit amet iaculis eros. Suspendisse pellentesque ornare nunc dignissim semper. Nullam blandit ligula sed nibh dignissim rutrum. Sed vulputate pellentesque risus, suscipit feugiat libero rutrum pulvinar. Nullam iaculis, nisi sed tincidunt posuere, mauris nulla mattis turpis, nec faucibus sapien arcu nec felis. Nam venenatis commodo est, in ultrices metus faucibus in. Nullam feugiat eleifend luctus. Nunc convallis, tellus luctus commodo fringilla, nibh lectus tempus diam, ut fringilla enim nunc at orci.</p>
          <p>Sed sodales ligula nec blandit bibendum. Aenean euismod, diam et malesuada vehicula, mi ante feugiat nisl, nec viverra ipsum orci at magna. Aenean eu lorem consectetur, congue neque eu, convallis nibh. Etiam quam nisi, sodales sit amet sem ac, lobortis pretium lacus. Mauris lobortis tincidunt nisi vitae tempor. Curabitur ac convallis velit. Aliquam elit velit, congue vitae nunc in, suscipit porttitor lacus. Suspendisse et consequat nisi. Pellentesque semper lorem dui, et sodales augue vestibulum ac. Nunc varius enim sed facilisis egestas. In arcu purus, vestibulum porta tincidunt ac, hendrerit nec ligula. Aliquam lobortis dolor vel eros fringilla, non tristique dui tempor. Donec vestibulum quam est, in hendrerit sem scelerisque at.</p>
          <p>Nullam tempor interdum justo. Mauris pretium libero enim, at dapibus urna rutrum vel. Praesent pulvinar laoreet lorem, sed vulputate nisl molestie et. Sed sapien sem, lacinia eget ipsum ut, scelerisque venenatis turpis. Etiam eget ante sit amet metus tempus efficitur pellentesque ac velit. Ut ac erat magna. Aliquam erat volutpat. Donec porttitor tellus malesuada feugiat aliquam. Nunc scelerisque, metus non vulputate luctus, ante leo ultricies mi, vel tincidunt est diam et diam. Vivamus justo urna, imperdiet et diam in, finibus iaculis metus. Curabitur volutpat iaculis lacus vitae lacinia. Nullam a enim dolor. Etiam sapien ante, tincidunt et euismod id, ultricies quis felis. Phasellus eget eros sit amet ex mollis fringilla. Nunc lacus justo, blandit non volutpat quis, condimentum nec eros. Nam efficitur tempor ultrices</p>
        </span>
      </div>
    </main>
    <footer-menu></footer-menu>
  </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  export default {
    name: 'confidentiality',
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    }
  }
</script>
