<template>
    <div class="contact">
        <header-menu></header-menu>
        <main-slider></main-slider>
            <main>
                <div id="content" v-if="content.contactContent">
                    <div class="col-md-3"></div>
                    <feedback-form></feedback-form>
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-12">
                                <p class="text-center" >
                                    Email: <a :href="'mailto:' + content.contactContent[0].email">{{ content.contactContent[0].email }}</a>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <p class="text-center">
                                    Phone: <a :href="'tel:' + content.contactContent[0].phone">{{ content.contactContent[0].phone }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import MainSlider from './menu/MainSlider'
  import FeedbackForm from './modules/FeedbackFrom'

  export default {
    name: 'contact',
    computed: {
      content () {
        return this.$store.getters.getContent
      }
    },
    components: {
      FeedbackForm,
      MainSlider,
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    beforeCreate () {
      this.$store.dispatch('getContent')
      this.$store.dispatch('setImagesData', {
        firstImage: require('./../assets/images/flat/Wedding_16.jpg'),
        secondImage: require('./../assets/images/flat/Wedding_10.jpg')
      })
    }
  }
</script>
