<template>
    <div>
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="employees-page">
                    <div class="container">
                        <div class="row">
                            <h1>Scorpi I Nostri Adetti Di Pulizia</h1>
                            <p>Responsabili, ordinati e puntuali.
Consulta i profili degli addetti di Spotless selezionati e scelti in base alla loro professionalità.
</p>
                            <!-- Filter Controls - Simple Mode -->
                            <div class="col-sm-4 employees-filter">
                                <p>Sesso:</p>
                                <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
            for an unfiltered gallery and then the values of your categories to filter between them -->
                                <ul class="simplefilter list-unstyled list-inline">
                                    <li :class="(filter.gender === 'all')? 'active' : ''" @click="setGender('all')"
                                        class="blue-btn">All
                                    </li>
                                    <li :class="(filter.gender === 'male')? 'active' : ''" @click="setGender('male')"
                                        class="blue-btn">Uomo
                                    </li>
                                    <li :class="(filter.gender === 'female')? 'active' : ''"
                                        @click="setGender('female')" class="blue-btn">Donna
                                    </li>
                                </ul>
                            </div>
                            <!-- Filter Controls - Multifilter Mode -->
                            <div class="col-sm-4 employees-filter">
                                <p>Lingua parlata:</p>
                                <ul v-if="languages.length > 0" class="multifilter list-unstyled list-inline">
                                    <li v-for="language of languages" @click="setLang(language.title)" class="blue-btn"
                                        :class="(filter.languages.indexOf(language.title) !== -1)? 'active' : ''">
                                        {{ language.title }}
                                    </li>
                                </ul>
                                <vue-simple-spinner v-else=""></vue-simple-spinner>
                            </div>
                            <!-- Shuffle & Sort Controls -->
                            <div class="col-sm-4 employees-filter">
                                <p>filtra per</p>
                                <ul class="list-unstyled list-inline">
                                    <li @click="sortRate" class="sort-btn blue-btn">Rate</li>
                                    <li @click="sortCount" class="sort-btn blue-btn">Quantita di pulizie</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Search control -->
                        <div class="row filtr-wrapper-container">
                            <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
            attribute, which starts from the value 1 and goes up from there -->
                            <div class="filtr-container">
                                <template v-if="cleaners.length > 0">
                                    <div class="col-xs-6 col-sm-3 filtr-item" v-for="cleaner of cleaners">
                                        <img style="width: 247px;height: 247px;" :src="cleaner.avatar" alt="sample image">
                                        <span class="item-desc">{{ cleaner.name }}</span>
                                        <star-rating class="rating rating-loading" :showRating="false" :inline="true" :itemSize="20"
                                                     :readOnly="true"
                                                     :rating="parseInt(cleaner.rating.avgRating)"></star-rating>
                                        <!--<input id="input-2" name="input-2" class="rating rating-loading read-only-rating"-->
                                        <!--:value="cleaner.rating.avgRating" data-readonly="true">-->
                                        <button @click="setEmployee(cleaner)" data-toggle="modal"
                                                data-target=".worker-details-modal" class="blue-btn">Scopri profilo
                                        </button>
                                    </div>
                                </template>
                                <vue-simple-spinner v-else=""></vue-simple-spinner>
                            </div>
                        </div>
                        <button class="blue-btn">Carica di piu</button>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
        <employee-modal :employee="employee" choose-button-text="Prenota" @change="reserv"></employee-modal>
    </div>
</template>
<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import employeeService from './../api/EmployeesService'
  import employeeModal from './modules/EmployeesModal.vue'
  import { StarRating } from 'vue-rate-it'
  import vueSimpleSpinner from 'vue-simple-spinner'

  export default {
    name: 'employees',
    data () {
      return {
        cleaners: [],
        filter: {
          gender: 'all',
          languages: []
        },
        employee: {
          avatar: '',
          can_home: 0,
          can_office: 0,
          countRecommendation: 7,
          countSuccessfullyCleanings: 0,
          languages: ['English', 'Italian'],
          name: 'Nora Rice',
          rating: {
            avgRating: '2.2857'
          },
          reviews: {
            languages: []
          }
        },
        sort_type: -1,
        languages: []
      }
    },
    methods: {
      reserv (employee) {
        this.$router.push({name: 'Reservation', params: { cleaner_id: employee.id }})
      },
      setGender (gender) {
        this.filter.gender = gender
        this.sendFilter()
      },
      setLang (lang) {
        if (this.filter.languages.indexOf(lang) === -1) {
          this.filter.languages.push(lang)
        } else {
          this.filter.languages.splice(this.filter.languages.indexOf(lang), 1)
        }
        this.sendFilter()
      },
      setEmployee (cleaner) {
        this.employee = cleaner
      },
      sendFilter () {
        employeeService.sendFilter(this.filter).then((response) => {
          this.cleaners = response.data.data
        })
      },
      sortRate () {
        this.cleaners.sort((elem, val) => {
          if (parseFloat(elem.rating.avgRating) >= parseFloat(val.rating.avgRating)) {
            return -1
          }
          return 1
        })
      },
      sortCount () {
        this.cleaners.sort((elem, val) => {
          if (elem.countSuccessfullyCleanings >= val.countSuccessfullyCleanings) {
            return -1
          }
          return 1
        })
      }
    },
    mounted () {
      employeeService.getData().then((response) => {
        this.cleaners = response.data.data
      })
      employeeService.getLanguages().then((response) => {
        this.languages = response.data
      })
    },
    components: {
      vueSimpleSpinner,
      StarRating,
      employeeModal,
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    }
  }
</script>
<style scoped lang="sass">
    @import "../assets/css/more-styles.css"
    @import "../assets/css/filter-sort.css"
    @import "../assets/css/star-rating.css"
</style>
