<template>
    <main>
        <header-menu></header-menu>
        <div class="jumbotron faq-intro">
            <div class="container">
                <div class="row">
                    <h1>DOMANDE FREQUENTI﻿</h1>
                    <div class="col-sm-3 faq-intro-icon-wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve">
                        <path style="fill:#00aeff;" d="M496.158,248.085c0-137.022-111.069-248.082-248.075-248.082C111.07,0.003,0,111.063,0,248.085
    c0,137.001,111.07,248.07,248.083,248.07C385.089,496.155,496.158,385.086,496.158,248.085z" />
                        <path style="fill:#FFFFFF;" d="M138.216,173.592c0-13.915,4.467-28.015,13.403-42.297c8.933-14.282,21.973-26.11,39.111-35.486
    c17.139-9.373,37.134-14.062,59.985-14.062c21.238,0,39.99,3.921,56.25,11.755c16.26,7.838,28.818,18.495,37.683,31.97
    c8.861,13.479,13.293,28.125,13.293,43.945c0,12.452-2.527,23.367-7.581,32.739c-5.054,9.376-11.062,17.469-18.018,24.279
    c-6.959,6.812-19.446,18.275-37.463,34.388c-4.981,4.542-8.975,8.535-11.975,11.976c-3.004,3.443-5.239,6.592-6.702,9.447
    c-1.466,2.857-2.603,5.713-3.406,8.57c-0.807,2.855-2.015,7.875-3.625,15.051c-2.784,15.236-11.501,22.852-26.147,22.852
    c-7.618,0-14.028-2.489-19.226-7.471c-5.201-4.979-7.8-12.377-7.8-22.192c0-12.305,1.902-22.962,5.713-31.97
    c3.808-9.01,8.861-16.92,15.161-23.73c6.296-6.812,14.794-14.904,25.488-24.28c9.373-8.202,16.15-14.392,20.325-18.567
    c4.175-4.175,7.69-8.823,10.547-13.953c2.856-5.126,4.285-10.691,4.285-16.699c0-11.718-4.36-21.605-13.074-29.663
    c-8.717-8.054-19.961-12.085-33.728-12.085c-16.116,0-27.981,4.065-35.596,12.195c-7.618,8.13-14.062,20.105-19.336,35.925
    c-4.981,16.555-14.43,24.829-28.345,24.829c-8.206,0-15.127-2.891-20.764-8.679C141.035,186.593,138.216,180.331,138.216,173.592z
     M245.442,414.412c-8.937,0-16.737-2.895-23.401-8.68c-6.667-5.784-9.998-13.877-9.998-24.279c0-9.229,3.22-16.991,9.668-23.291
    c6.444-6.297,14.354-9.448,23.73-9.448c9.229,0,16.991,3.151,23.291,9.448c6.296,6.3,9.448,14.062,9.448,23.291
    c0,10.255-3.296,18.312-9.888,24.17C261.7,411.481,254.084,414.412,245.442,414.412z" />
                    </svg>
                    </div>
                    <div class="col-sm-9">
                        <p>Affidabili, responsabili, impeccabili.
Semplicemente Spotless.
</p>
                        <p>Il nostro obiettivo principale è offrire un servizio di qualità. Ed ogni giorno facciamo del nostro meglio per raggiungerlo, formando ed aggiornando i nostri addetti, i veri professionisti in settore di pulizie domestiche.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container faq-page">
            <div class="row">
                <div class="col-md-3 scrollspy">
                    <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
                        <li v-for="category of data"><a @click="goTo(category.title)">{{ category.title }}</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <section v-for="(category, index) of data" :id="category.title">
                        <h2><span class="fa fa-edit"></span>{{ category.title }}</h2>
                        <div class="panel-group" :id="'#accordion' + (index + 1)">
                            <div class="panel panel-default" v-for="(question, indexC) of category.question">
                                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                     :data-parent="'#accordion' + (index + 1)" :data-target="'#id' + (question.id + question.category_id.toString())">
                                    <h4 class="panel-title">{{ question.title }}<i class="more-less glyphicon glyphicon-plus"></i>
                                    </h4>
                                </div>
                                <div :id="'id'+ (question.id + question.category_id.toString())" class="panel-collapse collapse">
                                    <div class="panel-body" v-html="question.answer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--end of #web-design-->
                </div>
            </div>
            <!--end of .row-->
        </div>
        <div class="jumbotron">
            <p>Hai altre domande?</p>
            <router-link class="blue-btn" :to="{name: 'ContactUs'}">Contattaci</router-link>
        </div>
        <footer-menu></footer-menu>
    </main>
</template>
<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import $ from 'jquery'
  import faqService from './../api/FAQService'

  export default {
    name: 'faq',
    data () {
      return {
        data: {}
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    methods: {
      toggleIcon (e) {
        $(e.target)
          .prev('.panel-heading')
          .find('.more-less')
          .toggleClass('glyphicon-plus glyphicon-minus')
      },
      goTo (id) {
        document.getElementById(id).scrollIntoView()
      }
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 0 + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('#nav').affix({
        offset: {
          top: 255,
          bottom: ($('footer').outerHeight(true) + $('.application').outerHeight(true)) + 40
        }
      })
      $('.panel-group').on('hidden.bs.collapse', this.toggleIcon)
      $('.panel-group').on('shown.bs.collapse', this.toggleIcon)

      faqService.getFAQData().then((response) => {
        this.data = response.data
      })
    },
    beforeCreate () {
    }
  }
</script>
<style scoped lang="sass">
    @import "../assets/css/more-styles.css"
</style>
