<template>
    <div class="aboutUs">
        <header-menu></header-menu>
        <div id="content">
            <main>
                <div class="container">
                    <h3 align="justify">
                        <strong>Payment info</strong>
                    </h3>
                    <p v-if="$route.params.status == 'ok'">
                        Il pagamento è stato effettuato con successo!
                    </p>
                    <p v-else="">
                        Il pagamento non è stato accettato.
                    </p>
                </div>
            </main>
        </div>
        <footer-menu></footer-menu>
    </div>
</template>
<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  export default {
    name: 'GestPayResponsePage',
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    }
  }
</script>
