<template>
    <div class="home">
        <div id="wrapper">
            <headerMenu></headerMenu>
            <main>
                <div id="content" @mouseup="mouseDown = false">
                    <h1 v-text="title" class="home-text"></h1>
                    <main-search v-if="!isCleaner" v-show="ready && !mouseDown"></main-search>

                    <main-slider @mousedown="mouseDown = true" @mouseup="mouseDown = false"></main-slider>

                    <section class="section-second">
                        <div class="container">
                            <div class="title">
                                <h2>4 step facili per usare il nostro servizio</h2>
                                <div class="title-line"></div>
                            </div>
                            <div class="steps steps-first-row col-xs-12">
                                <div class="steps-elem elem1 col-xs-12 col-sm-6"
                                     v-for="contentStep of content.contentSteps">
                                    <img :src="contentStep.icon">
                                    <div class="text">
                                        <h3>{{ contentStep.description }}</h3>
                                        <p>{{ contentStep.text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-third">
                        <div class="container">
                            <div class="title text-center">
                                <h2>Perché scegliere noi</h2>
                                <div class="title-line"></div>
                            </div>
                            <div class="advantages text-center">
                                <div class="advantages-elem margin" v-for="additionalStep of content.additionalSteps">
                                    <img :src="additionalStep.icon">
                                    <div class="text">
                                        <h3>{{ additionalStep.text }}</h3>
                                        <p>{{ additionalStep.short_text }}</p>
                                    </div>
                                    <div class="advantages-elem-hover">
                                        <div class="title"><h3>{{ additionalStep.title }}</h3></div>
                                        <p>{{ additionalStep.short_title }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="fourth-section">
                        <div class="container fourth-section-elem" v-for="contentBtn of content.contentButton">
                            <h2>{{ contentBtn.title }}</h2>
                            <label>{{ contentBtn.text }}</label>
                            <a>
                                <router-link :to="{name: 'ContactUs'}">
                                    <button class="btn btn-default" type="button">Contattaci</button>
                                </router-link>
                            </a>
                        </div>
                    </section>
                    <section class="fifth-section">
                        <div class="container">
                            <div class="title">
                                <h2>Perché diventare un partner?</h2>
                                <div class="title-line"></div>
                            </div>
                            <div class="pluses">
                                <div class="pluses-elem" v-for="contentPartner of content.contentPartners">
                                    <div class="image"><img :src="contentPartner.icon"></div>
                                    <label>{{ contentPartner.title }}</label>
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn btn-default" type="button"
                                        @click="$router.push({name: 'newEmployee'})">Continua
                                </button>
                            </div>
                        </div>
                        <div class="modal modal-cleaner fade" id="table-warning-meters" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content size">
                                    <div class="modal-header modal-header-price">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Avvertimento</h4>
                                    </div>
                                    <div class="modal-body text-center square-options">
                                        <table class="table-responsive table">
                                            Si prega di inserire i contatori
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal modal-cleaner fade" id="table-warning-date" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content size">
                                    <div class="modal-header modal-header-price">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Avvertimento</h4>
                                    </div>
                                    <div class="modal-body text-center square-options">
                                        <table class="table-responsive table">
                                            Inserisci la data
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                  <section class="sp-blog sp-bg-white-smoke">

            <blog :main-page="true"></blog>
                  </section>

                    <div class="comments container">
                      <p>Commenti</p>
                      <div class="comment clearfix" v-for="comment in comments">
                        <img :src="host_url + comment.avatar" class="user" alt="">
                        <div class="content">
                          <div class="user">
              <span class="user-name">
                  {{comment.name}}
              </span>
                            <span class="stars" v-for="star in comment.stars">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="16px" viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"> <polygon style="fill:#FAC917;" points="213.333,10.441 279.249,144.017 426.667,165.436 320,269.41 345.173,416.226 213.333,346.91 81.485,416.226 106.667,269.41 0,165.436 147.409,144.017 "/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
              </span>
                          </div>

                          <p class="user-comment">{{comment.text}}</p>
                        </div>
                      </div>
                    </div>

                </div>
            </main>
        </div>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import $ from 'jquery'
  import tabs from '../assets/js/tabs'
  import MainSlider from './menu/MainSlider'
  import MainSearch from './home/MainSearch'
  import eventMove from '../assets/js/jquery.event.move'
  import dataToogle from '../assets/js/data-toogle'
  import VueTimepicker from '../../node_modules/vue2-timepicker/src/vue-timepicker.vue'
  import axios from 'axios'
  import _ from 'lodash'
  import Blog from './Blog'
  import {host} from '../config'

  export default {
    name: 'home',
    data () {
      return {
        ready: false,
        mouseDown: false,
        value1: '',
        code: null,
        result: null,
        host_url:host + '/upload/',
      }
    },
    mounted () {
      if(this.$router.currentRoute.query.token && this.$router.currentRoute.query.expires_in){
        this.$auth.setToken(this.$router.currentRoute.query.token, this.$router.currentRoute.query.expires_in + Date.now())
        this.$store.dispatch('getCurrentUser')
        this.$router.push({name:'Home'})
      }
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 0 + 'px'
          }, 'fast')
          return this
        }
      })($)
      this.$store.dispatch('setLoginErrors', null)
      setTimeout(this.setReady, 800)
      this.$store.dispatch('resetOrder')

      //localStorage.setItem('Home', true)
    },
    computed: {
      title () {
        return this.textContents !== undefined ? this.textContents.home_text : ''
      },
      textContents () {
        return this.$store.getters.getContent.textContents
      },
      comments(){
        return this.$store.getters.getContent.reviews
      },
      flatMeters () {
        return this.$store.getters.getFlatMeters
      },
      officeMeters () {
        return this.$store.getters.getOfficeMeters
      },
      flatPrice () {
        return this.$store.getters.getFlatPrice + ' €'
      },
      officePrice () {
        return this.$store.getters.getOfficePrice + ' €'
      },
      flatHours () {
        return this.$store.getters.getFlatHours
      },
      officeHours () {
        return this.$store.getters.getOfficeHours
      },
      cities () {
        return this.$store.getters.allCities
      },
      currentCityId () {
        return this.$store.getters.getCurrentCityId
      },
      meters () {
        return this.$store.getters.getMeters
      },
      hours () {
        return this.$store.getters.getHours
      },
      price () {
        return this.$store.getters.getPrice
      },
      realtyTypes () {
        return this.$store.getters.getRealtyTypes
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
      allRealtyTypesPriceHoursMeters () {
        return this.$store.getters.getAllRealtyTypesPriceHoursMeters
      },
      content () {
        return this.$store.getters.getContent
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      isCleaner (){
         if(this.user)
         return  this.user.role === "cleaner" ? true : false
         else
         return null
      }
    },
    methods: {
      setRealtyTypeId (realtyTypeId) {
        this.$store.dispatch('setRealtyTypeId', realtyTypeId)
        if (realtyTypeId === 1) {
          this.$store.dispatch('setImagesData', {
            firstImage: require('./../assets/images/flat/Wedding_10.jpg'),
            secondImage: require('./../assets/images/flat/Wedding_16.jpg')
          })
        }
        if (realtyTypeId === 2) {
          this.$store.dispatch('setImagesData', {
            firstImage: require('./../assets/images/office/Wedding_25.jpg'),
            secondImage: require('./../assets/images/office/Wedding_30.jpg')
          })
        }
      },
      setReady () {
        $('html').goTo()
        this.ready = true
      },
      chooseTime (time) {
        this.$store.dispatch('setOrderTime', time)
        if (this.flatMeters || this.officeMeters) {
          let meters = this.flatMeters || this.officeMeters
          console.log()
          this.$store.dispatch('setPriceFromMeters', {
            meters: meters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
          //  date: this.$store.getters.getOrderDate,
         //   time: this.$store.getters.getOrderTime
          })
        } else if (this.flatHours || this.officeHours) {
          let hours = this.flatHours || this.officeHours
          this.$store.dispatch('setPriceFromHours', {
            hours: hours,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
          //  time: this.$store.getters.getOrderTime
          })
        }
      },
      chooseDate (event) {
        this.$store.dispatch('setOrderDate', event.target.value)
        if (this.flatMeters || this.officeMeters) {
          let meters = this.flatMeters || this.officeMeters
          this.$store.dispatch('setPriceFromMeters', {
            meters: meters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
          // date: this.$store.getters.getOrderDate,
          //  time: this.$store.getters.getOrderTime
          })
        } else if (this.flatHours || this.officeHours) {
          let hours = this.flatHours || this.officeHours
          this.$store.dispatch('setPriceFromHours', {
            hours: hours,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
            date: this.$store.getters.getOrderDate,
            time: this.$store.getters.getOrderTime
          })
        }
      },
      selectCityId (cityId) {
        this.$store.dispatch('setCurrentCityId', cityId)
      },
      metersFlatKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setFlatMeters', event.target.value)

        let hoursFlatInput = document.querySelector('#hoursFlat')
        if (hoursFlatInput) {
          hoursFlatInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatHours', 0)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromMeters', {
          meters: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
        //  date: this.$store.getters.getOrderDate,
       //   time: this.$store.getters.getOrderTime
        })
      }, 300),
      metersOfficeKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setOfficeMeters', event.target.value)

        let hoursOfficeInput = document.querySelector('#hoursOffice')
        if (hoursOfficeInput) {
          if (event.target.value.length === 0) {
            this.$store.dispatch('setOfficeHours', 0)
            this.$store.dispatch('setOfficePrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromMeters', {
          meters: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
        //  date: this.$store.getters.getOrderDate,
       //   time: this.$store.getters.getOrderTime
        })
      }, 300),
      hoursFlatKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setFlatHours', event.target.value)

        let metersFlatInput = document.querySelector('#metersFlat')
        if (metersFlatInput) {
          metersFlatInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatMeters', 0)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromHours', {
          hours: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
          date: this.$store.getters.getOrderDate,
          time: this.$store.getters.getOrderTime
        })
      }, 300),
      hoursOfficeKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setOfficeHours', event.target.value)

        let metersOfficeInput = document.querySelector('#metersOffice')
        if (metersOfficeInput) {
          metersOfficeInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setOfficeMeters', 0)
            this.$store.dispatch('setOfficePrice', 0)
          }
        }

        this.$store.dispatch('setPriceFromHours', {
          hours: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
          date: this.$store.getters.getOrderDate,
          time: this.$store.getters.getOrderTime
        })
      }, 300),
      accept () {
        let meters = this.$store.getters.getMeters
        let orderDate = this.$store.getters.getOrderDate
        if (meters === 0) {
          $('#table-warning-meters').modal('show')
        }
        if (orderDate === null) {
          $('#table-warning-date').modal('show')
        }
        if (this.$store.getters.getRealtyTypeId === 1) {
          this.$store.dispatch('setPrice', this.$store.getters.getFlatPrice)
          this.$store.dispatch('setHours', this.$store.getters.getFlatHours)
        }
        if (this.$store.getters.getRealtyTypeId === 2) {
          this.$store.dispatch('setPrice', this.$store.getters.getOfficePrice)
          this.$store.dispatch('setHours', this.$store.getters.getOfficeHours)
        }
        if (this.$store.getters.getRealtyTypeId === 1) {
          this.$store.dispatch('setPrice', this.$store.getters.getFlatPrice)
          this.$store.dispatch('setHours', this.$store.getters.getFlatHours)
        }
        if (this.$store.getters.getRealtyTypeId === 2) {
          this.$store.dispatch('setPrice', this.$store.getters.getOfficePrice)
          this.$store.dispatch('setHours', this.$store.getters.getOfficeHours)
        }
        if (meters !== 0 && orderDate !== null) {
          if (this.price) {
            this.$router.push({name: 'ServicesList'})
          }
        }
      },
      resetFlatMeters () {
        this.$store.dispatch('setFlatMeters')
        this.$store.dispatch('setFlatHours')
        this.$store.dispatch('setFlatPrice', 0)
      },
      resetOfficeMeters () {
        this.$store.dispatch('setOfficeMeters')
        this.$store.dispatch('setOfficeHours')
        this.$store.dispatch('setOfficePrice', 0)
      },
      resetFlatHours () {
        this.$store.dispatch('setFlatHours')
        this.$store.dispatch('setFlatMeters')
        this.$store.dispatch('setFlatPrice', 0)
      },
      resetOfficeHours () {
        this.$store.dispatch('setOfficeHours')
        this.$store.dispatch('setOfficeMeters')
        this.$store.dispatch('setOfficePrice', 0)
      },
      setFlatMeters (event) {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatMeters', 0)
        } else {
          this.metersFlatKeyUp(event)
        }
      },
      setOfficeMeters (event) {
        if (!this.officeMeters) {
          this.$store.dispatch('setOfficeMeters', 0)
        } else {
          this.metersOfficeKeyUp(event)
        }
      },
      setFlatHours (event) {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatHours', 0)
        } else {
          this.hoursFlatKeyUp(event)
        }
      },
      setOfficeHours (event) {
        if (!this.officeMeters) {
          this.$store.dispatch('setOfficeHours', 0)
        } else {
          this.hoursOfficeKeyUp(event)
        }
      }
    },
    components: {
      VueTimepicker,
      'mainSlider': MainSlider,
      'mainSearch': MainSearch,
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
      'Blog': Blog
    },
    beforeCreate () {

      eventMove()
      dataToogle()
      let subscription = localStorage.getItem('subscription')
      if (subscription !== null) {
        localStorage.removeItem('subscription')
      }
      this.$store.dispatch('setFlatHours', 0)
      this.$store.dispatch('setFlatMeters', 0)
      this.$store.dispatch('setFlatPrice', 0)
      this.$store.dispatch('setOfficeHours', 0)
      this.$store.dispatch('setOfficeMeters', 0)
      this.$store.dispatch('setOfficePrice', 0)
      this.$store.dispatch('setRealtyTypeId', 1)
      this.$store.dispatch('setIsCouponActive', false)
      this.$store.dispatch('setBuySubscription', false)
      this.$store.dispatch('setCheckedAddSubServicesObj', {})
      this.$store.dispatch('setCheckedAddSubServices', null)
      this.$store.dispatch('setSubscription', null)
      this.$store.dispatch('removeClearKit')
      localStorage.setItem('requiredSubscriptions', null)
      localStorage.setItem('requiredServicesList', null)
      localStorage.setItem('requiredInsurances', null)
      this.$store.dispatch('getCities', () => {
        tabs()
      })
      this.$store.dispatch('getRealtyTypes')
      this.$store.dispatch('setAllRealtyTypesPriceHoursMeters')
      this.$store.dispatch('getContent')
      localStorage.setItem('isRegisterStep', null)
      this.$store.dispatch('setImagesData', {
        firstImage: require('./../assets/images/flat/Wedding_16.jpg'),
        secondImage: require('./../assets/images/flat/Wedding_10.jpg')
      })
    }
  }
</script>
<style scoped >
  .home-text{
    z-index: 1;
    position: absolute;
    top: calc(100vh - 450px);
    left: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translate(-50%,-50%);
  }
</style>
<style scoped lang="sass">
    @import '../../node_modules/element-ui/lib/theme-chalk/index.css'
    @import "../assets/css/eltimepicker.css"
</style>
