<template>
  <div class="miscalculation">
    <header-menu></header-menu>
    <section class="sp-bg-white">
      <div class="container">
        <h2 class="sp-title sp-mt-60 sp-mb-40 text-center">Richiedi un preventivo</h2>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 sp-mb-60">
            <form>
              <div class="form-group"  v-if="!user">
                <input type="text" v-model="email" class="form-control sp-form-control" id="email" placeholder="Inserisci la tua email">
              </div>
              <div class="form-group" style="position: relative;">
                <input type="text" v-model="zipcode" class="form-control sp-form-control"   id="exampleAddress" placeholder="Inserisci il tuo indirizzo">
                <span style="
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    transform: translateY(-50%);
                    color:#ccc;
                " v-text="postCodes[zipcode]">
                </span>
              </div>
              <div class="form-group">
                <textarea class="form-control sp-form-control" v-model="text" rows="3" placeholder="Сommento"></textarea>
              </div>
              <div class="form-group sp-mb-30">
                <p style="color:#000;font-size: 12px;">Aggiungi foto o video per aiutarci a capire l'entità del lavoro</p>
                <label class="sp-link sp-color-green sp-file-input">
                  Aggiungi allegato
                  <input @change="handleFileChange($event)" type="file" hidden>

                  <span v-if="file_name">
                    ({{file_name}})
                  </span>
                </label>
              </div>
              <button type="button" @click="send()" class="btn btn-block sp-btn sp-btn-dark-blue text-uppercase">INVIA</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer-menu></footer-menu>
  </div>

</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import userService from '../api/userService'

  export default {
    name: 'Miscalculation',
    data(){
      return {
          email: null,
          zipcode: null,
          text: null,
          file: {},
          file_name: '',
         // postCodes: []
      }
    },
    mounted(){

    },
    computed:{
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      postCodes(){
        var postCodes =  this.$store.getters.getContent.postCodes || null
        //debugger
        if(!postCodes){
          this.$store.dispatch('getContent').then((responce)=>{
            // debugger
            // console.log(responce)
            // console.log(this.$store.getters.getContent)
            postCodes =  this.$store.getters.getContent.postCodes
          })

        }
        return  postCodes
      },

    },
    methods:{
      send(){
        let formdata = new FormData();
        if(this.user){
          formdata.append('email',this.user.email);
        }
        else{
          formdata.append('email',this.email);
        }
        formdata.append('zipcode',this.zipcode);
        formdata.append('text',this.text);
        formdata.append('file',this.file);
        userService.miscalculation(formdata).then((response)=>{
          if(response.data ===true){
            this.$router.push({name:'MainServiceList'})
          }
        })
      },
      handleFileChange(evt) {
        this.file = evt.target.files[0];
        this.file_name = evt.target.files[0].name;
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
    },
  }
</script>

<style scoped>
.miscalculation{
  margin-top: 20px;
}
</style>
