<template>
  <div class="personalArea">
    <div id="wrapper">
      <header-menu></header-menu>
      <main>

        <div id="content" class="bookings-page">
          <div class="content-header">
            <div v-if="user">
              <p>ciao,
                <span class="user-name" v-if="user.name">{{ user.name }}</span>
                <span class="user-name" v-if="!user.name">{{ user.firm_name }}</span>
              </p>
            </div>
          </div>

          <div class="container" v-if="roleUser === 'client'">
            <div class="booking-list-wrapper">
              <div v-if="roleUser === 'client'" class="additional-booking-services-wrapper">
                <div class="row">
                  <div class="col-sm-3">
                    <button class="btn btn-default btn-booking-blue" v-if="user" @click="editUser()">
                      MODIFICA PROFILO
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <subscribe-component :is-personal-area="true"></subscribe-component>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-default btn-booking-green" v-if="user" @click="editUserAddress()">
                      MODIFICA INDIRIZZO
                    </button>
                  </div>
                  <div class="col-sm-3">

                    <button style="border-right: 1px solid black;"
                            :class="expiration ? ['btn','btn-default','btn-booking-blue','subscription-button'] :  ['btn','btn-default','btn-booking-blue','non-active-subscription','subscription-button']"
                            v-if="user"
                            :disabled="!expiration"
                            @click="renewSubscription()">
                                            <span>
                                               Rinnova abbonamento
                                            </span>
                    </button>
                    <button
                      :class="expiration ? ['btn','btn-default','btn-booking-blue','subscription-button'] :  ['btn','btn-default','btn-booking-blue','non-active-subscription','subscription-button']"
                      v-if="user"
                      :disabled="!expiration"
                      @click="deleteSubscription()">
                                            <span>
                                                Rifiuta abbonamento
                                            </span>
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button @click="showReviews" class="btn btn-default btn-booking-green" v-if="user">
                      Scrivi una recensione
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <fb-signin-button
                      v-if="!user.facebook_id"
                      class="btn btn-block fb-signin-button"
                      :params="fbSignInParams"
                      @success="onSignInSuccess"
                      @error="onSignInError">
                      Connetti a Facebook
                    </fb-signin-button>
                  </div>
                  <div class="col-sm-3">
                    <a  v-if="!user.instagram_id" class="btn btn-block insta-signin-button"
                      href="https://api.instagram.com/oauth/authorize/?client_id=258c779fac96403abfe70d51a69b36de&redirect_uri=https://backend.spotlessitalia.com/api/instagram&response_type=code&hl=ru">
                      Connetti a Instagram
                    </a>
                  </div>
                  <div class="col-sm-3" v-if="!user.google_id">
                    <button class="btn btn-block google-button" @click="signIn">Connetti a Google</button>

                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <a target="_blank" :href="`${host}/servizi.pdf`" class="btn btn-default btn-booking-blue"
                       v-if="user" @click="">
                      Elenco detersivi e accessori<br>
                      necessari per la pulizia
                    </a>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-default btn-booking-green" v-if="user" @click="show_archive = !show_archive">
                      CRONOLOGIA ORDINI
                    </button>
                  </div>
                </div>
              </div>

              <table v-if="!show_archive && orders.length > 0" class="booking-list-table table-responsive">
                <thead>
                <tr>
                  <th>Status</th>
                  <th>Data</th>
                  <th>Ora</th>
                  <th>Recensione</th>
                  <th>Addetto</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order of orders">
                  <td @click="showOrderDetails(order)">
                    <p>{{ order.status }}</p>
                  </td>
                  <td @click="showOrderDetails(order)">
                    <p >{{orderDate(order.clean_format_date)}}</p>

                  </td>
                  <td @click="showOrderDetails(order)">
                    <p>{{ order.clean_format_time }}</p>
                  </td>
                  <td @click="showOrderDetails(order)">
                    <p>
                      {{ order.comment }}
                    </p>
                  </td>
                  <td v-if="order.cleaner" @click="showOrderDetails(order)">
                    {{ order.cleaner.name }}
                  </td>
                  <td v-if="!order.cleaner" @click="showOrderDetails(order)">
                    Non cleaner
                  </td>
                  <td data-toggle="tooltip" title="modifica prenotazione">
                    <a @click="editOrder(order)">
                      <img src="../assets/images/edit-pen-icon.png" alt="edit-pen-icon">
                    </a>
                  </td>
                  <td class="same-cleaning-td" data-toggle="tooltip" title="crea la stessa pulizia">
                    <a @click="modalDublicateOrder(order)">
                      <img src="../assets/images/save-your-edit-icon.png" alt="save-your-edit-icon">
                    </a>
                    <span class="same-cleaning-icon"
                          title="Cliccando qui si può effettuare una prenotazione uguale a quella precedente, aggiornando data e ora">i</span>
                  </td>
                  <td data-toggle="tooltip" title="fattura">
                    <a @click="getInvoice(order.id)">
                      <img src="../assets/images/icons/price.png" alt="save-your-edit-icon">
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <!--<div v-else-if="orders.length === 0">Non hai nessun ordine attuale</div>-->
              <table v-if="show_archive && archive_orders && archive_orders.length > 0"
                     class="booking-list-table table-responsive">
                <caption class="big-text">Storico ordini</caption>
                <thead>
                <tr>
                  <th>Status</th>
                  <th>Data</th>
                  <th>Ora</th>
                  <th>Recensione</th>
                  <th>Addetto</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order of archive_orders">
                  <td @click="showOrderDetails(order)">
                    {{ order.status }}
                  </td>
                  <td @click="showOrderDetails(order)">
                    {{ orderDate(order.clean_format_date) }}
                  </td>
                  <td @click="showOrderDetails(order)">
                    {{ order.clean_format_time }}
                  </td>
                  <td @click="showOrderDetails(order)">
                    <p>
                      {{ order.comment }}
                    </p>
                  </td>
                  <td v-if="order.cleaner" @click="showOrderDetails(order)">
                    {{ order.cleaner.name }}
                  </td>
                  <td v-if="!order.cleaner" @click="showOrderDetails(order)">
                    Non cleaner
                  </td>
                  <td @click="modalDublicateOrder(order)">
                    <a>
                      <img src="../assets/images/save-your-edit-icon.png" alt="save-your-edit-icon">
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div v-else-if="archive_orders.length === 0 && !show_archive && orders.length === 0" class="big-text">
                                    <span>
                                       In questo momento non hai ORDINI ATTIVI
                                    </span>
              </div>
              <div v-if="show_archive && archive_orders.length === 0 "  class="big-text" >Al momento non hai ancora effettuato un ordine
              </div>
            </div>
          </div>
          <div class="container" v-if="roleUser === 'cleaner'">
            <div class="booking-list-wrapper">
              <div v-if="roleUser == 'cleaner'" class="additional-booking-services-wrapper">
                <div class="row">
                  <div class="col-sm-3">
                    <button :class="isShowCleanerOrders? 'active' : ''" @click="showCleanerOrders"
                            class="btn btn-default btn-booking-blue" v-if="user">
                      I MIEI ORDINI
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button :class="showOrders? 'active' : ''" @click="showOrders = true; isShowCleanerOrders = false"
                            class="btn btn-default btn-booking-blue" v-if="user">
                      Ordini
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button @click="showCleanerDates" class="btn btn-default btn-booking-green" v-if="user">
                      Orario
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button @click="showSuccessedOrders" class="btn btn-default btn-booking-blue" v-if="user">
                      Archivio ordini
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <button @click="showReviews()" class="btn btn-default btn-booking-green" v-if="user">
                      Recensioni
                    </button>
                  </div>
                </div>
              </div>
              <div v-show="isShowCleanerOrders">
                <table class="booking-list-table table-responsive">
                  <thead>
                  <tr>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Recensione</th>
                    <th>Metri</th>
                    <th>Ore</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="order of cleanerOrders" v-if="order.cleaner !== null">
                    <td data-th="Status">
                      <a v-if="order.status === 'annullato'">
                      </a>
                      <a v-if="order.status === 'processo'">
                        <button @click="changeStatus(order.id, 'canceled')" class="btn btn-danger" aria-hidden="true">
                          Cancel
                        </button>
                        <button @click="changeStatus(order.id, 'successed')" class="btn btn-success" aria-hidden="true">
                          Ok
                        </button>
                      </a>
                      <a v-if="order.status === 'accettato'">
                        <button @click="changeStatus(order.id, 'canceled')" class="btn btn-danger" aria-hidden="true">
                          Cancel
                        </button>
                      </a>
                      {{ order.status }}
                    </td>
                    <td data-th="Data" @click="showOrderDetails(order)">{{ orderDate(order.clean_format_date) }}</td>
                    <td data-th="Ora" @click="showOrderDetails(order)">{{ order.clean_format_time }}</td>
                    <td data-th="Recensione" @click="showOrderDetails(order)">
                      <p>
                        {{ order.comment }}
                      </p>
                    </td>
                    <td data-th="Metri" @click="showOrderDetails(order)">
                      {{ order.meters }}
                    </td>
                    <td data-th="Ore" @click="showOrderDetails(order)">
                      {{ order.hours }}
                    </td>
                  </tr>
                  </tbody>
                  <div class="modal fade" id="table-accept" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content size">
                        <div class="modal-header modal-header-price">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Recensione</h4>
                        </div>
                        <div class="modal-body text-center square-options">
                          <table class="table-responsive table table-bordered">
                            <h3>Perfetto, Il tuo ordine è cambiato !</h3>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </table>
              </div>
            </div>
          </div>
          <div class="container" v-if="roleUser === 'cleaner'">
            <div class="booking-list-wrapper" v-show="showOrders">
              <h1>Ordini gratuiti</h1>
              <table class="booking-list-table table-responsive">
                <thead>
                <tr>
                  <th>Data</th>
                  <th>Ora</th>
                  <th>Recensione</th>
                  <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order of orders" v-if="order.cleaner === null">
                  <td @click="showOrderDetails(order)">
                    {{ orderDate(order.clean_format_date) }}
                  </td>
                  <td @click="showOrderDetails(order)">
                    {{ order.clean_format_time }}
                  </td>
                  <td @click="showOrderDetails(order)">
                    <p>
                      {{ order.comment }}
                    </p>
                  </td>
                  <td>
                    <a>
                      <button class="btn btn-success" aria-hidden="true" @click="acceptOrder(order.id)">Prendi un
                        ordine
                      </button>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="modal fade" id="modal-show-reviews" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensioni</h4>
          </div>
          <div class="modal-body text-center square-options">
            <button v-if="roleUser !== 'cleaner'" @click="createReview()" type="button"
                    class="btn btn-default btn-booking-green review-button">Crea recensione
            </button>
            <table class="table-responsive table table-bordered table-bordered-price modal-show-reviews-table">
              <thead>
              <tr>
                <th class="text-center">
                  Nome utente
                </th>
                <th class="text-center">
                  Nome pulitore
                </th>
                <th class="text-center">
                  Commento
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item of reviews">
                <td>
                  {{ item.user }}
                </td>
                <td>
                  {{ item.cleaner }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-create-order" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <div class="container">
              <div class="row">
                <div class="col-md-6" :class="{'has-error': errors.cleaner_id}">
                  <label>Seleziona lo spotless cleaner che ha svolto il servizio</label>
                  <select class="form-control" title="type" v-if="cleaners"
                          @change="selectCleaner">
                    <option value=""></option>
                    <option rel="icon-temperature" v-for="($index, cleaner) of cleaners">
                      {{ cleaner }}
                    </option>
                  </select>
                  <div class="alert alert-danger" v-for="err of errors.cleaner_id">
                    {{ err }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Scrivi una recensione</label>
                  <br>
                  <div :class="{'has-error': errors.text}">
                    <textarea class="form-control" rows="4" cols="50" v-model="reviewText"></textarea>
                    <div class="alert alert-danger" v-for="err of errors.text">
                      {{ err }}
                    </div>
                  </div>
                  <br>
                  <star-rating v-model="rating"></star-rating>
                  <div class="alert alert-danger" v-for="err of errors.rating">
                    {{ err }}
                  </div>
                  <br>
                  <div class="text-center">
                    <input id="option1" type="checkbox" name="field" value="option" v-model="recommend">
                    <label class="checkbox-label" for="option1"><span></span>Consiglieresti questo spotless cleaner?</label>
                  </div>
                  <br>
                  <button class="btn btn-success" @click="sendReview">Inviare</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-header-dates" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table v-if="availableDates.length > 0" class="table-responsive table table-bordered table-bordered-price">
              <tr v-for="item of availableDates">
                <th>
                  {{ item.clean_format_date }}
                </th>
                <td>
                  Data: {{item.date.split(' ')[0] }}
                </td>
                <td>
                  Tempo di inizio: {{ item.time_start }}
                </td>
                <td>
                  Fine del tempo: {{ item.time_end}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-successed-orders" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table class="table-responsive table table-bordered table-bordered-price">
              <tr v-for="item of succesedOrders">
                <td>
                  Data: {{ item.clean_format_date }}
                </td>
                <td>
                  Durata: {{ item.hours }}
                </td>
                <td>
                  Metri {{ item.meters }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="table-accept-change" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table class="table-responsive table table-bordered">
              <h3>Perfetto, Il tuo ordine è cambiato !</h3>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="table-accept-order" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table class="table-responsive table table-bordered">
              <h3>Bene, hai preso l'ordine !</h3>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="table-order-details" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Dettagli dell'ordine</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table class="table-responsive table table-bordered table-bordered-price" v-if="this.choosen_order">
              <tr>
                <th>DATA</th>
                <td>
                  {{ choosen_order.clean_format_date }}
                </td>
              </tr>
              <tr>
                <th>ORA DI INIZIO</th>
                <td>
                                    <span v-if="choosen_order.clean_format_time">
                                        {{ choosen_order.clean_format_time }}
                                    </span>
                </td>
              </tr>
              <tr>
                <th>METRI</th>
                <td>
                  {{ choosen_order.meters }}
                </td>
              </tr>
              <tr>
                <th>ORE</th>
                <td>
                  {{ choosen_order.hours }}
                </td>
              </tr>
              <tr>
                <th>EXTRA SERVIZI</th>
                <td>
                  <ul>
                    <li v-for="add_service of choosen_order.add_services">
                      {{ add_service.title }}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>SUPERFICIE</th>
                <td>
                  <ul>
                    <li v-for="add_surface of choosen_order.add_surfaces">
                      {{ add_surface.title }}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>PERSONE ANZIANE, ANIMALI, BAMBINI</th>
                <td>
                  <ul>
                    <li v-for="condition of orderViewModel.conditions" v-if="choosen_order.sub_conditions.find((item) => {
                                          return item.id === condition.id
                                        })">
                      {{ condition.title }}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>DETERSIVI</th>
                <td>
                                    <span v-if="choosen_order.buy_clear_kit">
                                        Yes
                                    </span>
                  <span v-else="">
                                        No
                                    </span>
                </td>
              </tr>
              <tr>
                <th>ASSICURAZIONE</th>
                <td>
                                    <span v-if="choosen_order.insurances">
                                        <ul>
                                            <li v-for="insurence of choosen_order.insurances">
                                                {{ insurence.title }}
                                            </li>
                                        </ul>
                                    </span>
                  <span v-else="">
                                        No
                                    </span>
                </td>
              </tr>
              <tr>
                <th>ADDETTO ALLE PULIZIE</th>
                <td>
                                    <span v-if="choosen_order.cleaner">
                                        {{ choosen_order.cleaner.name }}
                                    </span>
                  <span v-else="">
                                        No
                                    </span>
                </td>
              </tr>
              <tr>
                <th>COMMENTO</th>
                <td>
                  {{ choosen_order.comment }}
                </td>
              </tr>
              <tr>
                <th>INDIRIZZO</th>
                <td>
                                    <span v-if="choosen_order.address">
                                        <span>{{ choosen_order.address }}</span>
                                        <span v-for="item of provinces">
                                            <span
                                              v-if="choosen_order.address.province_id === item.id">{{ item.title }}</span>
                                        </span>
                                        <br>
                                        {{ choosen_order.address.address }}&nbsp;{{ choosen_order.address.house_number }}
                                        <br>
                                        {{ choosen_order.address.domofon}}&nbsp;{{ choosen_order.address.domofon_text }}
                                        <br>
                                    </span>
                </td>
              </tr>
              <tr>
                <th>TIPO DI PULIZIA</th>
                <td>
                  <p>{{ choosen_order.realty_type }}</p>
                </td>
              </tr>
              <tr>
                <th>DOVE LASCI LE CHIAVI</th>
                <td>
                  <p>{{ choosen_order.secret_place }}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-edit-user" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Gestisci le informazioni del tuo Account</h4>
          </div>
          <div class="modal-body text-center square-options">
            <edit-user-info></edit-user-info>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-edit-user-address" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body text-center square-options">
            <edit-user-address></edit-user-address>
          </div>
        </div>
      </div>
    </div>
    <edit-order></edit-order>
    <div class="modal fade" id="modal-duplicate-order" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Crea la stessa pulizia</h4>
          </div>
          <div class="modal-body text-center square-options">
            <form action="" @submit="dublicateOrder">
            <date-step :is-copy="true" class="text-left"></date-step>
              <button id="editBtnId" type="submit" class="btn btn-default">Salva</button>
            </form>
            <!--<form action="" @submit="dublicateOrder">-->
              <!--<div class="data-time-elem">-->
                <!--<input placeholder="Data"-->
                       <!--type="date"-->
                       <!--v-model="clean_format_date">-->
                <!--<p v-if="dublicateErrors.date" class="alert alert-danger">{{ dublicateErrors.date[0] }}</p>-->
              <!--</div>-->

              <!--<div class="data-time-elem data-time-elem1">-->
                <!--<input id="HouseFlatId"-->
                       <!--placeholder="ORARI"-->
                       <!--type="time"-->
                       <!--min="06:00:00" max="21:00:00"-->
                       <!--v-model="clean_format_time">-->
                <!--<p v-if="dublicateErrors.time" class="alert alert-danger">{{ dublicateErrors.time[0] }}</p>-->
              <!--</div>-->
              <!--<div style="margin-top: 15px">-->
                <!--<button id="editBtnId" type="submit" class="btn btn-default">Salva</button>-->
              <!--</div>-->

            <!--</form>-->
          </div>
        </div>
      </div>
    </div>
    <footer-menu></footer-menu>
  </div>
</template>

<script>
  import $ from 'jquery'
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import orderService from '../api/orderService'
  import userService from '../api/userService'
  import moment from 'moment'
  import EditUserInfo from './modules/EditUserInfo'
  import EditOrder from './modules/EditOrder'
  import EditUserAddress from './modules/EditUserAddress'
  import {host} from '../config'
  import {StarRating} from 'vue-rate-it'
  import SubscribeComponent from './SubscribeComponent'
  import FBSignInButton from 'vue-facebook-signin-button'
  import GoogleAuth from 'vue-google-auth'
  import Vue from 'vue'
  import DateStep from './Steps/DateStep'

  export default {
    name: 'personalArea',
    components: {
      EditUserAddress,
      EditOrder,
      EditUserInfo,
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
      StarRating,
      SubscribeComponent,
      DateStep
    },
    data () {
      return {
        host,
        show_archive: false,
        archive_orders: [],
        dublicate_id: 0,
        clean_format_date: null,
        clean_format_time: null,
        isShowCleanerOrders: true,
        showOrders: false,
        choosen_order: null,
        succesedOrders: [],
        cleaners: [],
        reviewText: '',
        choosenCleanerId: null,
        reviews: [],
        dublicateErrors: [],
        rating: 0,
        recommend: false,
        errors: {},
        expiration: null
      }
    },
    computed: {
      user () {
        if (!this.$store.getters.getUser) {
          return null
        }
        return this.$store.getters.getUser
      },
      roleUser () {
        return this.user && this.user.role ? this.user.role : ''
      },
      availableDates () {
        return this.user && this.user.availableDates ? this.user.availableDates : []
      },
      orders () {
        return this.$store.getters.getOrders
      },
      cleanerOrders () {
        return this.$store.getters.getCleanerOrders
      },
      provinces () {
        return this.$store.getters.allProvinces
      },
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      getOrderCopy(){
        return this.$store.getters.getOrderCopy
      },
    },
    beforeCreate () {
//      eventMove()
      this.$store.dispatch('getCurrentUser')
      this.$store.dispatch('getOrders')
//      datePicker()
      userService.getUserCleaners()
        .then(response => {
          this.cleaners = response.data
        })
    },
    mounted: function () {
      if(this.$router.currentRoute.query.token){
        userService.setInstagramId(this.$router.currentRoute.query.token).then(response =>
        {
          console.log(response.data)
        })
      }

      orderService.getHistory().then(response => {
        this.archive_orders = response.data.data
//        dateTransform()
      })
      orderService.getExpirationSubscription().then(response => {
        if (response.data === 'success') {
          this.expiration = true
        } else {
          this.expiration = false
        }
      })

      if (!this.provinces) {
        this.$store.dispatch('getProvinces', () => {
        })
      }
//      this.$router.push({name: 'PersonalArea'})
    },
    methods: {
      orderDate(date){
        return moment(date,'DD.MM.YYYY').format('DD/MM/YYYY')
      },
      editUser () {
        $('#modal-edit-user').modal('show')
      },
      editUserAddress () {
        $('#modal-edit-user-address').modal('show')
      },
      editOrder (order) {
        if (order.cleaner) {
          order = Object.assign(order, {cleaner_id: order.cleaner.id})
        }
        this.$store.dispatch('setFormOrder', order)
        $('#modal-edit-order').modal('show')
      },
      modalDublicateOrder (order) {
        this.dublicate_id = order.id
        this.$store.dispatch('setFlatHours',order.hours)
        $('#modal-duplicate-order').modal('show')
      },
      dublicateOrder (event) {
        event.preventDefault()
        let copyOrderDate = this.getOrderCopy
        if(!copyOrderDate) return
        orderService.dublicateOrder(this.dublicate_id, {
            date: copyOrderDate.date,
            time: copyOrderDate.time,
            cleaner:this.$store.getters.getSelectedCleaner
          })
          .then(respose => {
            let order = respose.data.data
            order.price = Math.round(respose.data.data.price * 100) / 100
            order.date = this.clean_format_date
            order.time = this.clean_format_time
            order.addSubServices = order.add_services
            order.subConditions = order.sub_conditions
            order.surfaces = order.add_surfaces
            $('#modal-duplicate-order').modal('hide')
            this.$store.dispatch('setEditedOrder', {
              base_order: 'copy',
              changed_order: order
            })
            this.$router.push({
              name: 'AddPay'
            })
          })
          .catch(errors => {
            this.dublicateErrors = errors.response.data
          })
      },
      renewSubscription () {

        orderService.getPriceSubscription().then(response => {
          this.$store.dispatch('setRealtyTypeId', 1)
          this.$store.dispatch('setFlatPrice', response.data.subscription.price)
          this.$store.dispatch('setFlatMeters', response.data.meters)
          this.$store.dispatch('setDirectPayment', true)
          this.$router.push({name: 'Payment'})
        })

      },
      deleteSubscription () {
        orderService.deleteSubscription().then(response => {
          console.log(response.data)
        })
      },
      showReviews () {
        userService.getReviews(this.$store.getters.getUser.id)
          .then(response => {
            this.reviews = response.data.data
            $('#modal-show-reviews').modal('show')
          })
      },
      sendReview () {
        userService.createReview(this.cleanerId, this.reviewText, this.rating, this.recommend)
          .then(response => {
            $('#modal-create-order').modal('hide')
          }, (errors) => {
            console.log(errors.response)
            this.errors = errors.response.data
          })
      },
      selectCleaner (event) {
        let name = event.target.value
        for (let cleaner in this.cleaners) {
          if (cleaner === name) {
            this.cleanerId = this.cleaners[cleaner]
          }
        }
      },
      createReview () {
        $('#modal-show-reviews').modal('hide')
        $('#modal-create-order').modal('show')
      },
      showSuccessedOrders () {
        let cleaner = this.$store.getters.getUser
        orderService.getOrdersByStatus(cleaner.id, 'successed')
          .then(response => {
            this.succesedOrders = response.data.data
            $('#modal-successed-orders').modal('show')
          })
      },
      showOrderDetails (order) {
        this.choosen_order = order
        console.log(this.choosen_order)
        $('#table-order-details').modal('show')
      },
      showCleanerOrders () {
        this.isShowCleanerOrders = true
        this.showOrders = false
      },
      showCleanerDates () {
        $('#modal-header-dates').modal('show')
      },
      changeStatus (orderId, status) {
        orderService.changeStatus(orderId, status).then(res => {
          $('#table-accept-change').modal('show')
          this.$store.dispatch('getOrders')
        })
      },
      acceptOrder (orderId) {
        orderService.acceptOrder(orderId, this.$store.getters.getUser.id)
          .then(() => {
            $('#table-accept-order').modal('show')
            this.$store.dispatch('getOrders')
          })
      },
      getInvoice (id) {
        orderService.getInvoice(id).then((response) => {
          document.write(response.data)
        })
      },
      onSignInSuccess (response) {
        FB.api('/me?fields=email,name,first_name,middle_name,last_name,short_name', response => {
          //this.user = response
          if (response.id) {
            userService.setFacebookId(response.id).then(responce => {
              console.log(responce)
              window.location.reload();
            })
          }
        })
      },
      onSignInError (error) {
        console.log('OH NOES', error)
      },
      signIn: function () {
        Vue.googleAuth().directAccess()
        Vue.googleAuth().signIn(function (googleUser) {
          var first = Object.keys(googleUser)
          console.log(first)
          console.log(googleUser[first[0]])
          userService.setGoogleId(googleUser[first[0]]).then(response =>{
            window.location.reload();
          })
        }, function (error) {
          // things to do when sign-in fails
        })
      },
    }
  }
</script>

<style scoped lang="sass">
  @import "../assets/css/more-styles.css"
  @import "../assets/css/service.css"
  @import "../assets/css/flatpickr.min.css"
</style>
<style>
  .fb-signin-button {
    padding: 18px;
    border-radius: 0;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .fb-signin-button:hover {
    color: #fff
  }
  .insta-signin-button{
    padding: 18px;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .additional-booking-services-wrapper .insta-signin-button:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    border:none;
  }
  .additional-booking-services-wrapper  .google-button{
    color: #000;
    background: #fff;
    cursor: pointer;
    border:2px solid #00aeff;
  }
</style>
