<template>
    <div class="aboutUs">
        <header-menu></header-menu>
        <div id="content">
            <main>
                <div class="container">
                    <h3 align="justify">
                        <strong>INFORMATIVA SULLA PRIVACY</strong>
                    </h3>
                    <p align="justify">
                        Sany Group S.r.l, proprietaria del marchio Spotless (“Spotless”), che opera
                        attraverso il sito    <a href="http://www.spotlessitalia.com/">www.spotlessitalia.com</a>
                        rispetta le norme sulla privacy e si impegna fortemente a fornire la
                        trasparenza delle sue pratiche sulla privacy e sul controllo dei dati
                        forniti relativi al Servizio offerto (come definito nelle
                        <router-link to="conditions">
                            Condizioni di Utilizzo
                        </router-link>
                        ). Il presente documento (“Informativa sulla Privacy”) riguarda il
                        trattamento da parte di Spotless dei dati raccolti da coloro che utilizzano
                        il servizio, in occasione della sottoscrizione del servizio e nel corso
                        dell’esecuzione dello stesso.
                    </p>
                    <p align="justify">
                        <strong>1. Finalità del trattamento</strong>
                    </p>
                    <p align="justify">
                        Il trattamento che intendiamo effettuare ha le seguenti finalità:
                    </p>
                    <ul>
                        <li>
                            <p align="justify">
                                esecuzione di obblighi che derivano dalle Condizioni di Utilizzo
                                e/o dalla erogazione dei servizi accessori e/o connessi a tali
                                contratti. In tali casi, La informiamo ai sensi dell'articolo 24
                                del Decreto Legislativo n. 163/2006 che l'acquisizione del Suo
                                consenso non è richiesta se il trattamento è necessario per
                                eseguire obblighi derivanti da un contratto, mentre, in fase di
                                negoziazione, non è altresì obbligatorio acquisire il consenso se
                                il trattamento è necessario per adempiere - prima della conclusione
                                del contratto - a Sue specifiche richieste;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                erogazione dei servizi richiesti dall’Utente con la registrazione
                                sul sito internet e la creazione del proprio account e profilo
                                inclusa la raccolta, la elaborazione e la conservazione dei dati ai
                                fini dell'instaurazione e della successiva gestione operativa,
                                tecnica ed amministrativa del rapporto (e dell'account e profilo
                                creato dal Cliente) connesso all'erogazione dei servizi e
                                all’effettuazione di comunicazioni relative allo svolgimento dei
                                servizi;
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p align="justify">
                                adempimento di obblighi legali, contabili, fiscali, amministrativi
                                e contrattuali connessi all’erogazione dei servizi richiesti;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                gestione dei rapporti con autorità ed enti pubblici terzi per
                                finalità connesse a particolari richieste, all'adempimento di
                                obblighi di legge;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                predisposizione di misure finalizzate alla tutela contro il rischio
                                di credito, incluse le attività finalizzate ad identificare il
                                cliente e la sua affidabilità economica/solvibilità, anche nel
                                corso del rapporto contrattuale;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                predisposizione di iniziative collegate al rapporto contrattuale ed
                                atte al miglioramento dei servizi forniti, come ad esempio
                                l'eventuale svolgimento di sondaggi per ottenere suggerimenti da
                                parte dei clienti;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                predisposizione di iniziative commerciali, promozionali,
                                pubblicitarie e di marketing. In tali casi, la prestazione del Suo
                                consenso - separato e specifico - è del tutto facoltativa e
                                l'eventuale rifiuto non comporterà conseguenze circa l’esecuzione
                                del rapporto contrattuale.
                            </p>
                        </li>
                    </ul>
                    <p align="justify">
                        <strong>2. Modalità del trattamento</strong>
                    </p>
                    <p align="justify">
                        I Suoi dati personali raccolti sul sito internet    <a href="http://www.spotlessitalia.com/">www.spotlessitalia.com</a> di
                        proprietà di Sany Group srl, saranno prevalentemente trattati con strumenti
                        elettronici predisposti per garantire la massima sicurezza e
                        confidenzialità. Può tuttavia accadere che i dati così raccolti siano
                        comunque trattati in modalità manuale e senza l'ausilio di strumenti
                        elettronici.
                    </p>
                    <p align="justify">
                        I dati personali acquisiti formeranno un oggetto di trattamento, nel pieno
                        rispetto delle norme di legge, nonché dei principi di, correttezza,
                        leicità, trasparenza, non eccedenza e tutela della Sua riservatezza e dei
                        Suoi diritti, con il fine esclusivo di adempiere agli obblighi di legge e/o
                        contrattuali derivanti dalla instaurazione del rapporto contrattuale e/o
                        alla corretta esecuzione delle relative prestazioni.
                    </p>
                    <p align="justify">
                        I dati potranno altresì essere trattati nel caso in cui si renda necessario
                        far valere o difendere in sede giudiziaria un diritto di Spotless.
                    </p>
                    <p align="justify">
                        <strong>
                            3. Facoltatività od obbligatorietà del consenso a fornire dati
                            personali / conseguenze del rifiuto
                        </strong>
                    </p>
                    <p align="justify">
                        L’Utente è libero di fornire i dati personali di volta in volta richiesti
                        da Spotless nel corso della prenotazione, ma il loro mancato conferimento
                        può comportare l’impossibilità di fornire i servizi richiesti.
                    </p>
                    <p align="justify">
                        Nel caso Lei decida di non prestare il consenso alle operazioni di
                        trattamento a fini commerciali e promozionali, quando richiesto in
                        particolari sezioni del sito internet, tale rifiuto non avrà conseguenze di
                        alcun tipo.
                    </p>
                    <p align="justify">
                        <strong>4.</strong>
                        <strong>
                            Categorie di soggetti cui i dati personali possono essere comunicati
                        </strong>
                    </p>
                    <p align="justify">
                        <strong>4.1.</strong>
                        Con riferimento all'ambito di comunicazione dei Suoi dati, La informiamo
                        che le informazioni rilasciate potranno essere comunicate ai seguenti
                        soggetti o categorie di soggetti:
                    </p>
                    <ul>
                        <li>
                            <p align="justify">
                                forze di polizia, forze armate ed altre amministrazioni pubbliche,
                                per l'adempimento di obblighi previsti dalla legge, da regolamenti
                                o dalla normativa comunitaria. In tali ipotesi, l’articolo 24 del
                                Codice esclude l’obbligo di acquisire il previo consenso
                                dell’interessato a dette comunicazioni;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                società, enti o associazioni, ovvero società controllanti,
                                controllate o collegate ai sensi dell'articolo 2359 del codice
                                civile, ovvero tra queste e società sottoposte a comune controllo,
                                nonché tra consorzi, reti di imprese e raggruppamenti e
                                associazioni temporanee di imprese e con i soggetti ad essi
                                aderenti, limitatamente alle comunicazioni effettuate per finalità
                                amministrative e/o contabili;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                società specializzate nel recupero crediti;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                società specializzate nella gestione di informazioni commerciali o
                                relative al credito, ovvero di promozione pubblicitaria;
                            </p>
                        </li>
                        <li>
                            <p align="justify">
                                prestatori di lavoro ed eventuali altri soggetti necessari per
                                consentire l’esecuzione dei servizi.
                            </p>
                        </li>
                    </ul>
                    <p align="justify">
                        <strong>4.2.</strong>
                        I dati personali raccolti e conservati nei database di Spotless saranno
                        processati dagli impiegati e/o collaboratori del Titolare del Trattamento
                        (come infra definito) ovvero dalle persone incaricate di processare tali
                        dati (responsabili del trattamento); tali dati non saranno comunicati a
                        terzi, salvo quanto sopra previsto e, in ogni caso, nei limiti ivi
                        indicati.
                    </p>
                    <ol start="4">
                        <ol start="3">
                            <p align="justify">
                                <strong>4.3.</strong>
                                Spotless si riserva di incaricare parti terze per l’elaborazione
                                dei dati personali per proprio conto e - di conseguenza – potrà
                                condividere i dati personali con tali parti terze. Tuttavia,
                                Spotless richiederà a tali parti terze di osservare i principi e la
                                politica sulla privacy del sito Spotless durante l'elaborazione dei
                                suddetti dati. Infine, i Suoi dati personali non saranno oggetto di
                                diffusione, se non nei casi previsti dalla legge.
                            </p>
                            <p align="justify">
                                <strong>
                                    5. Sicurezza dei dati personali che riguardano l’Utente
                                </strong>
                            </p>
                        </ol>
                    </ol>
                    <p align="justify">
                        <strong>5.1.</strong>
                        I dati personali dell'account dell'utente su Spotless sono protetti da una
                        password necessaria per privacy e sicurezza. L’utente deve impedire
                        l'accesso non autorizzato al suo account ed alle informazioni personali
                        scegliendo e proteggendo la sua password in modo sicuro e appropriato, e
                        limitando l'accesso al suo computer e al suo browser scollegandolo dopo
                        aver terminato l'accesso all'account. Spotless fa tutto il possibile per
                        salvaguardare le informazioni dell'utente e per garantire che le
                        informazioni sull'account dell'utente siano mantenute riservate. Tuttavia,
                        Spotless non può garantire la sicurezza delle informazioni degli account
                        utente. L'accesso o l'uso non autorizzato, i guasti hardware o software, e
                        di altri fattori, possono compromettere la sicurezza delle informazioni
                        dell'utente.
                    </p>
                    <p align="justify">
                        <strong>5.2.</strong>
                        Il Servizio può contenere dei link ad altri siti. Spotless non è
                        responsabile per le norme e/o per le pratiche relative alla privacy in tali
                        siti. Quando l'utente accede attraverso un link ad un altro sito, deve
                        leggere l'informativa sulla privacy di tale sito. La presente Informativa
                        sulla Privacy regolamenta solo le informazioni raccolte su e da parte di
                        www.spotlessitalia.com.
                    </p>
                    <p align="justify">
                        <strong>5.3</strong>
                        I dati personali conferiti compilando il form presente sulla chat
                        installata nel sito saranno oggetto di trattamento unicamente per fornire
                        le informazioni richieste. I dati conferiti non saranno oggetto di
                        comunicazione a terzi o diffusione. In relazione al trattamento dei dati,
                        ai sensi dell’art. 7 del D.Lgs 30 giugno 2003 n. 196, Lei ha il diritto –
                        tra gli altri - di ottenere conferma circa l’esistenza e la cancellazione,
                        se trattati in violazione di legge. Per esercitare i Suoi diritti può
                        rivolgersi a Spotless scrivendo una mail a
                        <a href="mailto:servizioclienti@spotless.it">
                            servizioclienti@spotless.it
                        </a>
                    </p>
                    <p align="justify">
                        6. Rimozione delle informazioni relative all'account
                    </p>
                    <p align="justify">
                        Si ricorda che dopo aver rimosso le informazioni relative all’account
                        personale dell’Utente, delle copie di tali informazioni potrebbero rimanere
                        visibili altrove, nella misura in cui sono state condivise con altri, o
                        distribuite altrimenti in base alle impostazioni per la privacy utilizzate,
                        ovvero siano state copiate o memorizzate da altri utenti. In ogni caso, le
                        informazioni rimosse ed eliminate possono rimanere sui supporti di backup
                        per un massimo di 60 (sessanta) giorni prima di essere cancellate dai
                        server di Spotless.
                    </p>
                    <p>
                        <strong>7. Durata del trattamento e diritti dell’interessato</strong>
                    </p>
                    <p>
                        Il trattamento dei dati personali potrà avere una durata non superiore a
                        quella necessaria alle finalità per le quali i dati sono stati raccolti in
                        ottemperanza agli obblighi di natura civilistica, fiscale e tributaria
                        vigenti. Ai sensi dell’articolo 7 del Codice della Privacy, l’Utente ha il
                        pieno diritto di ottenere, in qualunque momento, la conferma dell’esistenza
                        dei dati che lo riguardano e delle finalità per cui vengono utilizzati. Ha
                        altresì il diritto di chiedere l’aggiornamento o la rettifica, la
                        cancellazione o il blocco dei dati e di opporsi, in tutto o in parte, al
                        loro trattamento. Per esercitare i diritti sopraindicati, nonché per
                        ricevere informazioni relative ai soggetti presso i quali i dati sono
                        archiviati o ai quali i dati vengono comunicati ovvero quei soggetti che,
                        in qualità di responsabili od incaricati, possono venire a conoscenza dei
                        suoi dati, l’Utente potrà rivolgersi a Spotless. L’art. 7. del d.lgs.
                        196/2003 dispone: Diritto di accesso ai dati personali ed altri diritti 1.
                        L’interessato ha diritto di ottenere la conferma dell’esistenza o meno di
                        dati personali che lo riguardano, anche se non ancora registrati, e la loro
                        comunicazione in forma intelligibile. 2. L’interessato ha diritto di
                        ottenere l’indicazione: a) dell’origine dei dati personali; b) delle
                        finalità e modalità del trattamento; c) della logica applicata in caso di
                        trattamento effettuato con l’ausilio di strumenti elettronici; d) degli
                        estremi identificativi del Titolare, dei responsabili e del rappresentante
                        designato ai sensi dell’articolo 5, comma 2; e) dei soggetti o delle
                        categorie di soggetti ai quali i dati personali possono essere comunicati o
                        che possono venirne a conoscenza in qualità di rappresentante designato nel
                        territorio dello Stato, di responsabili o incaricati. 3. L’interessato ha
                        diritto di ottenere: a) l’aggiornamento, la rettificazione ovvero, quando
                        vi ha interesse, l’integrazione dei dati; b) la cancellazione, la
                        trasformazione in forma anonima o il blocco dei dati trattati in violazione
                        di legge, compresi quelli di cui non è necessaria la conservazione in
                        relazione agli scopi per i quali i dati sono stati raccolti o
                        successivamente trattati; c) l’attestazione che le operazioni di cui alle
                        lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda
                        il loro contenuto, di coloro ai quali i dati sono stati comunicati o
                        diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o
                        comporta un impiego di mezzi manifestamente sproporzionato rispetto al
                        diritto tutelato. 4. L’interessato ha diritto di opporsi, in tutto o in
                        parte: a) per motivi legittimi al trattamento dei dati personali che lo
                        riguardano, oltre che pertinenti allo scopo della raccolta; b) al
                        trattamento di dati personali che lo riguardano a fini di invio di
                        materiale pubblicitario o di vendita diretta o per il compimento di
                        ricerche di mercato o di comunicazione commerciale.
                    </p>
                    <p align="justify">
                        <strong>8 Normativa per gli utenti</strong>
                    </p>
                    <p>
                        Nel momento in cui l’Utente prenota un servizio di pulizia sulla
                        piattaforma, Spotless memorizza i seguenti dati e informazioni sui servizi
                        commissionati in un profilo utente accessibile dall’Utente stesso: Nome,
                        cognome, indirizzo email, numero di telefono, indirizzo aggiuntivo, codice
                        postale, città, metodo di pagamento preferito, (di seguito collettivamente
                        denominati„Dati Profilo Utente“); Tipologia di servizio prenotato e servizi
                        aggiuntivi (come ad esempio la fornitura di detergenti, la pulizia di
                        vetri, forni, o il servizio di stiratura) e la durata temporale del
                        servizio prenotato; Informazioni se il servizio viene fornito una o più
                        volte (di seguito congiuntamente„Dati di Prenotazione“); Data di creazione
                        e aggiornamento di un profilo utente; Subito dopo aver completato la
                        prenotazione, su Spotless sono memorizzate le seguenti informazioni
                        opzionali se specificate dall’Utente (di seguito colletivamente
                        denominati„Informazioni aggiuntive“): Presenza di animali domestici in
                        casa, di bambini, di anziani, luogo di smaltimento di rifiuti,
                        disponibilità di parcheggio, vostre eventuali esigenze particolari (come le
                        aree con particolare priorità o le camere e le aree che dovrebbero essere
                        lasciati fuori nel contesto di erogazione del servizio), vostre indicazioni
                        per l’utilizzo di detersivi, tutte le informazioni su come i Partner
                        avranno accesso all’appartamento. Allo scopo di organizzare il servizio di
                        pulizia, Spotless trasmette i dati del profilo utente, i dati di
                        transazione e ulteriori informazioni ai Partner che in base alla loro
                        vicinanza al luogo di servizio e alla loro disponibilità potranno prendere
                        in considerazione la vostra richiesta per fornirvi il servizio a domicilio.
                        Se a seguito della mediazione da parte di Spotless si giunge alla
                        conclusione del contratto per il servizio di pulizia tra voi e il Partner
                        (si veda “Condizioni generali di fornitura di servizi di pulizia attraverso
                        www.spotlessitalia.com”) Spotless processa e utilizza i dati del profilo
                        utente nella misura necessaria per l’erogazione dei propri servizi e per il
                        servizio di fatturazione in nome e per conto del Partner dei servizi di
                        pulizia effettuati da quest´ultimo verso di voi.
                    </p>
                    <p>
                        <strong>9. Normativa per i Partner</strong>
                    </p>
                    <p>
                        Al momento dell’iscrizione sulla piattaforma come Partner, Spotless
                        raccoglie e elabora i seguenti dati al fine di avviare un accordo di
                        cooperazione per l’assegnazione ai Partner dei propri servizi di pulizia
                        domestici: Nome, cognome, indirizzo email, nome della società, via, codice
                        postale e città (di seguito collettivamente denominati„Informazioni Profilo
                        Partner“), informazioni sul possesso della partita IVA, se attualmente
                        impiegati e se o in che tipo e in che misura si possiede esperienza nel
                        settore della pulizia professionale, informazioni su mezzi di trasporto,
                        informazioni sull’esistenza di un permesso di lavoro, , conto bancario e
                        conoscenza della lingua italiana, le informazioni sulle zone da servire
                        preferite e la disponibilità oraria oltre ad informazioni di contatto
                        (telefono, cellulare abilitato per Internet, accesso a Internet) (di
                        seguito collettivamente „Informazioni Richiedente“) Spotless memorizza tali
                        dati in un profilo accessibile da parte del Partner. Se si elimina il
                        profilo Partner dalla piattaforma, Spotless escluderà i vostri dati da
                        ulteriori elaborazioni. Se un Utente decide di rilasciare una valutazione
                        del Partner per le prestazioni fornite, Spotless raccoglie, elabora e
                        utilizza questi dati ai fini della rappresentazione della valutazione sulla
                        piattaforma.
                    </p>
                    <p>
                        <strong>
                            10. Informazioni sulla privacy a tutti i visitatori della piattaforma
                        </strong>
                    </p>
                    <p>
                        Il Sito utilizza una tecnologia denominata “cookies”. Questi sono dei
                        piccoli file di dati che vengono memorizzati nel computer dell’Utente
                        quando accede ad un sito o a parti di questo. I cookies aiutano Spotless a
                        comprendere le preferenze commerciali degli utenti. Nel caso in cui
                        l’Utente non intenda accettare i cookies, questi possono essere
                        disabilitati seguendo le istruzioni del produttore del browser. Mozilla
                        Firefox: 1. Seleziona menu “Strumenti”, poi “Opzioni” 2. Clicca su
                        “Privacy” Microsoft Internet Explorer: 1. Seleziona “Strumenti”, poi
                        “Opzioni Internet” 2. Clicca su “Privacy” (o “Riservatezza”) 3. Scegli il
                        livello di privacy desiderato utilizzando il cursore. Chrome: 1. Seleziona
                        “Strumenti”, poi “Impostazioni” 2. Clicca su “Mostra impostazioni avanzate”
                        3. Nella sezione “Privacy”, clicca su “Impostazioni contenuti”. Opera: 1.
                        Seleziona “File”, poi “Preferenze” 2. Clicca su “Privacy”.
                    </p>
                    <p>
                        <strong>11. Variazioni a questa Informativa sulla Privacy</strong>
                    </p>
                    <p align="justify">
                        Quando necessario, in vista di variazioni e cambiamenti organizzativi del
                        servizio o delle modalità contrattuali relative al sito    <a href="http://www.spotlessitalia.com/">www.spotlessitalia.com</a>,
                        Spotless si autorizza a modificare la presente Informativa sulla Privacy.
                        Qualora vi dovessero essere delle variazioni alla informativa sulla privacy
                        di volta in volta in vigore, l'utente verrà informato a mezzo di messaggio
                        di posta elettronica indirizzato all’indirizzo inserito al momento
                        dell’iscrizione al Servizio, ovvero tramite nota pubblicata sul sito
                        internet www.spotlessitalia.com. L’utilizzo del Servizio a seguito della
                        modifica dell’Informativa sulla Privacy esprime piena ed incondizionata
                        accettazione da parte dell’Utente alle modifiche ivi apportate da parte di
                        Spotless.
                    </p>
                </div>
            </main>
        </div>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import $ from 'jquery'
  export default {
    name: 'privacy',
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 0 + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('body').goTo()
      $('.modal').modal('hide')
    }
  }
</script>
