<template>
    <div class="login">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="container">
                    <div class="setup-content">
                        <section class="third-tab">
                            <form>
                                <fieldset class="form-registration">
                                    <div class="form-inline form-group-first">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" title="password" v-model="password">
                                        </div>
                                        <div class="form-group">
                                            <label>Ripeti la password</label>
                                            <input type="password" title="password" v-model="password_repeat">
                                        </div>
                                    </div>
                                    <div class="button-registration">
                                        <div class="alert alert-danger text-center" v-show="errors">
                                            <strong>{{ errors }}</strong>
                                        </div>
                                        <button type="button" class="btn btn-default" @click="setPassword">Conferma</button>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
        <div class="modal fade" id="password" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content size">
                    <div class="modal-header modal-header-price">
                    </div>
                    <div class="modal-body text-center square-options">
                        <p>
                            La password è stata cambiata
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import userService from '../api/userService'
  import $ from 'jquery'

  export default {
    name: 'resetPassword',
    data () {
      return {
        password: null,
        password_repeat: null,
        errors: null
      }
    },
    methods: {
      setPassword (event) {
        event.preventDefault()
        if (this.password === this.password_repeat) {
          userService.setPassword({
            token: this.$route.params.token,
            password: this.password
          }).then(() => {
            $('#password').modal('show')
            $('#password').on('hidden.bs.modal', () => {
              this.$router.push({name: 'Login'})
            })
          }).catch((errors) => {
            this.errors = errors.response.data
          })
        } else {
          this.errors = 'le password devono essere uguali'
        }
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    }
  }
</script>
<style scoped lang="sass">
    @import "../assets/css/service.css"
    @import "../assets/css/step-registr.css"
</style>s
