<template>
    <div class="register">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="container">
                    <div class="setup-content" id="step-3">
                        <section class="third-tab">
                            <form>
                                <fieldset class="form-registration">
                                    <h2 class="registration-title">Rrenotazione utente</h2>
                                    <div >
                                        <div v-if="!user">
                                            <h2>Informazioni personali</h2>
                                            <div class="form-inline">
                                                <div v-if="user" class="form-group">
                                                    <label>Nome</label>
                                                    <input type="text" title="text" v-model="reservation.name">
                                                    <div class="alert alert-danger" v-for="err of errors.name">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Cognome</label>
                                                    <input type="text" title="text" v-model="reservation.surname">
                                                    <div class="alert alert-danger" v-for="err of errors.surname">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" title="text" v-model="reservation.email">
                                                    <div class="alert alert-danger" v-for="err of errors.email">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline third-row">
                                            <div class="form-group">
                                                <label>Data di pulizia</label>
                                                <div class="data-time-elem">
                                                     <input v-model="reservation.clean_date" class="flatpickr calendar flatpickr-input" type="date"
                                                            placeholder="Date"  required>
                                                    <span class="icon-arrow-after" tabindex="0"></span>
                                                    <div class="alert alert-danger" v-for="err of errors.clean_date">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="data-time-elem data-time-elem1">
                                                    <input class="flatpickr flatpickr-hour flatpickr-hour1 flatpickr-input"
                                                           type="text"
                                                           placeholder="ORARI" data-id="timePicker"
                                                           readonly="readonly" v-model="reservation.clean_time">
                                                    <span class="icon-arrow-after" tabindex="0"></span>
                                                    <div class="alert alert-danger" v-for="err of errors.clean_time">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lg-form-inline">
                                            <label>Indirizzo dell'ambiente da pulire</label>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-7 reg-info">
                                                    <input type="text" title="text" placeholder="Via"
                                                           v-model="reservation.address">
                                                    <div class="alert alert-danger" v-for="err of errors.address">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 reg-info">
                                                    <input type="text" title="text" class="form-group-elem"
                                                           placeholder="Numero civico" v-model="reservation.house_number">
                                                    <div class="alert alert-danger" v-for="err of errors.house_number">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Numero di telefono</label>
                                                <input type="text" title="text" v-model="reservation.phone">
                                                <div class="alert alert-danger" v-for="err of errors.phone">
                                                    {{ err }}
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-7 reg-info">
                                                    <label>Сittà</label>
                                                    <select class="form-control" title="type" v-if="cities"
                                                            v-model="reservation.city_id" required>
                                                        <option value="" disabled>Сittà</option>
                                                        <option rel="icon-temperature" v-for="city of cities"
                                                                :value="city.id">
                                                            {{ city.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.city_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 reg-info">
                                                    <label>Provincia</label>
                                                    <select class="form-control" title="type" v-if="provinces"
                                                            v-model="reservation.province_id">
                                                        <option value="" disabled selected>Provincia</option>
                                                        <option rel="icon-temperature" v-for="province of provinces"
                                                                :value="province.id">
                                                            {{ province.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.province_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-registration">
                                        <button id="registerBtnId" type="button" class="btn btn-default"
                                                @click="reserv">Rrenotazione
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
        <div class="modal fade" id="table-employer" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content size">
                    <div class="modal-header modal-header-price">
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">Recensione</h4>
                    </div>
                    <div class="modal-body text-center square-options">
                        <div class="confirmation-page">
                            <div class="confirmation-wrapper text-center">
                                <h1 class="sr-only">Confirmation</h1>
                                <img src="../assets/images/check.png" alt="check-icon" class="img-responsive">
                                <div class="title">
                                    <h2>Grazie! <br>Attendi la nostra conferma sulla Email</h2>
                                </div>
                                <img src="./../assets/images/envelop.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="table-reservation" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content size">
                    <div class="modal-header modal-header-price">
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">Recensione</h4>
                    </div>
                    <div class="modal-body text-center square-options">
                        <div class="confirmation-page">
                            <div class="confirmation-wrapper text-center">
                                <h1 class="sr-only">Confirmation</h1>
                                <img src="../assets/images/check.png" alt="check-icon" class="img-responsive">
                                <div class="title">
                                    <h2>Grazie! <br>Attendi la nostra conferma sulla Email</h2>
                                </div>
                                <img src="./../assets/images/envelop.png" alt="">
                            </div>
                        </div>
                        <!--<table class="table-responsive table table-bordered">-->
                        <!--<h3>La tua domanda è stata presentata con successo per la revisione</h3>-->
                        <!--</table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import datePicker from '../assets/js/data-picker'
  import reservationService from '../api/reservationService'
  import $ from 'jquery'

  export default {
    name: 'Reservation',
    data () {
      return {
        reservation: {
          name: null,
          surname: null,
          email: null,
          phone: null,
          address: null,
          house_number: null,
          city_id: '',
          province_id: '',
          clean_date: '',
          clean_time: '',
          cleaner_id: 0
        },
        errors: []
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    methods: {
      reserv () {
        this.reservation.cleaner_id = this.$route.params.cleaner_id
        if (this.user) {
          this.reservation.name = this.user.name
          this.reservation.surname = this.user.surname
          this.reservation.email = this.user.email
        }
        reservationService.reservation(this.reservation).then((response) => {
          if (response.data === 'success') {
            $('#table-reservation').modal('show')
            $('#table-reservation').on('hidden.bs.modal', () => {
              this.$router.push({name: 'Home'})
            })
          }
        }).catch(errors => {
          this.errors = errors.response.data
        })
      }
    },
    beforeCreate () {
      datePicker()
      if (!this.cities && !this.provinces) {
        this.$store.dispatch('getCities', () => {
        })
        this.$store.dispatch('getProvinces', () => {
        })
      }
    },
    computed: {
      cities () {
        return this.$store.getters.allCities
      },
      provinces () {
        return this.$store.getters.allProvinces
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      }
    }
  }
</script>
<style scoped lang="sass">
    @import "./../assets/css/service.css"
    @import "./../assets/css/flatpickr.min.css"
</style>
