<template>
    <div class="services">
      <header-menu></header-menu>
      <section class="section-step" v-if="!getDirectPayment">
        <div class="container">
          <div class="form-group step-form-group">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel" >
              <li class="active disabled">
                <a>
                  <label class="list-group-item-text">CAP</label>
                </a></li>
              <!--<li v-bind:class="{active: isActiveStep2 || step >= 2, disabled: !isActiveStep1 && step < 1 }">-->
                <!--<a @click="(isActiveStep2 || step >= 2)? $router.push({name: 'ServicesList'}) : null" :disabled="!isActiveStep1 && step >= 1">-->
                  <!--<label class="list-group-item-text">выбирает основную услугу</label>-->
                <!--</a></li>-->
              <li v-bind:class="{active: isActiveStep2 || step >= 2, disabled: !isActiveStep1 && step < 1 }">
                <a @click="(isActiveStep2 || step >= 2)? $router.push({name: 'MainServiceList'}) : null" :disabled="!isActiveStep1 && step < 1">
                  <label class="list-group-item-text">Scegli servizio <br> principale </label>
                </a></li>
              <li v-bind:class="{active: isActiveStep3 || step >= 3, disabled: !isActiveStep2 && step < 2}">
                <a :disabled="!isActiveStep2 && step < 2">
              <label class="list-group-item-text">Scegli servizio aggiuntivo  </label>
              </a></li>
              <li v-show="realtyTypeId === 1" v-bind:class="{active: isActiveStep4 || step >= 4, disabled: !isActiveStep4 && step < 3 }">
              <a @click="(isActiveStep3 || step >= 4)? $router.push({name: 'ServicesList'}) : null" :disabled="!isActiveStep4 && step >= 4">
              <label class="list-group-item-text">Abbonamento </label>
              </a></li>
              <li v-bind:class="{active: isActiveStep5 || step >= 5, disabled: !isActiveStep5 && step < 4 }">
                <a @click="(isActiveStep4 || step >= 5)? $router.push({name: 'ServicesList'}) : null" :disabled="!isActiveStep5 && step >= 5">
                  <label class="list-group-item-text">Data</label>
                </a></li>
              <!--<li v-bind:class="{active: isActiveStep3 || step >= 3, disabled: (!isActiveStep3 && step < 3) || user }">-->
                <!--<a @click="registrationClick" :disabled="!isActiveStep3 && step < 3 && !user">-->
                  <!--<label class="list-group-item-text"> выбирает абонемент</label>-->
                <!--</a></li>-->
              <!--<li v-bind:class="{active: isActiveStep5  || step >= 4, disabled: !isActiveStep5 && step < 5}">-->
                <!--<a @click="(isActiveStep5  || step >= 5)? $router.push({name: 'Payment'}) : null" :disabled="!isActiveStep5 && step < 5">-->
                  <!--<label class="list-group-item-text"> выбирает дату</label>-->
                <!--</a></li>-->
              <li v-if="!user" v-bind:class="{active: isActiveStep6  || step >= 6, disabled: !isActiveStep6 && step < 5}">
                <a>
                  <label class="list-group-item-text">Registrazione e Login</label>
                </a>
              </li>
              <li v-if="!user" v-bind:class="{active: isActiveStep7  || step >= 7, disabled: !isActiveStep7 && step < 6}">
                <a >
                  <label class="list-group-item-text">Pagamento</label>
                </a></li>
              <li v-if="user" v-bind:class="{active: isActiveStep6  || step >= 6, disabled: !isActiveStep6 && step < 5}">
                <a >
                  <label class="list-group-item-text">Pagamento</label>
                </a></li>
            </ul>
          </div>
        </div>

      </section>
      <router-view></router-view>
      <section class="sp-bg-light-blue sp-pt-40 sp-pb-60 text-center sp-support">
        <div class="container-fluid">
          <h2 class="sp-title sp-color-white sp-mb-30">Hai altre esigenze?</h2>
          <p class="sp-text sp-color-white sp-text__sm text-center sp-pb-20">Contattaci al <a href="tel:+393500602222" class="sp-link sp-link__green-light sp-text__sm">+393500602222</a> per un preventivo o per maggiori informazioni.</p>
          <div>
            <button type="button" @click="toMiscalculation()" class="btn sp-btn sp-btn-light-blue sp-btn-lg sp-btn-lg-rounded sp-w213 sp-mb-40">Richiedi un preventivo</button>
            <a href="tel:+393500602222" style="padding-top: 13px;" class="btn sp-btn sp-btn-light-blue sp-btn-lg sp-btn-lg-rounded sp-w213 sp-mb-40">Chiama il servizio clienti</a>
          </div>
          <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <p class="sp-text sp-color-white sp-text__sm text-left">Per richiedere un preventivo puoi compilare il form di richiesta preventivo, oppure per sapere quale servizio è più adatto alle tue esigenze puoi contattare il nostro servizio clienti attivo 24h, 7 giorni su 7 al numero <a href="tel:+393500602222" class="sp-link sp-link__white sp-text__sm">+393500602222</a> , nella live chat, oppure alla mail
                <a href="mailto:servizioclienti@spotlessitalia.com">servizioclienti@spotlessitalia.com</a>, Spotless ti fornira l'assistenza necessaria, fornendoti entro 48 ore la soluzione migliore.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-second">
        <div class="container">
          <div class="title">
            <h2>4 step facili per usare il nostro servizio</h2>
            <div class="title-line"></div>
          </div>
          <div class="steps steps-first-row col-xs-12">
            <div class="steps-elem elem1 col-xs-12 col-sm-6"
                 v-for="contentStep of content.contentSteps">
              <img :src="contentStep.icon">
              <div class="text">
                <h3>{{ contentStep.description }}</h3>
                <p>{{ contentStep.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="comments container">
        <p>Commenti</p>
        <div class="comment clearfix" v-for="comment in comments">
          <img :src="host_url + comment.avatar" class="user" alt="">
          <div class="content">
            <div class="user">
              <span class="user-name">
                  {{comment.name}}
              </span>
              <span class="stars" v-for="star in comment.stars">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="16px" viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"> <polygon style="fill:#FAC917;" points="213.333,10.441 279.249,144.017 426.667,165.436 320,269.41 345.173,416.226 213.333,346.91 81.485,416.226 106.667,269.41 0,165.436 147.409,144.017 "/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
              </span>
            </div>

            <p class="user-comment">{{comment.text}}</p>
          </div>
        </div>
      </div>
      <footer-menu></footer-menu>

    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import {host} from '../config'
  import realtyTypeService from '../api/realtyTypeService'
  export default {
    name: 'Services',
    data(){
      return {
        host_url : host + '/upload/',
      }
    },
    computed:{
      content () {
        return this.$store.getters.getContent
      },
      getDirectPayment(){
        return this.$store.getters.getDirectPayment
      },
      comments(){
        return this.$store.getters.getContent.reviews
      },
      step () {
        return this.$store.getters.getMaxStep
      },
      isActiveStep1 () {
        return this.$store.getters.getStep === 1
      },
      isActiveStep2 () {
        return this.$store.getters.getStep === 2
      },
      isActiveStep3 () {
        return this.$store.getters.getStep === 3
      },
      isActiveStep4 () {
        return this.$store.getters.getStep === 4
      },
      isActiveStep5 () {
        return this.$store.getters.getStep === 5
      },
      isActiveStep6(){
        return this.$store.getters.getStep === 6
      },
      isActiveStep7(){
        return this.$store.getters.getStep === 7
      },
      user () {
        return this.$store.getters.getUser
      },
      getStep(){
        return this.$store.getters.getStep
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
    },
    methods:{
      toMiscalculation(){
        this.$router.push({name:'Miscalculation'})
      },
      openModal(service){
        this.modal.show = true
        this.modal.service = service
        $('.btn.btn-primary').click();

      },
      registrationClick () {
        if (!this.user && (this.isActiveStep3 || this.step >= 3)) {
          this.$router.push({name: 'Registration'})
        }
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
    },
  }
</script>

<style scoped>
.comments>p{
  text-align: center;
}
.step-form-group{
  margin-top: 10%;
}
.step-form-group .nav{
  width: 100%;
}
/*.step-form-group .nav li{*/
  /*width: 175px;*/
/*}*/
.nav>li>a{
  padding: 0;
}
.step-form-group .nav label{
  padding-top: 10px;
  padding-left: 10px;
}

</style>
