<template>
    <div class="subscriptions">
        <header-menu></header-menu>
        <main>
            <div id="content" class="subscription-page">
                <div class="content-header">
                  <div class="title">
                    <h2>abbonamenti</h2>
                  </div>
                </div>
                <div v-if="user" class="container">
                    <p v-if="user.subscription_id"  class="big-text">
                        SCEGLI IL TUO ABBONAMENTO
                    </p>
                    <p style="text-align: center; font-size: 18px">
                        Gentile utente, scegliendo l'abbonamento potrai selezionare con autonomia l'ora
                        e il giorno in cui desideri fissare periodicamente e in modo continuo il servizio.
                        Qualora ne avessi la necessità, nella tua area privata nella sezione "Gestione abbonamenti",
                        cliccando sulla matita a destra, puoi modificare la data, l'orario, il numero delle ore,
                        l'addetto, e tutti i dettagli riguardanti il tuo abbonamento, di volta in volta almeno 48
                        ore prima di ogni prenotazione.
                    </p>
                    <div class="subscription-wrapper">
                            <div class="subscription-card" v-bind:class="{active_subscription: user.subscription_id == subscription.id }" v-for="subscription of subscriptions">
                                <h2>{{ subscription.title }}</h2>
                                <p>tariffa oraria</p>
                                <p class="subscription-price">{{ subscription.price.toFixed(2) }}€</p>
                                <ul class="list-unstyled">
                                    <li v-for="addService of subscription.addServices">
                                        {{ addService.title }} <span>+ 1 ora</span>
                                    </li>
                                    <li v-for="item of subscription.additional_list">
                                        {{ item }}
                                    </li>
                                </ul>
                                <img src="../assets/images/subscription-img.png" alt="subscription-img"
                                     class="img-responsive">

                                <button data-toggle="modal" data-target="#table-calc" @click="chooseSubscription(subscription)" type="button" class="btn btn-default">Scegli</button>
                            </div>
                            <div class="modal fade" id="table-calc" role="dialog">
                                <div class="modal-dialog">
                                        <div class="modal-body text-center square-options">
                                            <div class="first-section">
                                                <div class="container1">
                                                    <div class="first-section-elem tabs">
                                                        <ul class="tabs-list">
                                                            <li @click="setRealtyTypeId($store.getters.getRealtyTypes[1].id)">
                                                                Case
                                                            </li>
                                                            <li @click="setRealtyTypeId($store.getters.getRealtyTypes[0].id)">
                                                                Business
                                                            </li>
                                                        </ul>
                                                        <div class="tabs-elements">
                                                            <div class="first-tab-content tab-content">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label class="form-title">Dove si trova la casa da pulire?</label>
                                                                        <select class="form-control" title="type" v-if="cities" @change="selectCityId(city.id)">
                                                                            <option rel="icon-temperature" v-for="city of cities">
                                                                                {{ city.title }}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group form-group-second">
                                                                        <div class="data-time-elem">
                                                                            <input id="flatDateIdSub" class="flatpickr calendar flatpickr-input" type="text"
                                                                                   placeholder="Data" data-min-date="today" @change="chooseDate">
                                                                            <span class="calendar-icon" tabindex="0"></span>
                                                                            <span class="icon-arrow-after" tabindex="0"></span>
                                                                        </div>
                                                                        <div class="data-time-elem data-time-elem1">
                                                                            <el-time-select
                                                                                    @change="chooseTime"
                                                                                    size="small"
                                                                                    v-model="value1"
                                                                                    :clearable="false"
                                                                                    :picker-options="{
                                                                                      start: '06:00',
                                                                                      step: '00:30',
                                                                                      end: '23:00'
                                                                                    }"
                                                                                    placeholder="ORARI"  style="width:100%;"
                                                                            ></el-time-select>
                                                                            <span class="icon-arrow-after" tabindex="0"></span>
                                                                        </div>
                                                                        <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                                               id="metersFlatSub"
                                                                               @keyup="metersFlatKeyUp"
                                                                               @focus="resetFlatMeters"
                                                                               v-model="flatMeters"
                                                                               type="text"
                                                                               @blur="setFlatMeters"
                                                                               title="text"
                                                                               class="text-input square"><span>m<sup>2</sup></span>
                                                                        <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                                               id="hoursFlatSub"
                                                                               @keyup="hoursFlatKeyUp"
                                                                               @focus="resetFlatHours"
                                                                               @blur="setFlatHours"
                                                                               v-model="flatHours"
                                                                               type="text"
                                                                               class="text-input height"
                                                                               title="text"><span>Ore</span>
                                                                        <div class="help" data-toggle="modal" data-target="#table-price-house">
                                                                            <span>Serve aiuto?</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-third">
                                                                        <label>Prezzo:</label>
                                                                        <textarea disabled v-model="flatPrice"></textarea>
                                                                        <div class="button">
                                                                            <button class="btn btn-default" @click="accept">
                                                                                Continua
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="second-tab-content tab-content">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label class="form-title">Inserisci i dati e la posizione dell’ufficio</label>
                                                                        <select class="form-control" title="type" v-if="cities">
                                                                            <option rel="icon-temperature" v-for="city of cities">
                                                                                {{ city.title }}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group form-group-second">
                                                                        <div class="data-time-elem">
                                                                            <input id="GouseDateSub" class="flatpickr calendar flatpickr-input" type="text"
                                                                                   placeholder="Data" data-min-date="today" @change="chooseDate">
                                                                            <span class="calendar-icon" tabindex="0"></span>
                                                                            <span class="icon-arrow-after" tabindex="0"></span>
                                                                        </div>
                                                                        <div class="data-time-elem data-time-elem1">
                                                                            <el-time-select
                                                                                    @change="chooseTime"
                                                                                    size="small"
                                                                                    v-model="value1"
                                                                                    :clearable="false"
                                                                                    :picker-options="{
                                                                                      start: '06:00',
                                                                                      step: '00:30',
                                                                                      end: '23:00'
                                                                                    }"
                                                                                    placeholder="ORARI"
                                                                            ></el-time-select>
                                                                            <span class="icon-arrow-after" tabindex="0"></span>
                                                                        </div>
                                                                        <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                                               @focus="resetOfficeMeters"
                                                                               @blur="setOfficeMeters"
                                                                               @keydown="metersOfficeKeyUp"
                                                                               v-model="officeMeters"
                                                                               id="metersOffice"
                                                                               type="text"
                                                                               title="text"
                                                                               class="text-input square"><span>m<sup>2</sup></span>
                                                                        <input onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                                               @keydown="hoursOfficeKeyUp"
                                                                               @focus="resetOfficeHours"
                                                                               @blur="setOfficeHours"
                                                                               v-model="officeHours"
                                                                               id="hoursOffice"
                                                                               type="text"
                                                                               class="text-input height"
                                                                               disabled="true"
                                                                               title="text"><span>Ore</span>
                                                                        <div class="help"><span data-toggle="modal" data-target="#table-price-office">Serve aiuto?</span></div>
                                                                    </div>
                                                                    <div class="form-group form-group-third">
                                                                        <label>Prezzo:</label>
                                                                        <textarea disabled v-model="officePrice"></textarea>
                                                                        <div class="button">
                                                                            <button class="btn btn-default" type="button" @click="accept">
                                                                                Continua
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal fade" id="table-price-office" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content size">
                                <div class="modal-header modal-header-price modal-header-price1">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">
                                        Tabella con le ore necessarie per un particolare spazio della camera</h4>
                                </div>
                                <div class="modal-body text-center square-options">
                                    <table class="table-responsive table table-bordered table-bordered-price">
                                        <tr v-for="item of allRealtyTypesPriceHoursMeters.officeMeters">
                                            <th>
                                                {{ item.realty_type }}
                                            </th>
                                            <td>
                                                Metri: {{ item.meters }}
                                            </td>
                                            <td>
                                                Ore: {{ item.hours }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="table-price-house" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content size">
                                <div class="modal-header modal-header-price modal-header-price1">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">
                                        Tabella con le ore necessarie per un particolare spazio della camera</h4>
                                </div>
                                <div class="modal-body text-center square-options">
                                    <table class="table-responsive table table-bordered table-bordered-price">
                                        <tr v-for="item of allRealtyTypesPriceHoursMeters.houseMeters">
                                            <th>
                                                {{ item.realty_type }}
                                            </th>
                                            <td>
                                                Metri: {{ item.meters }}
                                            </td>
                                            <td>
                                                Ore: {{ item.hours }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal modal-cleaner fade" id="table-warning-meters" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content size">
                                <div class="modal-header modal-header-price">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Avvertimento</h4>
                                </div>
                                <div class="modal-body text-center square-options">
                                    <table class="table-responsive table">
                                        Si prega di inserire i contatori
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal modal-cleaner fade" id="table-warning-date" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content size">
                                <div class="modal-header modal-header-price">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Avvertimento</h4>
                                </div>
                                <div class="modal-body text-center square-options">
                                    <table class="table-responsive table">
                                        Inserisci la data
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><h2>Perché scegliere gli abbonamenti Spotless?</h2> <div class="title-line"></div></div>
                    <ul class="list-unstyled list-unstyled-abbonamenti">
                        <li><span class="lead">Convenienza</span>
                            <p>Sei soddisfatto della qualità e vuoi continuare ad usare Spotless? Un abbonamento ti permetterà di acquistare con pochi click 4 pulizie a un prezzo scontato.</p>
                        </li>
                                                <li><span class="lead">Protezione</span>
                            <p>Gli abbonamenti prevedono un’assicurazione contro danni ed infortuni. Ci importa la sicurezza dei nostri clienti.</p>
                        </li>
                                                <li><span class="lead">Buon rapporto</span>
                            <p>Acquistando un abbonamento, potrai essere sicuro che sarà il tuo addetto preferito a sistemare la tua casa oppure l’ufficio.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'

  import loadFonts from '../assets/js/loadFonts'
  import script from '../assets/js/script'
  import slider from '../assets/js/slider'
  import tabs from '../assets/js/tabs'
  import datePicker from '../assets/js/data-picker'

  import $ from 'jquery'
  import _ from 'lodash'
  export default {
    name: 'subscriptions',
    data () {
      return {
        choosenSubscriptionId: null,
        value1: ''
      }
    },
    computed: {
      user () {
        return this.$store.getters.getUser === null ? {
          subscription_id: null
        } : this.$store.getters.getUser
      },
      flatMeters () {
        return this.$store.getters.getFlatMeters
      },
      officeMeters () {
        return this.$store.getters.getOfficeMeters
      },
      flatPrice () {
        return this.$store.getters.getFlatPrice + ' €'
      },
      officePrice () {
        return this.$store.getters.getOfficePrice + ' €'
      },
      flatHours () {
        return this.$store.getters.getFlatHours
      },
      officeHours () {
        return this.$store.getters.getOfficeHours
      },
      cities () {
        return this.$store.getters.allCities
      },
      currentCityId () {
        return this.$store.getters.getCurrentCityId
      },
      meters () {
        return this.$store.getters.getMeters
      },
      hours () {
        return this.$store.getters.getHours
      },
      price () {
        return this.$store.getters.getPrice
      },
      realtyTypes () {
        return this.$store.getters.getRealtyTypes
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
      allRealtyTypesPriceHoursMeters () {
        return this.$store.getters.getAllRealtyTypesPriceHoursMeters
      },
      subscriptions () {
        return this.$store.getters.getSubscriptions
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    beforeCreate () {
      this.$store.dispatch('getSubscriptions')
      this.$store.dispatch('getCities', () => {
        script()
        slider()
        tabs()
      })
      loadFonts()
      datePicker()
      let subscription = localStorage.getItem('subscription')
      if (subscription !== null) {
        localStorage.removeItem('subscription')
      }
      this.$store.dispatch('setFlatHours', 0)
      this.$store.dispatch('setFlatMeters', 0)
      this.$store.dispatch('setFlatPrice', 0)
      this.$store.dispatch('setOfficeHours', 0)
      this.$store.dispatch('setOfficeMeters', 0)
      this.$store.dispatch('setOfficePrice', 0)
      this.$store.dispatch('setRealtyTypeId', 1)
      this.$store.dispatch('setIsCouponActive', false)
      this.$store.dispatch('setCheckedAddSubServicesObj', {})
      this.$store.dispatch('setCheckedAddSubServices', null)
      this.$store.dispatch('setSubscription', null)
      this.$store.dispatch('removeClearKit')
      localStorage.setItem('requiredSubscriptions', null)
      localStorage.setItem('requiredServicesList', null)
      localStorage.setItem('requiredInsurances', null)
      this.$store.dispatch('getRealtyTypes')
      this.$store.dispatch('setAllRealtyTypesPriceHoursMeters')
      this.$store.dispatch('getContent')
      localStorage.setItem('isRegisterStep', null)
      this.$store.dispatch('setImagesData', {
        firstImage: require('./../assets/images/flat/Wedding_16.jpg'),
        secondImage: require('./../assets/images/flat/Wedding_10.jpg')
      })
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 0 + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('.subscriptions').goTo()

      this.$store.dispatch('setFlatMeters', 0)
      this.$store.dispatch('setOfficeMeters', 0)
      this.$store.dispatch('setFlatHours', 0)
      this.$store.dispatch('setOfficeHours', 0)
      localStorage.setItem('Home', true)
    },
    methods: {
      setRealtyTypeId (realtyTypeId) {
        this.$store.dispatch('setRealtyTypeId', realtyTypeId)
      },
      chooseTime (time) {
        this.$store.dispatch('setOrderTime', time)
        if (this.flatMeters || this.officeMeters) {
          let meters = this.flatMeters || this.officeMeters
          console.log()
          this.$store.dispatch('setPriceFromMeters', {
            meters: meters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        } else if (this.flatHours || this.officeHours) {
          let hours = this.flatHours || this.officeHours
          this.$store.dispatch('setPriceFromHours', {
            hours: hours,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        }
      },
      chooseDate (event) {
        this.$store.dispatch('setOrderDate', event.target.value)
        if (this.flatMeters || this.officeMeters) {
          let meters = this.flatMeters || this.officeMeters
          console.log()
          this.$store.dispatch('setPriceFromMeters', {
            meters: meters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        } else if (this.flatHours || this.officeHours) {
          let hours = this.flatHours || this.officeHours
          this.$store.dispatch('setPriceFromHours', {
            hours: hours,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        }
      },
      selectCityId (cityId) {
        this.$store.dispatch('setCurrentCityId', cityId)
      },
      metersFlatKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setFlatMeters', event.target.value)

        let hoursFlatInput = document.querySelector('#hoursFlat')
        if (hoursFlatInput) {
          hoursFlatInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatHours', 0)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromMeters', {
          meters: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
         // date: this.$store.getters.getOrderDate,
         // time: this.$store.getters.getOrderTime
        })
      }, 300),
      metersOfficeKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setOfficeMeters', event.target.value)

        let hoursOfficeInput = document.querySelector('#hoursOffice')
        if (hoursOfficeInput) {
          if (event.target.value.length === 0) {
            this.$store.dispatch('setOfficeHours', 0)
            this.$store.dispatch('setOfficePrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromMeters', {
          meters: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
         // date: this.$store.getters.getOrderDate,
          //time: this.$store.getters.getOrderTime
        })
      }, 300),
      hoursFlatKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setFlatHours', event.target.value)

        let metersFlatInput = document.querySelector('#metersFlat')
        if (metersFlatInput) {
          metersFlatInput.disabled = event.target.value.length !== 0
          if (event.target.value.length === 0) {
            this.$store.dispatch('setFlatMeters', 0)
            this.$store.dispatch('setFlatPrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromHours', {
          hours: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
        //  date: this.$store.getters.getOrderDate,
         // time: this.$store.getters.getOrderTime
        })
      }, 300),
      hoursOfficeKeyUp: _.debounce(function (event) {
        this.$store.dispatch('setOfficeHours', event.target.value)

        let metersOfficeInput = document.querySelector('#metersOffice')
        if (metersOfficeInput) {
          if (event.target.value.length === 0) {
            this.$store.dispatch('setOfficeMeters', 0)
            this.$store.dispatch('setOfficePrice', 0)
          }
        }
        this.$store.dispatch('setPriceFromHours', {
          hours: event.target.value,
          realtyTypeId: this.$store.getters.getRealtyTypeId,
          date: this.$store.getters.getOrderDate,
          time: this.$store.getters.getOrderTime
        })
      }, 300),
      accept (event) {
        event.preventDefault()
        let meters = this.$store.getters.getMeters
        let orderDate = this.$store.getters.getOrderDate
        if (meters === 0) {
          $('#table-warning-meters').modal('show')
        }
        if (orderDate === null) {
          $('#table-warning-date').modal('show')
        }
        if (meters !== 0 && orderDate !== null) {
          if (this.$store.getters.getRealtyTypeId === 1) {
            this.$store.dispatch('setPrice', this.$store.getters.getFlatPrice)
            this.$store.dispatch('setHours', this.$store.getters.getFlatHours)
          }
          if (this.$store.getters.getRealtyTypeId === 2) {
            this.$store.dispatch('setPrice', this.$store.getters.getOfficePrice)
            this.$store.dispatch('setHours', this.$store.getters.getOfficeHours)
          }
          if (this.$store.getters.getRealtyTypeId === 1) {
            this.$store.dispatch('setPrice', this.$store.getters.getFlatPrice)
            this.$store.dispatch('setHours', this.$store.getters.getFlatHours)
          }
          if (this.$store.getters.getRealtyTypeId === 2) {
            this.$store.dispatch('setPrice', this.$store.getters.getOfficePrice)
            this.$store.dispatch('setHours', this.$store.getters.getOfficeHours)
          }
          $('#table-calc').modal('hide')
          this.$store.dispatch('setAddSubServicesBySubscription', {
            id: this.choosenSubscriptionId
          })
          if (this.price) {
            this.$store.dispatch('setBuySubscription', true)
            this.$router.push({name: 'ServicesList'})
          }
        }
      },
      chooseSubscription (subscription) {
        this.$store.dispatch('setSubscription', subscription)
        this.choosenSubscriptionId = subscription.id
        localStorage.setItem('subscription', JSON.stringify(subscription))

        if (this.$store.getters.getFlatMeters) {
          this.$store.dispatch('setFlatMeters', this.$store.getters.getFlatMeters)

          let hoursFlatInput = document.querySelector('#hoursFlatSub')
          hoursFlatInput.disabled = event.target.value.length !== 0

          this.$store.dispatch('setPriceFromMeters', {
            meters: this.$store.getters.getFlatMeters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        }
        if (this.$store.getters.getOfficeMeters) {
          this.$store.dispatch('setOfficeMeters', this.$store.getters.getOfficeMeters)

          let hoursFlatInput = document.querySelector('#hoursFlatSub')
          hoursFlatInput.disabled = event.target.value.length !== 0

          this.$store.dispatch('setPriceFromMeters', {
            meters: this.$store.getters.getOfficeMeters,
            realtyTypeId: this.$store.getters.getRealtyTypeId,
           // date: this.$store.getters.getOrderDate,
           // time: this.$store.getters.getOrderTime
          })
        }
      },
      resetFlatMeters () {
        this.$store.dispatch('setFlatMeters')
      },
      resetOfficeMeters () {
        this.$store.dispatch('setOfficeMeters')
      },
      setFlatMeters () {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatMeters', 0)
        }
      },
      setOfficeMeters () {
        if (!this.officeMeters) {
          this.$store.dispatch('setOfficeMeters', 0)
        }
      },
      resetFlatHours () {
        this.$store.dispatch('setFlatHours')
      },
      resetOfficeHours () {
        this.$store.dispatch('setOfficeHours')
      },
      setFlatHours (event) {
        if (!this.flatMeters) {
          this.$store.dispatch('setFlatHours', 0)
        } else {
          this.hoursFlatKeyUp(event)
        }
      },
      setOfficeHours (event) {
        if (!this.officeMeters) {
          this.$store.dispatch('setOfficeHours', 0)
        } else {
          this.hoursOfficeKeyUp(event)
        }
      }
    }
  }
</script>

<style scoped lang="sass">
    @import '../../node_modules/element-ui/lib/theme-chalk/index.css'
    @import "../assets/css/eltimepicker.css"
    @import "../assets/css/more-styles.css"
</style>
