<template>
  <div class="subscribe">
    <div v-if="!personalArea && !user">
      <div class="form-group">
        <label for="exampleInputEmail1">Iscriviti alla nostra newsletter</label>
        <input type="email"  v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">

      </div>
      <button class="btn btn-block blue-btn" @click="subscribeByEmail()">SOTTOSCRIVI</button>
    </div>
    <div v-if="personalArea">
      <button :class="isSubscribe ? 'btn btn-block blue-btn active-subscribe' : 'btn btn-block blue-btn'" @click="subscribe()"
              v-text="isSubscribe ? 'ISCRIVITI' : 'SOTTOSCRIVI'"></button>
    </div>
  </div>
</template>

<script>

  import userService from '../api/userService'

  export default {
    name: 'SubscribeComponent',
    data () {
      return {
        subscription: null,
        //user:null,
        email:''
      }
    },

    computed: {
      personalArea () {
        return this.isPersonalArea
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      isSubscribe:{
        get:function(){
          return this.$store.getters.getUser ? this.$store.getters.getUser.is_subscribe : false
        },
        set:function(val){
          let data = this.$store.getters.getUser
          data.is_subscribe = val
          this.$store.dispatch('setUser',data)
        }
      },
    },
    props: {
      isPersonalArea: Boolean
    },
    methods: {
      subscribe () {
        userService.subscribeUser(this.$store.getters.getUser.id).then((response) => {
          this.isSubscribe = response.data.success || null
        })
      },
      subscribeByEmail(){
        if(this.email) {
          userService.subscribeUserByEmail(this.email).then((response) => {
                alert('Hai firmato con successo')
          }).catch((err) => {
            alert(err.response.data.email)
          })
        }
      }
    }
  }
</script>

<style scoped>
.active-subscribe{
  background: #fff;
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  transition: all 0.15s linear;
  color: #00aeff;
  border: 2px solid #00aeff;
}
.additional-booking-services-wrapper .subscribe button:focus,
.additional-booking-services-wrapper  .subscribe button:hover{
  background: #00aeff;
  border: 2px solid #00aeff;
  color:white;
  }
.additional-booking-services-wrapper .subscribe button.active-subscribe:focus,
.additional-booking-services-wrapper  .subscribe button.active-subscribe:hover{
  background: #fff;
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  transition: all 0.15s linear;
  color: #00aeff;
  border: 2px solid #00aeff;
}
</style>
