<template>
    <div>
        <header-menu></header-menu>
        <main v-if="subscriptions">
            <div id="content" class="tariffs-page">
                <h1>Le tariffe Spotless</h1>
                <div class="container">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li @click="realtyTypeId = 1" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Casa</a></li>
                            <li @click="realtyTypeId = 2" role="presentation"><a href="#office" aria-controls="office" role="tab" data-toggle="tab">Ufficio</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <div class="subscription-wrapper one-time-cleaning" style="display: block !important">
                                    <div>
                                        <div class="col-xxs-12 col-xs-6 text-center">
                                            <div class="subscription-card small-card deluxe-subscription">
                                                <h2>Singolo Standard</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">12.00 €/ora</p>
                                                <p><img src="./../assets/images/icons/icon1.png" alt="time-icon">Prenotazione almeno 2 giorni prima</p>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 text-center">
                                            <div class="subscription-card small-card superior-subscription">
                                                <h2>Singolo Express</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">12.50 €/ora</p>
                                                <p><img src="./../assets/images/icons/icon1.png" alt="time-icon">Prenotazione un giorno prima</p>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="subscription-wrapper"  style="display: block !important">
                                    <div>
                                        <div class="col-xxs-12 col-xs-6 text-center" v-for="(subscription, index) of subscriptions">
                                            <div :class="index !== 0 ? 'superior-subscription' : 'deluxe-subscription'" class="big-card subscription-card">
                                                <h3>Abbonamenti</h3>
                                                <h2>{{ subscription.title }}</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">{{ subscription.price.toFixed(2) }} €/ora</p>
                                                <p><img src="./../assets/images/icons/icon2.png" alt="calendar-icon">almeno 4 pulizie</p>
                                                <ul class="list-unstyled">
                                                    <li v-for="addService of subscription.addServicesHouse">
                                                        {{ addService.title }}
                                                    </li>
                                                    <li v-for="item of subscription.additional_list">
                                                        {{ item }}
                                                    </li>
                                                </ul>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="first-tab">
                                    <h2>Servizi inclusi</h2>
                                    <div class="service-free">
                                        <div class="service-free-container col-xs-12 col-sm-6"
                                             v-for="freeService of orderViewModel.freeServices" v-if="freeService.realty_type_id == realtyTypeId">
                                            <ul class="service-free-list">
                                                <li>
                                                    <img :src="freeService.icon">
                                                    {{ freeService.title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-additional">
                                    <h2>Servizi aggiuntivi</h2>
                                    <div class="services-additional-row first-row">
                                        <div class="services-additional-elem"
                                             v-for="addService of orderViewModel.addServices"
                                             v-if="addService.realty_type_id == realtyTypeId"
                                        >
                                            <div class="services-additional-title title1">
                                                <img :src="addService.icon"/>
                                                <h3>{{ addService.title }}</h3>
                                            </div>
<!--                                             <div  v-if="addService.hour === 0" class="services-additional-price help" data-toggle="modal" :data-target="`#service-price-${addService.id}`">
                                                <span v-if="addService.hour === 0">{{ addService.price }}€/ora</span>
                                            </div> -->
                                            <span v-if="addService.hour === 0">{{ addService.price }}€/ora</span>
                                            <span v-else="">{{ addService.price }}€</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="text-center tarrifs-order-area">
                                    <p class="text-center">Prenota la pulizia ora!</p>
                                    <router-link class="blue-btn" :to="{name: 'Home'}">Inizia</router-link>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="office">
                                <div class="subscription-wrapper one-time-cleaning"  style="display: block !important">
                                    <div>
                                        <div class="col-xxs-12 col-xs-6 text-center">
                                            <div class="subscription-card deluxe-subscription">
                                                <h2>Singolo Standard</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">12.00 €/ora</p>
                                                <p><img src="./../assets/images/icons/icon1.png" alt="time-icon">Prenotazione almeno 2 giorni prima</p>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 text-center">
                                            <div class="subscription-card superior-subscription">
                                                <h2>Singolo Express</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">12.50 €/ora</p>
                                                <p><img src="./../assets/images/icons/icon1.png" alt="time-icon">Prenotazione un giorno prima</p>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="subscription-wrapper" style="display: block !important">
                                    <div>
                                        <div class="col-xxs-12 col-xs-6 text-center" v-for="(subscription, index) of subscriptions">
                                            <div :class="index !== 0 ? 'superior-subscription' : 'deluxe-subscription'" class="big-card subscription-card">
                                                <h2>Abbonamenti</h2>
                                                <h2>{{ subscription.title }}</h2>
                                                <p class="hidden">tariffa oraria</p>
                                                <p class="subscription-price">{{ subscription.price.toFixed(2) }} €/ora</p>
                                                <p><img src="./../assets/images/icons/icon2.png" alt="calendar-icon">almeno 4 pulizie</p>
                                                <ul class="list-unstyled">
                                                    <li v-for="addService of subscription.addServicesOffice">
                                                        {{ addService.title }}
                                                    </li>
                                                    <li v-for="item of subscription.additional_list">
                                                        {{ item }}
                                                    </li>
                                                </ul>
                                                <!--<button class="btn btn-default">Scegli</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="first-tab">
                                    <h2>Servizi inclusi</h2>
                                    <div class="service-free">
                                        <div class="service-free-container col-xs-12 col-sm-6"
                                             v-for="freeService of orderViewModel.freeServices" v-if="freeService.realty_type_id == realtyTypeId">
                                            <ul class="service-free-list">
                                                <li>
                                                    <img :src="freeService.icon">
                                                    {{ freeService.title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-additional">
                                    <h2>Servizi aggiuntivi</h2>
                                    <div class="services-additional-row first-row">
                                        <div class="services-additional-elem"
                                             v-for="addService of orderViewModel.addServices"
                                             v-if="addService.realty_type_id == realtyTypeId"
                                        >
                                            <div class="services-additional-title title1">
                                                <img :src="addService.icon"/>
                                                <h3>{{ addService.title }}</h3>
                                            </div>
<!--                                             <div  v-if="addService.hour === 0" class="services-additional-price help" data-toggle="modal" :data-target="`#service-price-${addService.id}`">
                                                <span v-if="addService.hour === 0">{{ addService.price }}€/ora</span>
                                            </div> -->
                                            <span v-if="addService.hour === 0">{{ addService.price }}€/ora</span>
                                            <span v-else="">{{ addService.price }}€</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="text-center tarrifs-order-area">
                                    <p>Prenota la pulizia ora!</p>
                                    <router-link class="blue-btn" :to="{name: 'Home'}">Inizia</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
    </div>
</template>
<script>
  import headerMenu from './menu/HeaderMenu.vue'
  import footerMenu from './menu/FooterMenu.vue'
  import $ from 'jquery'
  export default {
    name: 'tariffs',
    data () {
      return {
        realtyTypeId: 1
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu
    },
    computed: {
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      subscriptions () {
        return this.$store.getters.getSubscriptions
      }
    },
    mounted () {
      (function ($) {
        $.fn.goTo = function () {
          $('html, body').animate({
            scrollTop: 0 + 'px'
          }, 'fast')
          return this
        }
      })($)
      $('body').goTo()
      this.$store.dispatch('getOrderViewModel', () => {})
    },
    beforeCreate () {
      this.$store.dispatch('getSubscriptions')
    }
  }
</script>
<style scoped lang="sass">
    @import "../assets/css/more-styles.css"
    @import "../assets/css/service.css"
</style>
