<template>
  <div>
    <div class="form-group"  v-if="!user">
      <input type="text" v-model="email" class="form-control sp-form-control" id="email" placeholder="Inserisci la tua email">
    </div>
    <textarea name="" id="" cols="30" rows="10" v-model="description"></textarea>
    <label class="sp-link sp-color-green sp-file-input">
      <input @change="handleFileChange($event)" type="file" >
      <span v-if="file_name">
                    ({{file_name}})
                  </span>
    </label>
    <button @click="send()">Сalcolo</button>
  </div>
</template>

<script>
  import userService from '../../api/userService'

  export default {
    name: 'bigHouse',
    data(){
      return {
        description:'',
        file: {},
        file_name: '',
        email:''
      }
    },

    methods:{
      handleFileChange(evt) {
        this.file = evt.target.files[0];
        this.file_name = evt.target.files[0].name;
      },
      send(){
        let formdata = new FormData();
        if(this.user){
          formdata.append('email',this.user.email);
        }
        else{
          formdata.append('email',this.email);
        }
        var text = 'Metro:' + this.meters + "\r\n"
        text += 'Bagno:' + this.bathroom + "\r\n"
        text += 'Recensione:' + this.description + "\r\n"
        formdata.append('text',text);
        formdata.append('file',this.file);
        userService.miscalculation(formdata).then((response)=>{
          if(response.data ===true){
            this.$router.push({name:'Home'})
          }
        })
      },
    },

    computed:{
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId || 6
      },
      user () {
        if (this.$auth.isAuthenticated()) {
          return this.$store.getters.getUser
        }
        return null
      },
      bathroom(){
        return this.$store.getters.getBathroom
      },
      meters () {
        return this.$store.getters.getMeters
      },
    }
  }
</script>

<style scoped>
textarea{
  width: 100%;
}
</style>
