<template>
  <div>
    <div v-for="(service,index) in services">
      <div class="service-details-title">
        <ol>
          <li :value="index + 2">{{service.question}}
            <!--<label>Se volete aggiungere altri servizi cliccate-->
            <!--sull'icona e scegliete la variante adatta-->
            <!--</label>-->
          </li>
        </ol>
      </div>
      <div class="row text-left" style="margin-bottom:40px;">
        <div :class="service.type==='radio' ? 'col-xs-12 ml-5' : 'col-xs-12 ml-25' " v-for="(answer,ans_index) in service.answers">
          <input :id="'option-' + service.id+ ans_index" :type="service.type" :name="getName(service)" :value="answer.value"  :checked="service.type==='radio' ? verifyRadio(service,answer) : verifyCheckbox(service,answer)" @change="checkService(service,answer,ans_index)" >
          <label :for="'option-' + service.id+ ans_index"><span><span></span></span>{{answer.value}}</label>
          <button  v-if="answer.description" type="button" class="tooltip-new" data-toggle="tooltip" data-placement="bottom"  @touchstart="tooltip" :title="answer.description">i</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import orderService from '../../api/orderService'
  export default {
    name: 'Spring',
    beforeCreate () {
      if (localStorage.getItem('realtyTypeId'))
        this.$store.dispatch('setRealtyTypeId', parseInt(localStorage.getItem('realtyTypeId')))
    },
    data () {
      return {
        data: null
      }
    },
    created () {
      orderService.getCheckboxServices(this.realtyTypeId).then((responce) => {
        this.data = responce.data
      })

    },
    methods: {
      checkService (service, answer, index) {
        let answers = [];
        if (service.type === 'checkbox') {

          $.each($('input[name=checkbox-' + service.id + ']:checked'), function (key, value) {
            answers.push($(value).val())
          })
          this.$store.dispatch('changeCheckedServices', {
            id: service.id,
            value: true,
            full_price: answer.price,
            title: answers.join(),
            hours: 0,
            realty_type_id: this.realtyTypeId
          })
        } else {
          this.$store.dispatch('changeCheckedServices', {
            id: service.id,
            value: true,
            full_price: answer.price,
            title: answer.value,
            hours: 0,
            realty_type_id: this.realtyTypeId
          })
        }

      },
      tooltip () {
        $('[data-toggle="tooltip"]').tooltip()
      },
      verifyRadio (service, answer) {
        return this.checkedAddServiceObj[service.id] && this.checkedAddServiceObj[service.id].title === answer.value ? true : false
      },
      verifyCheckbox (service, answer) {
        if (this.checkedAddServiceObj[service.id]) {
          let answers = this.checkedAddServiceObj[service.id].title.split(',').filter((answer_new) => {
            return answer_new === answer.value
          })
          if (answers.length > 0) {
            return true
          }
        }
        //return this.checkedAddServiceObj[service.id].title === answer.value? true : false
      },
      getName (service) {
        return service.type + '-' + service.id

      },
    },
    computed:{
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      services(){
        return this.data
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId
      },
      checkedAddServiceObj(){
        return this.$store.getters.getCheckedAddSubServicesObj
      },
    }
  }
</script>

<style scoped>

</style>
