<template>
  <div>
    <div class="service-details-title">
      <ol>
        <li value="2">Servizi aggiuntivi
          <label>Se volete aggiungere altri servizi cliccate
            sull'icona e scegliete la variante adatta
          </label>
        </li>
      </ol>
    </div>
    <div class="services-additional row" v-if="orderViewModel">
      <div class="services-additional-elem col-xs-4"
           v-for="addService of orderViewModel.addServices" v-if="addService.realty_type_id == realtyTypeId">
        <div v-if="addService.id === 28" class="services-additional-title">
          <img :src="addService.icon"/>
          <span>{{ addService.title}}</span>
          <div class="help"  data-target="#stiratura-static-modal" data-toggle="modal">
            <span>{{ addService.price}}€</span>
          </div>
        </div>
        <div v-else class="services-additional-title">
          <img :src="addService.icon"/>
          <span>{{ addService.title}}</span>
          <div v-if="addService.hour === 0" class="help" data-toggle="modal"
               :data-target="`#service-price-${addService.id}`">
            <span v-if="addService.hour === 0">{{ addService.price }}€/ora</span>
          </div>
          <span v-else="">{{ addService.price}}€</span>

        </div>
        <!--<span>*Scegli la variante</span>-->

        <div class="services-additional-button main-button">
          <button type="button" class="add-button btn btn-default">Scegli</button>
        </div>
        <div class="services-additional-elem-hover">
          <div class="checkbox">
            <!--<label class="checkbox-label" :for="`sub-service-${addService.id}`">-->
              <!--{{ addService.title }}-->
              <!--<span></span>-->
            <!--</label>-->
          </div>
          <div class="services-additional-button">
            <button type="button" class="add-button btn btn-default"
                    v-bind:disabled="inSubscription(addService.id)"
                    @click="confirmServices(addService)">Scegli
            </button>
          </div>
          <div class="services-additional-button ">
            <button type="button" class="cancel-button btn btn-default"
                    v-bind:disabled="inSubscription(addService.id)"
                    @click="cancelService(addService.id)">Cancella
            </button>
          </div>
        </div>
        <div v-if="addService.hour === 0" class="modal fade" :id="`service-price-${addService.id}`" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content size">
              <div class="modal-header modal-header-price modal-header-price1">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                  Tabella con le ore necessarie per un particolare spazio della camera</h4>
              </div>
              <div class="modal-body text-center square-options">
                <table class="table-responsive table table-bordered table-bordered-price">
                  <tr v-for="item of subserviceHoursMeters[addService.id]">
                    <td>
                      Metri: {{ item.meters }}
                    </td>
                    <td>
                      Ore: {{ item.hours }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="stiratura-static-modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content size">
              <div class="modal-header modal-header-price modal-header-price1">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body text-center square-options">
                  In un ora possiamo stirare 8 panni
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" style="margin-bottom:40px;">
      <div class="col-xs-6">
        <input id="option" type="checkbox" name="field" value="option" v-model="cleanFurniture" @change="cleanFurnitures">
        <label for="option"><span><span></span></span>Pulizia interna mobili cucina e bagno</label>
      </div>
      <div class="col-xs-6">
        <input id="option2" type="checkbox" name="field" value="option" v-model="washLinen" @change="washLinens">
        <label for="option2"><span><span></span></span>Stenditura biancheria lavata</label>
      </div>
    </div>
    <div class="modal fade" id="table-accept" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content size">
          <div class="modal-header modal-header-price">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Recensione</h4>
          </div>
          <div class="modal-body text-center square-options">
            <table class="table-responsive table table-bordered">
              <h3>Perfetto, grazie per la tua scelta !</h3>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="service-details-title">
      <ol>
        <li value="2">Servizi inclusi
          <label>Clicca il pulsante per scoprire</label></li>
      </ol>

    </div>
    <div class="service-includes row" v-if="orderViewModel">
      <div v-for="(baseService, index) of orderViewModel.baseServices" v-if="baseService.realty_type_id == realtyTypeId"
           class="service-includes-elem col-xs-6 col-md-3">
        <img :src="baseService.image">
        <div class="line"></div>
        <div class="service-includes-elem-button">
          <button type="button" class="btn btn-primary" data-toggle="modal"
                  :data-target="'#table-descriptions-'+ index">
            {{ baseService.title }}
          </button>
        </div>
        <div class="modal fade" :id="'table-descriptions-'+ index" role="dialog">
          <div class="modal-dialog">
            <!-- Modal coservice-details-titlentent-->
            <div class="modal-content size">
              <div class="modal-header modal-header-price">
                <button type="button" class="close" data-dismiss="modal">&times;
                </button>
                <h4 class="modal-title text-center" style="text-transform: uppercase; font-weight: bold;">{{ baseService.title }}</h4>
              </div>
              <div class="modal-body  square-options">
                <table class="table-responsive table table-bordered" v-html="baseService.text">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-details-title service-free-title">
      <ol>
        <li value="3">
          SERVIZI  gratuiti per te<label>Lo facciamo sempre per te, gratis</label>
        </li>
      </ol>
    </div>
    <div class="service-free row" v-if="orderViewModel">
      <div class="service-free-container col-xs-12 col-sm-6"
           v-for="freeService of orderViewModel.freeServices" v-if="freeService.realty_type_id == realtyTypeId">
        <ul class="service-free-list">
          <li>
            <img :src="freeService.icon">
            {{ freeService.title }}
          </li>
        </ul>
      </div>
    </div>
    <div class="service-details-title">
      <ol>
        <li value="4">Che superfici hai da pulire?</li>
      </ol>
    </div>
    <div class="service-materials row" v-if="orderViewModel">
      <div class="service-materials-elem" v-for="surface of orderViewModel.surfaces">
        <button @click="checkSurface(surface)" :id="'surfaces-' + surface.id" type="button"
                class="service-materials-button btn btn-default">
          {{ surface.title }}
        </button>
      </div>
    </div>
    <div class="service-details-title">
      <ol>
        <li value="5">
          Facci sapere se a casa ci saranno le persone anziane, animali, bambini
        </li>
      </ol>
    </div>
    <div class="service-difficult col-xs-12" v-if="orderViewModel">
      <div class="service-difficult-elem"
           v-for="(condition, index) of orderViewModel.conditions">
        <div class="checkbox">
          <input :id="'main-check-' + condition.id" type="checkbox" name="field"
                 value="option" >
          <label class="checkbox-label"
                 :for="condition.id + orderViewModel.conditions.length + 1" @click="checkAllSubConditions(condition.id)">
            <span></span></label>
        </div>
        <div class="image">
          <img :src="condition.icon">
        </div>

        <div class="line"></div>
        <label class="human-label">{{ condition.title }}</label>
        <div class="service-difficult-elem-hover">
          <div class="checkbox" v-for="subCondition of condition.subConditions">
            <input :id="'sub-condition-' + subCondition.id"
                   :class="'condition-number-' + condition.id"
                   type="checkbox" name="field" :value="subCondition.id"
                   v-model="checkedSubConditionIds" @click="checkSubConditions($event,condition.id)">
            <label class="checkbox-label"
                   :for="'sub-condition-' + subCondition.id">
              {{ subCondition.title }}<span></span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="service-quality row modal fade service-quality-modal"  style="padding-top: 10px" id="pdf" v-if="orderViewModel">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="service-quality-title col-xs-12">
        <h2>Per garantire la massima qualità <br>
          del servizio avremo bisogno di:</h2>
        <div class="line"></div>
      </div>
      <div class="service-quality-lists col-xs-12 col-sm-6"
           v-for="basicSet of orderViewModel.basicSets">
        <div class="service-quality-column col-xs-12">
          <div class="service-quality-elem">
            <div class="icon">
              <img :src="basicSet.icon">
            </div>
            <div class="col-xs-12">
              <ul>
                <li class="list-title">{{ basicSet.title }}</li>
              </ul>
              <ul v-for="set of basicSet.sets">
                <li>
                  {{ set }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="price col-xs-12">
        <div class="price-text" style="margin: 0 auto;text-align: center;width: 100%">
          <p>Se non hai i detersivi necessari non preoccuparti ci pensiamo noi! </p>
          <div class="form-group">
            <div class="text-center">
              <input v-model="clear_kit" v-bind:disabled="clear_kit_in_sub" id="option1" type="checkbox" name="field"
                     value="option">
              <label class="checkbox-label" for="option1"><span></span>Costo kit detersivi 5€</label>
            </div>
          </div>
        </div>
      </div>
      <div class="service-details-button col-xs-12" style="text-align: center;">
        <button id="clearKitIdBtn" type="button" class="btn btn-default" @click="checkBuyClearKit">Conferma
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import orderService from '../../api/orderService'

  export default {
    name: 'Standard',
    data(){
      return{
        checkedConditions: {},
        countClickClearKit: null,
        clear_kit: 0,
        clear_kit_in_sub: false,
        cleanFurniture: false,
        washLinen: false,
      }
    },
    mounted () {
      this.$store.dispatch('setLoginErrors', null)
      if (this.subscription) {
        this.$store.dispatch('setBuyClearKit', this.subscription.buy_clear_kit)
        this.clear_kit = this.subscription.buy_clear_kit
        this.clear_kit_in_sub = this.subscription.buy_clear_kit
      }
      if (this.buySubscription) {
        $('#subscription-info').modal('show')
      }
    },
    computed: {
      orderViewModel () {
        return this.$store.getters.getOrderViewModel
      },
      realtyTypeId () {
        return this.$store.getters.getRealtyTypeId || 1
      },
      checkedSurfaceIds () {
        return this.$store.getters.getCheckedSurfaceIds
      },
      checkedSubConditionIds () {
        return this.$store.getters.getCheckedSubConditionIds
      },
      subserviceHoursMeters () {
        let hoursMeters = this.$store.getters.getSubserviceHoursMeters

        let grouped = _.groupBy(hoursMeters, hm => hm.add_service_id)

        return grouped
      },
      price () {
        return this.$store.getters.getPrice || 0
      },
    },
    methods: {
      confirmServices (addService) {
        this.getStepAmount(addService).then(res => {
          let data = res.data
          this.$store.dispatch('changeCheckedServices', {
            id: addService.id,
            value: true,
            full_price: data.amount,
            hours: data.hours,
            realty_type_id: addService.realty_type_id
          })
          $('#table-accept').modal('show')
        })
      },
      checkSurface (surface) {
        let classElemet = document.querySelector('#surfaces-' + surface.id).className
        if (classElemet.split(' ').length === 3) {
          this.$store.dispatch('setCheckedSurfaceIds', {
            id: surface.id
          })
        } else {
          this.$store.dispatch('removeCheckedSurfaceIds', {
            id: surface.id
          })
        }
      },
      inSubscription (id) {
        return this.subscription && this.subscription.addServices.find(item => item.id === id)
      },
      checkAllSubConditions: function (id) {
        var checked = $('#main-check-' + id).prop('checked')
        $('#main-check-' + id).prop('checked', !checked)
        if(checked){
          $('.condition-number-' + id).prop('checked', function (i, val) {
            return false
          })
        }
        else{
          $('.condition-number-' + id).prop('checked', function (i, val) {
            return true
          })
        }
        var condition = this.orderViewModel.conditions.filter((item) => {
          if (item.id === id) return item.subConditions
        })
        console.log($('.condition-number-' + id + ':checked'))
        if($('.condition-number-' + id + ':checked').length > 0){
          for (var subCondition in condition[0].subConditions) {
            this.$store.dispatch('setCheckedSubConditionIds', {
              id: +condition[0].subConditions[subCondition].id
            })
          }
        }
        else{
          for (var subCondition in condition[0].subConditions) {
            this.$store.dispatch('removeCheckedSubConditionIds', {
              id: +condition[0].subConditions[subCondition].id
            })
          }
        }


      },
      checkSubConditions (event,condition) {
        let id = +event.target.value
        let count_checked = $('.condition-number-' + condition +':checked').length
        let all_subconditions =  $('.condition-number-' + condition).length
        console.log(condition,id,count_checked,all_subconditions)
        if (event.target.checked) {
          this.$store.dispatch('setCheckedSubConditionIds', {
            id: +event.target.value
          })
          if (id <= 3) {
            let element = document.querySelector('#main-check-1')
            element.checked = true
          }
          if (id > 3 && id <= 6) {
            let element = document.querySelector('#main-check-2')
            element.checked = true
          }
          if (id > 6) {
            let element = document.querySelector('#main-check-3')
            element.checked = true
          }
        } else {
          this.$store.dispatch('removeCheckedSubConditionIds', {
            id: +event.target.value
          })
          if (id <= 3 && count_checked < 1) {
            let element = document.querySelector('#main-check-1')
            element.checked = false
          }
          if (id > 3 && id <= 6 && count_checked < 1) {
            let element = document.querySelector('#main-check-2')
            element.checked = false
          }
          if (id > 6 && count_checked < 1) {
            let element = document.querySelector('#main-check-3')
            element.checked = false
          }
        }
      },
      getStepAmount (addService) {
        let data = {
          meters: this.$store.getters.getMeters,
          addSubService: parseInt(addService.id)
        }
        return orderService.getStepAmount(data)
      },
      checkBuyClearKit (event) {
        this.$store.dispatch('setBuyClearKit', this.clear_kit)
        $('#pdf').modal('hide')
//        $('#step-1').goTo()
      },
      washLinens(){
        let price = this.$store.getters.getPriceWithooutServ
        if(this.washLinen) {
          this.$store.dispatch('setFlatPrice', price + 5)
        }
        else{
          this.$store.dispatch('setFlatPrice',price - 5)
        }
      },
      cleanFurnitures(){
        let price = this.$store.getters.getPriceWithooutServ
        if(this.cleanFurniture) {
          this.$store.dispatch('setFlatPrice', price + 25)
        }
        else {
          this.$store.dispatch('setFlatPrice', price - 25)
        }
      }

    }
  }
</script>

<style scoped>
  .service-quality-modal {
    width: 80%;
    margin: 0 auto;
  }
</style>
