<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
  require('./../src/assets/js/slider')
  require('./../src/assets/js/tabs')
  require('./../src/assets/js/script')

  export default {
    name: 'app',
    mounted() {
      let subscription = localStorage.getItem('subscription')
      if (subscription !== null) {
        localStorage.removeItem('subscription')
      }
      // this.$router.push({name: 'Home'})
      this.$store.dispatch('setLoginErrors', null)
      localStorage.removeItem('User')
      localStorage.removeItem('flatMeters')
      localStorage.removeItem('officeMeters')
      localStorage.removeItem('checkedAddSubServicesObj')
      localStorage.removeItem('express')
      localStorage.removeItem('cityId')
      localStorage.removeItem('hours')
      localStorage.removeItem('price')
    },
    beforeCreate () {
      this.$store.dispatch('setImgSlider', require('./assets/images/flat/Wedding_10.jpg'))
      this.$store.dispatch('setLoginErrors', null)
    },
    beforeUpdate () {
      this.$store.dispatch('setLoginErrors', null)
      this.$store.dispatch('setRegisterErrors', '')
    }
  }
</script>

<style scoped lang="sass">
    @import "../src/assets/css/bootstrap.min.css"
    @import "../src/assets/css/fonts.css"
    @import "../src/assets/css/head-foot.css"
    @import "../src/assets/css/style.css"
    @import "../src/assets/css/more-styles.css"
</style>
