<template>
    <div class="login">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="container">
                    <div class="setup-content">
                        <section class="third-tab">
                            <form>
                                <fieldset class="form-registration">
                                    <h2 class="registration-title">Accedi</h2>
                                    <h2>Dati di accesso</h2>
                                    <div class="form-inline form-group-first">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="email" title="email" v-model="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" title="password" v-model="password">
                                        </div>
                                    </div>
                                    <div class="forgot-password">
                                        <div v-if="forgot">
                                            <label>Inserisci la tua email per recuperare la password.</label>
                                            <input type="text" v-model="forgot_email" required>
                                            <div>
                                                <p>{{ response  }}</p>
                                                <p style="color: red">{{ errors  }}</p>
                                            </div>
                                            <div class="button-registration">
                                                <button class="btn btn-default" @click="forgotPassword">INVIA</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-registration" v-if="!wait">
                                        <div class="alert alert-danger text-center" v-show="loginErrors">
                                            <strong>{{ loginErrors }}</strong>
                                        </div>
                                        <button type="button" class="btn btn-default" @click="login">Entra</button>
                                        <button type="button" class="btn btn-default" @click="register">Registrati</button>
                                        <div v-if="!forgot">
                                            <button type="button" class="btn btn-default" style="width: auto !important;" @click="forgot = true">Hai dimenticato la password?</button>
                                        </div>
                                      <div class="instagram">
                                        <fb-signin-button
                                          class="fb-signin-button"
                                          :params="fbSignInParams"
                                          @success="onSignInSuccess"
                                          @error="onSignInError">
                                          Accedi con  Facebook
                                        </fb-signin-button>
                                        <a class=" insta-signin-button"
                                           href="https://api.instagram.com/oauth/authorize/?client_id=258c779fac96403abfe70d51a69b36de&redirect_uri=https://backend.spotlessitalia.com/api/instagram&response_type=code&hl=ru">
                                          Accedi con  Instagram
                                        </a>
                                        <button class="google-button"@click="signIn">Accedi con  Google</button>
                                      </div>

                                    </div>
                                    <vue-simple-spinner v-else=""></vue-simple-spinner>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu  v-if="$route.path !== '/registration'"></footer-menu>
    </div>
</template>

<script>
  import headerMenu from '../menu/HeaderMenu.vue'
  import footerMenu from '../menu/FooterMenu.vue'
  import userService from '../../api/userService'
  import VueSimpleSpinner from '../../../node_modules/vue-simple-spinner/src/components/Spinner.vue'
  import FBSignInButton from 'vue-facebook-signin-button'
  import GoogleAuth from 'vue-google-auth'
  import Vue from 'vue'
  export default {
    name: 'login',
    data () {
      return {
        email: '',
        password: '',
        forgot: false,
        forgot_email: '',
        response: '',
        errors: '',
        wait: false,
        fbSignInParams: {
          scope: 'email',
          return_scopes: true
        },
        face: null,
        user: null,
        token:'',
        expires_in:'',
      }
    },
    mounted () {
      if( localStorage.getItem('token')){
        this.$router.push({name:'Home'})
      }

      //eslint-disable-next-line
     // this.face = FB
    },
    computed: {
      loginErrors () {
        return this.$store.getters.getLoginErrors
      }
    },
    methods: {
      signIn: function () {
        let _this = this
        Vue.googleAuth().directAccess()
        Vue.googleAuth().signIn(function (googleUser) {
          userService.getGoogleId(googleUser[Object.keys(googleUser)[0]]).then(response =>{
            if(!response.data.error){
              _this.$auth.setToken(response.data.token, response.data.expires_in + Date.now())
              _this.$store.dispatch('getCurrentUser')
              _this.$router.push({name:'Home'})
            }
            alert('Il suo account non è legato con il profilo social ')
          })
        }, function (error) {
          // things to do when sign-in fails
        })
      },
      onSignInSuccess (response) {
        FB.api('/me?fields=email,name,first_name,middle_name,last_name,short_name', response => {
          //this.user = response
          if(response.id){
            userService.getUserByFacebookId(response.id).then(responce =>{
              if(!responce.data.error){
                this.$auth.setToken(responce.data.token, responce.data.expires_in + Date.now())
                this.$store.dispatch('getCurrentUser')
                this.$router.push({name:'Home'})
              }
              alert('Il suo account non è legato con il profilo social ')
            })
          }

        })
      },
      onSignInError (error) {
        console.log('OH NOES', error)
      },
      login () {
        this.wait = true
        new Promise((resolve, reject) => {
          let data = {
            user: {
              email: this.email,
              password: this.password
            },
            resolve,
            reject
          }
          if (this.$store.dispatch('login', data)) {
          } else {
            this.wait = false
          }
        }).then(() => {
          this.wait = false
          if (localStorage.getItem('isRegisterStep') === 'yes') {
            this.$router.push({name: 'Payment'})
          } else {
            this.$router.push({name: 'PersonalArea'})
          }
        }).catch(() => {
          this.wait = false
        })
      },
      register () {
        this.$router.push({name: 'Register'})
      },
      forgotPassword (event) {
        event.preventDefault()
        userService.forgotPassword(this.forgot_email).then((response) => {
          this.response = response.data
        }).catch((response) => {
          this.errors = response.response.data.email[0]
        })
      }
    },
    components: {
      VueSimpleSpinner,
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
    }
  }
</script>

<style scoped lang="sass">
    @import "../../assets/css/service.css"
    @import "../../assets/css/step-registr.css"
</style>
<style>
  .instagram{
    margin-bottom: 15px;
  }

  .fb-signin-button {
    /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
  }
  .insta-signin-button{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .insta-signin-button:hover{
    color: #fff;
    text-decoration: none;
  }
  .google-button{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    color: #000;
    background: #fff;
    border:1px solid #ccc;
    cursor: pointer;
  }

</style>
