<template>
    <div class="register">
        <header-menu></header-menu>
        <main>
            <div id="content">
                <div class="container">
                    <div class="setup-content" id="step-3">
                        <section class="third-tab">
                            <form>
                                <fieldset class="form-registration">
                                    <h2 class="registration-title">Registrazione</h2>
                                    <h2>Dati di accesso</h2>
                                    <div class="form-inline form-group-first">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="email" title="email" v-model="user.email">
                                            <div class="alert alert-danger" v-for="err of errors.email">
                                                {{ err }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" title="password" v-model="user.password" @change="verifyPassword">
                                            <div class="alert alert-danger" v-for="err of errors.password">
                                                {{ err }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipologia cliente</label>
                                            <select class="form-control" title="tipologia" v-model="user.type" required @change="changeUserType">
                                                <option value="persona">Persona</option>
                                                <option value="azienda">Azienda</option>
                                            </select>
                                            <div class="alert alert-danger" v-for="err of errors.type">
                                                {{ err }}
                                            </div>
                                        </div>
                                    </div>
                                    <div v-show="user.type == 'persona'">
                                        <h2>Informazioni personali</h2>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Codice fiscale</label>
                                                <input type="text" title="text" v-model="user.fiscal_code">
                                                <div class="alert alert-danger" v-for="err of errors.fiscal_code">
                                                    {{ err }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Nome</label>
                                                <input type="text" title="text" v-model="user.name">
                                                <div class="alert alert-danger" v-for="err of errors.name">
                                                    {{ err }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Cognome</label>
                                                <input type="text" title="text" v-model="user.surname">
                                                <div class="alert alert-danger" v-for="err of errors.surname">
                                                    {{ err }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Sesso</label>
                                                <select class="form-control" title="tipologia" v-model="user.gender" required>
                                                    <option value="male">Uomo</option>
                                                    <option value="female">Donna</option>
                                                </select>
                                                <div class="alert alert-danger" v-for="err of errors.gender">
                                                    {{ err }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline third-row">
                                            <div class="form-group">
                                                <label>Data di nascitа</label>
                                                <div class="data-time-elem">
                                                    <date-picker v-model="user.date_birthday" :option="options" :date="date"></date-picker>
                                                    <!--<input type="date" v-model="user.date_birthday"
                                                           placeholder="Date"  required>-->
                                                    <span class="icon-arrow-after" tabindex="0"></span>
                                                    <div class="alert alert-danger" v-for="err of errors.date_birthday">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Numero di telefono</label>
                                                <input type="text" title="text" v-model="user.phone">
                                                <div class="alert alert-danger" v-for="err of errors.phone">
                                                    {{ err }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lg-form-inline">
                                            <label>Indirizzo dell'ambiente da pulire</label>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-7 reg-info">
                                                    <input type="text" title="text" placeholder="Via" v-model="user.address">
                                                    <div class="alert alert-danger" v-for="err of errors.address">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 reg-info">
                                                    <input type="text" title="text" class="form-group-elem" placeholder="Numero civico" v-model="user.house_number">
                                                    <div class="alert alert-danger" v-for="err of errors.house_number">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-7 reg-info">
                                                    <label>Città</label>
                                                    <select class="form-control" title="type" v-if="cities" v-model="user.city_id" required>
                                                        <option rel="icon-temperature" v-for="city of cities" :value="city.id">
                                                            {{ city.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.city_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 reg-info">
                                                    <label>Provincia</label>
                                                    <select class="form-control" title="type" v-if="provinces" v-model="user.province_id">
                                                        <option rel="icon-temperature" v-for="province of provinces" :value="province.id">
                                                            {{ province.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.province_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-5 reg-info">
                                                    <input type="text" title="text" class="form-group-elem" placeholder="CAP" v-model="user.post_index">
                                                    <div class="alert alert-danger" v-for="err of errors.post_index">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 reg-info">
                                                    <input type="text" title="text" class="form-group-elem" placeholder="Citofono" v-model="user.domofon">
                                                </div>
                                                <div class="col-sm-3 reg-info">
                                                    <input type="text" title="text" placeholder="Etichetta" v-model="user.domofon_text">
                                                </div>
                                            </div>
                                        </div>
                                      <div class="checkbox-form">
                                        <input id="option6" type="checkbox" name="field" value="option" v-model="isSubscribe" >
                                        <label class="checkbox-label" for="option6"><span></span>Iscriviti alla nostra newsletter e resta aggiornato sulle nostre novità e promozioni
                                        </label>
                                      </div>
                                    </div>
                                    <div v-show="user.type == 'azienda'">
                                        <h2>Fatturazione</h2>
                                        <div class="form-inline">
                                            <div class="form-group reg-info">
                                                <label>Ragione sociale</label>
                                                <input type="text" title="text" class="form-group-elem" placeholder="" v-model="user.firm_name">
                                                <div class="alert alert-danger" v-for="err of errors.firm_name">
                                                    {{ err }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lg-form-inline">
                                            <label>Indirizzo</label>
                                            <div class="form-group col-xs-12 col-sm-12">
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-7 reg-info">
                                                        <input type="text" title="text" placeholder="Via" v-model="user.address">
                                                        <div class="alert alert-danger" v-for="err of errors.address">
                                                            {{ err }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 reg-info">
                                                        <input type="text" title="text" class="form-group-elem" placeholder="Numero civico" v-model="user.house_number">
                                                        <div class="alert alert-danger" v-for="err of errors.house_number">
                                                            {{ err }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 reg-info reg-info-phys">
                                                    <label>Città</label>
                                                    <select class="form-control" title="type" v-if="cities" v-model="user.city_id">
                                                        <option rel="icon-temperature" v-for="city of cities" :value="city.id">
                                                            {{ city.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.city_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xs-12 reg-info">
                                                    <label>Provincia</label>
                                                    <select class="form-control" title="type" v-if="provinces" v-model="user.province_id">
                                                        <option rel="icon-temperature" v-for="province of provinces" :value="province.id">
                                                            {{ province.title }}
                                                        </option>
                                                    </select>
                                                    <div class="alert alert-danger" v-for="err of errors.province_id">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group lg-form-inline-elem col-sm-12">
                                                <div class="col-xs-12 col-sm-6 reg-info reg-info-phys">
                                                    <input type="text" title="text" class="form-group-elem" placeholder="CAP" v-model="user.post_index">
                                                    <div class="alert alert-danger" v-for="err of errors.post_index">
                                                        {{ err }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-12 reg-info-phys-last">
                                                <input type="text" title="text" placeholder="C.F. - P.IVA" v-model="user.fiscal_code">
                                                <div class="alert alert-danger" v-for="err of errors.fiscal_code">
                                                    {{ err }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox-form">
                                            <input id="option5" type="checkbox" name="field" value="option" v-model="isConfidentCheck" @click="checkConfident">
                                            <label class="checkbox-label" for="option5"><span></span>Accetto senza riserve le Condizioni di privacy
                                              <router-link :to="{name: 'privacy'}">
                                                (Leggi le Condizioni di privacy)
                                              </router-link>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="button-registration">
                                        <button id="registerBtnId" type="button" class="btn btn-default" v-text="user.type ? 'REGISTRATI' : 'PROCEDI' " @click="register"></button>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
  import headerMenu from '../menu/HeaderMenu.vue'
  import footerMenu from '../menu/FooterMenu.vue'
  import DatePicker from 'vue-datepicker/vue-datepicker-es6'

  export default {
    name: 'register',
    data: () => {
      return {
        isConfidentCheck: true,
        isSubscribe:false,
        user: {
          type: '',
          name: null,
          email: null,
          password: null,
          fiscal_code: null,
          surname: null,
          gender: null,
          date_birthday: null,
          phone: null,
          address: null,
          house_number: null,
          city_id: null,
          province_id: null,
          domofon: null,
          domofon_text: null,
          firm_name: null,
          post_index: null,
          role: 'client',
          isSubscribe:false
        },
        options: {
          type: 'day',
          format: 'DD/MM/YYYY',
          week: ['Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab','Dom'],
          month: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
          placeholder: ''
        },
        date: {
          time: '' // string
        }
      }
    },
    computed: {
      cities () {
        return this.$store.getters.allCities
      },
      provinces () {
        return this.$store.getters.allProvinces
      },
      errors () {
        return this.$store.getters.getRegisterErrors
      }
    },
    beforeCreate () {
      this.$store.dispatch('getCities', () => {
      })
      this.$store.dispatch('getProvinces', () => {
      })
    },
    beforeRouteLeave (to, from, next) {
      localStorage.setItem('User', JSON.stringify(this.user))
      next()
    },
    methods: {
      changeUserType (event) {
        let el = document.querySelector('#registerBtnId')
        this.$store.dispatch('setRegisterErrors', '')
        if (event.target.value === 'azienda') {
          el.disabled = true
          this.isConfidentCheck = false
        } else {
          el.disabled = false
          this.isConfidentCheck = true
        }
      },
      verifyPassword(){
        if(this.user.password.length < 6){
          this.$store.dispatch('setRegisterErrors', {password:['Minimo 6 caratteri']})
        }
      },
      verifyLength(){
        if(this.user.fiscal_code.length >16){
         this.user.fiscal_code = this.user.fiscal_code.slice(0,16)
        }
      },
      checkConfident (event) {
        this.isConfidentCheck = event.target.checked
        let el = document.querySelector('#registerBtnId')
        el.disabled = event.target.checked !== true
      },
      register (event) {
        this.user.date_birthday = this.date.time
        this.user.isSubscribe = this.isSubscribe
        if (this.isConfidentCheck === true) {
          this.$store.dispatch('register', {
            user: this.user,
            success: () => {
              if (localStorage.getItem('isRegisterStep') === 'yes') {
                this.$router.push({name: 'Payment'})
              } else {
                this.$router.push({name: 'PersonalArea'})
              }
            }
          })
        }
      }
    },
    mounted () {
      if (localStorage.getItem('User', this.user)) {
        this.user = JSON.parse(localStorage.getItem('User'))
      }
    },
    components: {
      'headerMenu': headerMenu,
      'footerMenu': footerMenu,
      DatePicker
    }
  }
</script>

<style scoped lang="sass">
    @import "../../assets/css/service.css"
    @import "../../assets/css/flatpickr.min.css"
</style>
